<% var data = { title: "Дополнительные услуги" }; %> 
<%= _.template(require('./../includes/header_2.html').default)(data) %>
<%= _.template(require('./../includes/top_menu.html').default)() %> 
<%= _.template(require('./../includes/add_menu.html').default)() %> 
<!-- _.template(require('./../includes/add_menu_services.html').default)() %> -->

<section class="page-content">
<div class="container">
  <div class="row page_top">
    <div class="headline col-lg-9">
      <h1>Политика в области качества</h1>
    </div>
    <section class="bread-crumbs col-lg-3">
      <span><a href="./index.html">Главная</a></span>
      <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
        <path
          d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
        />
      </svg>
      <span><a href="#">О нас</a></span>
      <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
        <path
          d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
        />
      </svg>
      <span><a href="about_rusline.html">Политика в области качества</a></span>
    </section>
  </div>
<!--  -->
  <div class="row">
    <div class="col-lg-9">
      <h3 class="mb30">Высшее руководство АО АК «РусЛайн» (далее по тексту Авиакомпания) заявляет о политике в области качества для гарантированного уровня безопасности полетов, эффективности деятельности Авиакомпании, удовлетворения существующих и предполагаемых требований потребителей.</h3>
      <p class="p1 mb30">
        Высшее руководство Авиакомпании разрабатывает, внедряет и развивает стратегию системы управления качеством и берет на себя обязательства по поддержанию соответствия Авиакомпании требованиям стандартов и постоянном улучшении эффективности системы управления качеством.
        <br><br>
        Генеральный директор и руководство Авиакомпании отвечают за качество выполненных работ и продукта, предоставляемого потребителю, а также за оценку эффективности и постоянное улучшение системы управления качеством в Авиакомпании.
      </p>
      <ul class="text-list">
        <h3>В деятельности Авиакомпании соблюдаются основные положения политики в области качества:</h3>
        <li>создание условий для предоставления конкурентоспособного продукта требуемого качества, установленного путем анализа пожеланий потребителей, и оптимизации маршрутной сети, исходя из наибольшей социальной значимости маршрутов перевозки, с учетом мнений региональных администраций и крупных государственных и акционерных производственных структур;</li>
        <li>обеспечение постоянного интереса потребителей продуктом Авиакомпании, через обновление парка воздушных судов, внедрения новых современных технологий, оптимизации ценовой политики и качества обслуживания на бортах воздушных судов Авиакомпании;</li>
        <li>согласованное и сбалансированное определение и разграничение обязанностей, полномочий, ответственности и взаимодействия всех сотрудников Авиакомпании, а также распределение задач и целей для структурных подразделений Авиакомпании и документирование всех процессов Авиакомпании на всех этапах производственного цикла;</li>
        <li>постоянная деятельность в области повышения профессионального уровня персонала Авиакомпании и его вовлеченности в процессы системы управления качеством для повышения эффективности системы управления качеством на каждом участке деятельности Авиакомпании;</li>
        <li>совершенствование системы управления качеством путем выполнения Программы гарантии качества с должным уровнем оценки каждого выявленного несоответствия для гарантированного предупреждения их повторного появления.</li>
        <li>установление взаимовыгодных отношений с поставщиками услуг Авиакомпании, обеспечение четкого и открытого обмена информацией, позволяющего производить совместные действия по улучшению их деятельности и как следствие повышать качество продукта Авиакомпании.</li>
      </ul>
      <p class="p1">
        Политика является элементом стратегического управления Авиакомпанией и предназначена для формирования стратегии развития Авиакомпании на период до трех лет. В случае изменения стратегии Авиакомпании, данная политика пересматривается с целью поддержания ее соответствия установленным целям.
      </p>
    </div>
    <div class="col-lg-3">
      <div class="img_wrapper">
        <img src="img/faq_st_2.jpg" alt="">
      </div>
    </div>
  </div>
</div>
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>
