<% var data = { title: "Дополнительные услуги" }; %> 
<%= _.template(require('./../includes/header_2.html').default)(data) %>
<%= _.template(require('./../includes/top_menu.html').default)() %> 
<%= _.template(require('./../includes/add_menu.html').default)() %> 
<!-- _.template(require('./../includes/add_menu_services.html').default)() %> -->

<section class="page-content">
<div class="container">
  <div class="row page_top">
    <div class="headline col-lg-9">
      <h1>Авиакомпания Руслайн</h1>
    </div>
    <section class="bread-crumbs col-lg-3">
      <span><a href="./index.html">Главная</a></span>
      <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
        <path
          d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
        />
      </svg>
      <span><a href="#">О нас</a></span>
      <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
        <path
          d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
        />
      </svg>
      <span><a href="about_rusline.html">Авиакомпания Руслайн</a></span>
    </section>
  </div>
<!--  -->

  <div class="row">
    <div class="col-lg-3">
      <p class="p1">Авиакомпания «РусЛайн» - крупнейший региональный перевозчик в Российской Федерации, выполняющий пассажирские регулярные и чартерные перевозки. Основной целью деятельности авиакомпании является восстановление перспективной сети маршрутов по территории РФ и ближнего зарубежья путем организации подвоза пассажиров из небольших городов РФ в региональные центры на среднемагистральных самолетах.</p>
    </div>
    <div class="col-lg-9">
      <div class="img-wrapper"><img src="./img/B100.jpg" alt=""></div>
    </div>
  </div>
  <!-- history -->
  <section class="timeline row mb60">
    <div class="col-lg-2"><h3>История авиакомпании</h3></div>
    <div class="timeline-wrapper col-lg-10">
      <!-- <div class="timeline_year"><h3>1997</h3></div> -->
      <div class="owl-carousel owl-theme timeline-list">
        <div class="timeline-year item"><span>1997</span></div>
        <div class="timeline-year item"><span>2003</span></div>
        <div class="timeline-year item"><span>2005</span></div>
        <div class="timeline-year item"><span>2006</span></div>
        <div class="timeline-year item"><span>2007</span></div>
        <div class="timeline-year item"><span>2009</span></div>
        <div class="timeline-year item"><span>2010</span></div>
        <div class="timeline-year item"><span>2011</span></div>
        <div class="timeline-year item"><span>2012</span></div>
        <div class="timeline-year item"><span>2013</span></div>
        <div class="timeline-year item"><span>2014</span></div>
        <div class="timeline-year item"><span>2015</span></div>
        <div class="timeline-year item"><span>2016</span></div>
        <div class="timeline-year item"><span>2017</span></div>
        <div class="timeline-year item"><span>2018</span></div>
        <div class="timeline-year item"><span>2019</span></div>
        <div class="timeline-year item"><span>2020</span></div>
      </div>
      <!-- <div class="timeline_year"><h3>2020</h3></div> -->
    </div>
  </section>
  <section class="timeline_description row">
    <div class="col-lg-2">
      <h3>1997</h3>
      <h3>2003</h3>
      <h3>2005</h3>
      <h3>2006</h3>
      <h3>2007</h3>
      <h3>2009</h3>
      <h3>2010</h3>
      <h3>2011</h3>
      <h3>2012</h3>
      <h3>2013</h3>
      <h3>2014</h3>
      <h3>2015</h3>
      <h3>2016</h3>
      <h3>2017</h3>
      <h3>2018</h3>
      <h3>2019</h3>
      <h3>2020</h3>
    </div>
    <div class="col-lg-8">
      <div class="description-list">
        <ul class="description-item">
          <li>Создание авиакомпании-оператора чартерных рейсов;</li>
        </ul>
        <ul class="description-item">
          <li>Получение сертификата эксплуатанта;</li>
          <li>Осуществление регулярных рейсов и чартеров на ЯК-40, ЯК-42, ТУ-134 в комплектации эконом, а также VIP-перевозок на специально оборудованных ЯК-40 и ТУ-134;</li>
        </ul>
        <ul class="description-item">
          <li>Лауреат премии «Крылья России-2005» в номинации «Авиакомпания года – деловая авиация»;</li>
        </ul>
        <ul class="description-item">
          <li>Лауреат премии «Крылья России-2006» в номинации «Авиакомпания года – деловая авиация»;</li>
        </ul>
        <ul class="description-item">
          <li>Авиакомпания становится первым российским оператором региональных канадских самолётов Bombardier CRJ-100/200; </li>
        </ul>
        <ul class="description-item">
          <li>Начало реализации долгосрочной стратегии развития региональных перевозок;</li>
          <li>Запуск планомерного развития сети маршрутов из Домодедово;</li>
          <li>Основание дочерней компании «РусЛайн Техник», занимающейся ТО парка ВС «РусЛайн»;</li>
        </ul>
        <ul class="description-item">
          <li>Начало выполнения полётов из Волгограда;</li>
          <li>Смена аэропорта базирования в Москве (с Внуково на Домодедово);</li>
          <li>Старт уникального пилотного проекта развития региональной авиации, совместно с аэропортом Кольцово (начало выполнения полётов в Новый Уренгой, Томск, Барнаул, Надым, Краснодар, Ростов-на-Дону и Минеральные Воды);</li>
          <li>Приобретение контрольного пакета акций шведской компании Airline Support Sweden A.B., призванной выполнять базовые формы ТО парка ВС авиакомпании «РусЛайн»;</li>
          <li>Дипломант премии «Крылья России-2010» в номинации «Авиакомпания года – пассажирский перевозчик на региональных маршрутах».</li>
        </ul>
        <ul class="description-item">
          <li>Лауреат премии «Золотая колесница» в номинации «Лучшее российское региональное предприятие воздушного транспорта»;</li>
          <li>Лауреат премии «Крылья России-2011» в номинации «Авиакомпания года – пассажирский перевозчик на внутренних воздушных линиях в группе IV (объем пассажирских перевозок на ВВЛ от 0,05 до 0,5 млрд пкм)» и дипломант в номинации «Авиакомпания года – пассажирский перевозчик на региональных маршрутах»;</li>
          <li>Появление в парке ВС «РусЛайн» региональных Embraer-120;</li>
          <li>Открытие новой региональной программы на ВС этого типа при поддержке Кольцово (в Магнитогорск);</li>
          <li>Основание компании FAST air с целью предоставления логистических услуг как АК «РусЛайн», так и сторонним авиакомпаниям;</li>
          <li>Покупка акций компании «Сириус аэро» (бизнес-авиация);</li>
          <li>Выделение компании ФАСТ эйр из отдела логистики авиакомпании «РусЛайн» для совершенствования услуг по закупке авиационных запчастей и предложению их авиакомпаниям РФ и стран СНГ;</li>
        </ul>
        <ul class="description-item">
          <li>Появление в парке ВС Airbus A 319;</li>
          <li>Дипломант премии «Крылья России-2012» в номинации «Авиакомпания года – пассажирский перевозчик на внутренних воздушных линиях в группе IV (объем пассажирских перевозок на ВВЛ от 0,05 до 0,5 млрд пкм)»;</li>
          <li>Появление в парке ВС «РусЛайн» двух Airbus A319;</li>
          <li>Запуск нового сайта;</li>
          <li>Победа в тендере на выполнение рейсов Петрозаводск – Москва, Иваново – Москва, Иваново – Санкт-Петербург, Ярославль – Москва и Ярославль – Санкт-Петербург;</li>
          <li>Вход руководства компании в состав рабочей группы по развитию региональных авиаперевозок, сформированной при Министерстве транспорта РФ;</li>
          <li>Развитие региональных перевозок из Пулково;</li>
        </ul>
        <ul class="description-item">
          <li>Начало выполнения региональных перевозок в рамках программы субсидирования региональных перевозок, утверждённых Правительством РФ;</li>
          <li>Победа в тендере на выполнение 22-х дотационных рейсов в рамках Программы субсидирования региональных перевозок, утвержденной Правительством РФ;</li>
          <li>Дипломант премии «Крылья России-2013» в номинации «Авиакомпания года – пассажирский перевозчик на региональных маршрутах в группе I» и дипломант в номинации «Авиакомпания года – пассажирский перевозчик на внутренних воздушных линиях в группе III - IV (объем пассажирских перевозок на ВВЛ от 0,05 до 1 млрд пкм)»;</li>
          <li>В ежегодной премии аэропорта Пулково LED TOGETHER авиакомпания «РусЛайн» объявлена лучшим региональным перевозчиком по итогам года;</li>
        </ul>
        <ul class="description-item">
          <li>Открытие двух линий базового ТО в г. Рига;</li>
          <li>Расширение сферы деятельности на типы Hawker BAE-125, Boeing 737CL, Challenger 601, 604, 605;</li>
          <li>Лауреат премии «Крылья России-2014» в номинации «Авиакомпания года - пассажирский перевозчик на региональных маршрутах»;</li>
          <li>В ежегодной премии аэропорта Пулково LED TOGETHER авиакомпания «РусЛайн» объявлена лучшим региональным перевозчиком по итогам года;</li>
        </ul>
        <ul class="description-item">
          <li>Достигнута договорённость о выполнении региональных перевозок из Тюмени и Ростова-на-Дону в 2016 году;</li>
          <li>Лауреат ежегодной премии аэропорта Воронеж в номинации «Лидер региональных маршрутов»;</li>
          <li>В ежегодной премии аэропорта Пулково LED TOGETHER авиакомпании «РусЛайн» объявлена лучшим региональным перевозчиком по итогам года;</li>
          <li>Развитие направлений из Домодедово в европейские города;</li>
          <li>Обновление сайта авиакомпании;</li>
        </ul>
        <ul class="description-item">
          <li>Открытие региональных перевозок из Тюмени и Ростова-на-Дону;</li>
          <li>Дальнейшее развитие маршрутной сети из Екатеринбурга;</li>
          <li>Развитие направлений из Домодедово и Пулково в европейские города со средним пассажиропотоком (Вильнюс, Осло и Паланга);</li>
          <li>Введение новой системы бронирования авиабилетов на сайте;</li>
          <li>Запуск нового сайта авиакомпании и его адаптация под мобильные устройства;</li>
          <li>Создание официального мобильного приложения «РусЛайн»;</li>
          <li>Дипломант премии "Крылья России-2016" в номинации «Авиакомпания года - пассажирский перевозчик на региональных маршрутах».</li>
        </ul>
        <ul class="description-item">
          <li>Открытие ряда новых рейсов в Европу из Домодедово (Лейпциг, Рига), Пулково (Берген, Паланга, Таллин) и Калининграда (Берлин, Прага);</li>
          <li>Начало полетов в Турцию (Самсун) из Краснодара;</li>
          <li>Открытие новых региональных направлений из Тамбова и Курска в Москву, Санкт-Петербург, Сочи и Анапу;</li>
          <li>Старт полетов из аэропорта Шереметьево в Киров, Липецк и Пензу (при сохранении выполнения данных рейсов из Домодедово);</li>
          <li>Ввод новых услуг "Выбор места в самолете" и "Свободное место рядом" во всех регионах маршрутной сети, "Онлайн-регистрация на места в начале салона";</li>
          <li>Контракт с HOTELS.COM (сервис по бронированию отелей) на размещение рекламы бренда на фюзеляже самолёта Bombardier CRJ-100 с бортовым номером VQ-BVK;</li>
          <li>Лидерство по пунктуальности во II категории среди авиакомпаний-партнеров аэропорта Домодедово (по итогам ежемесячного рейтинга "Just in time" за весенне-летний сезон 2017 г.);</li>
          <li>Лауреат ежегодной премии аэропорта Воронеж в номинации "Лидер региональных маршрутов;</li>
          <li>Лауреат премии "Крылья России-2017" в номинации «Внутренние авиаперевозки в группе 3» (объем перевозок на ВВЛ за 2017 г. до 0,7 млн пассажиров) и дипломант в номинации «Авиаперевозки на региональных маршрутах».</li>
        </ul>
        <ul class="description-item">
          <li>Смена аэропорта базирования в Москве с Домодедово на Внуково;</li>
          <li>Лидерство по итогам ежемесячного конкурса пунктуальности Международного аэропорта «Казань» за март 2018 года среди авиакомпаний-партнеров воздушной гавани, выполняющих до 50 рейсов в месяц;</li>
          <li>Победа первого номера бортового журнала «Время РусЛайн» на Всероссийском конкурсе «Лучшее Корпоративное Медиа-2018» АКМР в номинации «Дебют года»;</li>
          <li>Открытие новых направлений из Кольцово в Сыктывкар (Коми), Ноябрьск (ЯНАО), Нижнекамск (Татарстан), Надым (ЯНАО), Нижневартовск (ХМАО) и Белоярский (ХМАО); Нижнекамск - Минеральные Воды, Липецк – Краснодар; в Симферополь из Воронежа, Калуги, Курска, Липецка, Саратова и Тамбова; в Москву из Нягани, Саратова, Калуги; Санкт-Петербург – Саратов, Курск - Минеральные Воды, Нижнекамск – Нижний Новгород – Санкт-Петербург, Екатеринбург – Барнаул;</li>
          <li>Заключение код-шер и интерлайн-соглашений с Utair, благодаря чему для пассажиров стали доступны полёты со стыковками на рейсах двух авиакомпаний по свыше чем 700 маршрутам;</li>
          <li>Признание «РусЛайн» одной из самых пунктуальных авиакомпаний по итогам 2018 года, выполняющих рейсы из аэропорта Кольцово;</li>
          <li>Лауреат ежегодной премии аэропорта Воронежа в номинации «Лидер региональных маршрутов» по итогам 2018 года;</li>
          <li>Лауреат премии "Крылья России-2018" в номинации «Внутренние авиаперевозки в группе 3» (объем перевозок на ВВЛ за 2018 г. до 0,7 млн пассажиров);</li>
          <li>Ввод дополнительной услуги «Бизнес-зал» во Внуково и Бегишево;</li>
          <li>Ввод онлайн-услуги «Выбор места в самолете»;</li>
          <li>Запуск торговли на борту совместно с лидером рынка по производству питания для авиапассажиров – компанией «Аэромар»;</li>
          <li>Запуск специальной программы для часто летающих пассажиров – «Деловой проездной»;</li>
          <li>Расширение маршрутной сети совместно с авиакомпанией «Армения» по код-шеринговому соглашению, благодаря чему стали возможны перелёты по направлениям Минеральными Воды – Ереван, Воронеж – Ереван.</li>
        </ul>
        <ul class="description-item">
          <li>Открытие новых рейсов из Нарьян-Мара в Санкт-Петербург, Архангельск, Киров, Екатеринбург, Уфу и Челябинск; из Калининграда в Воронеж, Белгород и Липецк; из Саранска в Екатеринбург, Минеральные Воды, Москву и Сочи; из Красноярска в Белоярский, Новый Уренгой, Ноябрьск и Надым; из Брянска в Москву, Анапу, Казань, Симферополь и Минеральные Воды; из Калуги в Анапу и Казань; из Ярославля в Сочи и Симферополь; Екатеринбург - Горно-Алтайск, Воронеж - Анапа, Йошкар-Ола - Москва;</li>
          <li>Победа бортового журнала «Время РусЛайн» на Всероссийском конкурсе «Лучшее Корпоративное Медиа-2019» АКМР в номинации «Лучшее медиа в сфере досуга и развлечений»;</li>
          <li>Запуск услуги «Любить.Летать» с полной информацией о полёте за 24 часа до вылета;</li>
          <li>Победа команды бортпроводников в профессиональном конкурсе в рамках IV Международного Форума SkyService 2019 – 2 место (серебро);</li>
          <li>Победа бортпроводницы Екатерины Российской в номинации «Мисс зрительских симпатий» на первом международном конкурсе красоты Sky Lady 2019;</li>
          <li>Начало предоставления льготных перевозочных билетов для военных по ВПД МО РФ;</li>
          <li>Победа в премии «Рейтинг пунктуальности авиакомпаний» Международного аэропорта Внуково по итогам осенне-зимнего сезона 2018-2019 гг. в номинации «Наиболее динамичное развитие региональной маршрутной сети»;</li>
          <li>Ввод новой летней формы для бортпроводников;</li>
          <li>Ввод новых правил провоза ручной клади и багажа, а также тарифов для покупки дополнительных мест ручной клади и багажа;</li>
          <li>Лауреат Евразийской премии в области авиационного маркетинга 2019 года в номинации «Авиакомпания года» в группе С в рамках Евразийского форума по развитию маршрутов – NETWORK;</li>
          <li>Получение сертификата IOSA;</li>
          <li>Начало обслуживания пассажиров по электронным посадочным талонам в региональных аэропортах;</li>
          <li>Победа в номинации «За развитие региональных перевозок» в рамках премии «Рейтинг пунктуальности авиакомпаний» Международного аэропорта Внуково имени А.Н. Туполева по итогам весенне-летнего сезона 2019 года;</li>
          <li>Запуск новой услуги для пассажиров «Обратный звонок с сайта» для получения оперативной информации о полете без ожидания.</li>
        </ul>
        <ul class="description-item">
          <li>Открытие новых рейсов из Йошкар-Олы в Санкт-Петербург, из Екатеринбурга в Нижневартовск, из Саранска в Санкт-Петербург, из Сыктывкара в Архангельск, Краснодар, Самару, Калининград, Нарьян-Мар и Екатеринбург, из Тамбова в Краснодар и Екатеринбург, из Воронежа в Тюмень, из Нарьян-Мара в Краснодар, из Калининграда в Петрозаводск и Псков, из Мурманска в Петрозаводск, из Пскова в Анапу, из Екатеринбурга в Уфу и Самару;</li>
          <li>Пополнение маршрутной сети проекта М2 (программа трансферных перевозок VKO Connect) тремя направлениями - Казань, Минеральные Воды и Нарьян-Мар;</li>
          <li>Запуск собственного блога о путешествиях по России на сайте;</li>
          <li>Получение сертификата о вступлении в Международную ассоциацию воздушного транспорта (IATA);</li>
          <li>Запуск сервиса покупки авиабилетов в кредит и рассрочку на сайте;</li>
          <li>Получение награды в категории «Развитие регионов. Авиакомпания года – группа 2» для перевозчиков с пассажиропотоком от 0,4 до 1 млн человек на внутренних линиях по итогам 2019 года в рамках премии «Крылья России 2019»;</li>
          <li>Лидерство по итогам ежемесячного рейтинга пунктуальности воздушной гавани Международного аэропорта «Казань» среди авиакомпаний-партнеров в апреле с показателем регулярности полётов 100%;</li>
          <li>Внедрение мобильного решения для продажи дополнительных услуг в аэропорту совместно с «Сиреной».</li>
        </ul>
      </div>
    </div>
  </section>

</div>
</section>

<script src="js/jquery-3.5.0.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/timeline.js"></script>

<script>
  $('.owl-carousel').owlCarousel({
    navContainerClass:'timeline_nav',
    navClass:['nav_prev', 'nav_next'],
    navText:["1997", "2020"],
    startPosition:11, /// стартовая позиция слайдов (2019)
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:6
        }
    }
})
</script>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>
