<% var data = { title: "Дополнительные услуги" }; %>
<%= _.template(require('./../includes/header_2.html').default)(data) %>
<%= _.template(require('./../includes/top_menu.html').default)() %>
<%= _.template(require('./../includes/add_menu.html').default)() %>
<!-- _.template(require('./../includes/add_menu_services.html').default)() %> -->

<section class="page-content">
  <div class="container">
    <div class="row page_top">
      <div class="headline col-lg-9">
        <h1>Авиакомпания Руслайн</h1>
      </div>
      <section class="bread-crumbs col-lg-3">
        <span><a href="./index.html">Главная</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z" />
        </svg>
        <span><a href="#">О нас</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z" />
        </svg>
        <span><a href="about_rusline.html">Авиакомпания Руслайн</a></span>
      </section>
    </div>
    <!--  -->
    <div class="row">
      <div class="col-lg-9">
        <h3 class="mb30 mt40 red">ОФИСЫ В РОССИИ</h3>
        <div class="dropdown-list">
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Москва</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col">
                    <h2 class="mb15">Генеральный агент авиакомпании РусЛайн ООО «АВИА ПЛЮС»</h2>
                    <p class="p2">Москва, 107113, ул. Маленковская, д. 14, корпус 1 (м. Сокольники)</p>
                    <p class="p2">Режим работы: Пн - ПТ: с 10.00 до 19.00;</p>
                    <p class="p2 mb8">Суббота: с 10.00 до 18.00.</p>
                    <p class="p2 phone-icon red">+7 (495) 332-37-81</p>
                    <p class="p2 mail-icon red mb30">
                      <a class="text-link" href="mailto:avia@inna.ru">avia@inna.ru</a>
                    </p>
                    <p class="p2">Аэропорт Внуково, cтойка № 13</p>
                    <p class="p2">Режим работы: круглосуточно</p>
                    <p class="p2">Перерыв: ПН - ПТ: с 2.00 до 3.00 и с 13.30 до 14.30</p>
                    <p class="p2">Суббота: с 02.00 до 03.00 и с 13.50 до 14.30</p>
                    <p class="p2 mb8">Воскресенье: с 02.00 до 03.20 и с 13.30 до 14.30</p>
                    <p class="p2 phone-icon red">8 (495) 663-77-53 доб. 777</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Архангельск</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col">
                    <p class="p2 mb8">пр.Троицкий, д.94</p>
                    <p class="p2 phone-icon red">8-800-100-13-13</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Белоярский</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col">
                    <p class="p2 mb8">Аэропорт</p>
                    <p class="p2 phone-icon red mb15">+7 (34670) 6-22-83</p>
                    <p class="p2 mb8">ул. Молодости, д. 2А</p>
                    <p class="p2 phone-icon red">+7 (34670) 2-48-10</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Волгоград</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col">
                    <p class="p2 mb8">Аэропорт Гумрак</p>
                    <p class="p2 phone-icon red">+7 (8442) 35-75-90</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Воркута</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col">
                    <p class="p2 mb8">ул. Ленина, д.58б</p>
                    <p class="p2 phone-icon red">8-800-100-13-13</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Воронеж</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col">
                    <h2 class="mb15">Генеральный агент авиакомпании РусЛайн ООО «АВИА ПЛЮС»</h2>
                    <p class="p2">г. Воронеж, Бакунинский переулок 11, 1 этаж;</p>
                    <p class="p2">Режим работы: с 08:00 до 20:00</p>
                    <p class="p2 mb8">без перерывов и выходных;</p>
                    <p class="p2 phone-icon red">+7 (473) 262-20-02;</p>
                    <p class="p2 mail-icon red mb15">
                      <a class="text-link" href="mailto:5555@rusline.aero">5555@rusline.aero</a>,
                      <a class="text-link" href="mailto:24@inna.ru">24@inna.ru</a>
                    </p>
                    <h3>Бронирование билетов по телефону круглосуточно!</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Грозный</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col">
                    <p class="p2 mb8">пр. Путина, 12</p>
                    <p class="p2 phone-icon red mb15">+7 (8712) 22-35-11</p>
                    <p class="p2 mb8">пр. Путина, 18/87</p>
                    <p class="p2 phone-icon red mb15">+7 (8712) 22-45-17</p>
                    <p class="p2 mb8">ул. Маяковского, 92 (Дом Печати)</p>
                    <p class="p2 phone-icon red mb15">+7 (8712) 22-47-36</p>
                    <p class="p2 mb8">с. Знаменское, ул. Заводская, 25</p>
                    <p class="p2 phone-icon red mb15">+7 (8713) 22-25-67</p>
                    <p class="p2 mb8">Аэропорт, 26</p>
                    <p class="p2 phone-icon red">+7 (8712) 29-48-90, моб. (968) 808-95-73</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Иваново</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col">
                    <p class="p2 mb8">г. Иваново, Лежневское шоссе д.3, (аэропорт «Иваново»)</p>
                    <p class="p2 phone-icon red">+7 (4932) 57 42 02;</p>
                    <p class="p2 mail-icon red">
                      <a class="text-link" href="mailto:kassa@ivavia.ru">kassa@ivavia.ru</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Красноярск</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col">
                    <p class="p2 mb8">ул. Авиаторов, 19, МВДЦ «Сибирь»</p>
                    <p class="p2 phone-icon red">+7 (391) 298-90-35</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Нарьян-Мар</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col">
                    <p class="p2 mb8">Аэропорт, 2 этаж</p>
                    <p class="p2 phone-icon red mb15">8-800-100-13-13</p>
                    <p class="p2 mb8">ул. Смидовича, д.18</p>
                    <p class="p2 phone-icon red mb15">8-800-100-13-13</p>
                    <p class="p2 mb8">ул. Смидовича, д.25</p>
                    <p class="p2 phone-icon red">8-800-100-13-13</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Нижневартовск</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col">
                    <p class="p2 mb8">ул. Интернациональная, д. 39, гостиница «Венеция»</p>
                    <p class="p2 phone-icon red mb15">+7 (3466) 261-000</p>
                    <p class="p2 mb8">ул. Омская, д. 11, «Сити-центр»</p>
                    <p class="p2 phone-icon red mb15">+7 (3466) 41-36-33</p>
                    <p class="p2 mb8">ул. Чапаева, д. 49Б</p>
                    <p class="p2 phone-icon red">+7 (3466) 463-000</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Новочеркасск</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col">
                    <p class="p2">ООО "Тетра-Тур"</p>
                    <p class="p2 mb8">Ростовская обл., г. Новочеркасск, ул. Московская, 67/2</p>
                    <p class="p2 phone-icon red"> +7 (8635) 22-35- 72</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Ростов-на-Дону</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col">
                    <p class="p2">ООО "Тетра-Тур"</p>
                    <p class="p2 mb8">пр. Ворошиловский, 50/87</p>
                    <p class="p2 phone-icon red mb15">+7 (863) 290-47-92, 290-47-93</p>
                    <p class="p2">ООО "Тетра-Тур"</p>
                    <p class="p2 mb8">пр. Шолохова, 270/1 (в здании Аэровокзала, касса №8)</p>
                    <p class="p2 phone-icon red">+7 (863) 276-70-70, 276-70-71</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Северодвинск</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col">
                    <p class="p2 mb8">пр.Труда 12,</p>
                    <p class="p2 phone-icon red">+7 (8184) 50-16-48, +7 (8184) 50-15-11</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Сургут</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col">
                    <p class="p2 mb8">ул. Университетская, д. 23/4,</p>
                    <p class="p2 phone-icon red mb15">+7 (3462) 22-03-33</p>
                    <p class="p2 mb8">Аэропорт, гостиница «Полет»</p>
                    <p class="p2 phone-icon red mb15">+7 (3462) 770-998</p>
                    <p class="p2 mb8">ул. Майская, д. 10</p>
                    <p class="p2 phone-icon red mb15">+7 (3462) 24-17-40</p>
                    <p class="p2 mb8">ул. Республики, д. 71</p>
                    <p class="p2 phone-icon red mb15">+7 (3462) 23-06-06</p>
                    <p class="p2 mb8">ул. Югорская, д. 15</p>
                    <p class="p2 phone-icon red mb15">+7 (3462) 511-830</p>
                    <p class="p2 mb8">ул. Аэрофлотская, д. 50, Аэропорт, зал вылета, 2 этаж,</p>
                    <p class="p2 phone-icon red">+7 (3462) 770-004</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Сыктывкар</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col">
                    <p class="p2 mb8">ул. Интернациональная, д.133,</p>
                    <p class="p2 phone-icon red mb15">8-800-100-13-13</p>
                    <p class="p2 mb8">пр-т Бумажников, д.53г,</p>
                    <p class="p2 phone-icon red">8-800-100-13-13</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Тамбов</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col">
                    <h2 class="mb15">Генеральный агент авиакомпании РусЛайн ООО "АВИА ТУР"</h2>
                    <p class="p2">Тамбовская обл., с. Донское, микрорайон Аэропорт</p>
                    <p class="p2">Режим работы:</p>
                    <p class="p2">Пн, Ср, Чт: с 9:00 до 15:00</p>
                    <p class="p2">Вт, Пт: с 9:00 до 16:00</p>
                    <p class="p2">Перерыв с 12:00 до 13:00</p>
                    <p class="p2 mb8">Суббота, воскресенье: выходной</p>
                    <p class="p2 phone-icon red">+7 (3462) 22-03-33</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Тюмень</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col">
                    <p class="p2 mb8">Аэропорт «Рощино», касса № 4</p>
                    <p class="p2 phone-icon red mb15">+7 (3452) 45-31-31 доставка авиабилетов</p>
                    <p class="p2 mb8">ул. Первомайская, д. 58</p>
                    <p class="p2 phone-icon red mb15">+7 (3452) 45-31-31</p>
                    <p class="p2 mb8">ул. Республики, д. 156/3</p>
                    <p class="p2 phone-icon red">+7 (3452) 45-31-31</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Ульяновск</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col">
                    <p class="p2">ОАО "Аэропорт Ульяновск" (Баратаевка)</p>
                    <p class="p2 mb8">Адрес: ул. Авиационная, д. 20, г. Ульяновск, Россия, 432045</p>
                    <p class="p2 phone-icon red">Справочная служба: +7 (8422) 455-644</p>
                    <p class="p2 phone-icon red">Авиакасса +7 (8422) 758571, круглосуточно.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Усинск</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col">
                    <p class="p2 mb8">ул. Нефтяников, д.44</p>
                    <p class="p2 phone-icon red">8-800-100-13-13</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Ухта</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col">
                    <p class="p2 mb8">ул. 30 лет Октября, д.4</p>
                    <p class="p2 phone-icon red">8-800-100-13-13</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Шахты</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col">
                    <p class="p2">ООО "Тетра-Тур"</p>
                    <p class="p2 mb8">Ростовкая обл., г. Шахты, ул. Шевченко, 82</p>
                    <p class="p2 phone-icon red">+7 (8636) 25-76-57</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item mb30">
            <div class="item_title">
              <h4>Элиста</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col">
                    <p class="p2">ООО «ЛАДА-АВИА»</p>
                    <p class="p2 mb8">ул. Ленина, д. 245</p>
                    <p class="p2 phone-icon red mb15">+7 (84722) 5-48-77, +7 (84722) 2-76-00</p>
                    <p class="p2">ООО «Туристическая компания «ИНТЕРЛАЙН»</p>
                    <p class="p2 mb8">ул. Губаревича, д.5, офис 102,</p>
                    <p class="p2 phone-icon red">+7 (84722) 5-38-64, +7 (84722) 5-23-56, +7 (84722) 2-54-53</p>
                    <p class="p2 phone-icon red mb15">Факс: +7 (84722) 2-38-16</p>
                    <p class="p2">ООО «Аэропорт «Элиста»</p>
                    <p class="p2 mb8">ул. Ленина, д.249, офис 205</p>
                    <p class="p2 phone-icon red">+ 7 (84722) 427-28</p>
                    <p class="p2 mail-icon red">eoao-aero@yandex.ru</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  -->
          <h3 class="mb30 red">ОФИСЫ ЗА РУБЕЖОМ</h3>
          <!--  -->
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Актобе, Казахстан</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col">
                    <p class="p2">ТОО «Трансавиа»</p>
                    <p class="p2 mb8">пр. Абая, 2</p>
                    <p class="p2 phone-icon red mb15">+7 (7132) 56-18-42, 54-02-54</p>
                    <p class="p2">АО «Международный аэропорт Актобе»</p>
                    <p class="p2 mb8">Авиагородок</p>
                    <p class="p2 phone-icon red mb15">+7 (7132) 21-88-68</p>
                    <p class="p2">ТОО «ЕвроТранзитПлюс»</p>
                    <p class="p2 mb8">пр. Абылкаир хана, 69, оф.37</p>
                    <p class="p2 phone-icon red">+7 (7132) 51-30-82</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Стамбул, Турция</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col">
                    <p class="p2 mb8">Katip Kasim Pasa Mahalesi Oustafa Kemal Pasa Cadesi Deniz Saray APT.NO 49/12
                      Aksaray
                    </p>
                    <p class="p2 phone-icon red mb15">+90 212 638 21 26, +90 212 638 21 27</p>
                    <p class="p2 mb8">IDTM EGS Business Park Bloklari Carsi Blok NO 23 Yesilkoy</p>
                    <p class="p2 phone-icon red mb15">+90 212 444 66 75</p>
                    <p class="p2 mb8">M.Kemal Pasa Cad. Bulvar Pasaji Kat:3 NO:52 Aksaray</p>
                    <p class="p2 phone-icon red mb15">+90 212 632 86 72</p>
                    <p class="p2 mb8">SAW Airort Office: Yeni Dis Hatlar Terminali NO:DL1207 Kurtkoy</p>
                    <p class="p2 phone-icon red mb15">+90 216 588 88 00</p>
                    <p class="p2 mb8">YUZYIL Turizm & Lojistik Inebey Mah. M.Kemalpasa Bulvari Inkilap Cad. Senkaya Is
                      hani NO:2 K.1 Fatih – Aksaray</p>
                    <p class="p2 phone-icon red">+90 212 530 45 01</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Эстония, Литва, Латвия</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col">
                    <p class="p2">Aviareps</p>
                    <p class="p2 mb8">Katusepapi Street 6, 11412 Tallinn, Estonia</p>
                    <p class="p2 phone-icon red">+372 66 81 009</p>
                    <p class="p2 mail-icon red">Rusline.Baltics@aviareps.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>