<% var data = { title: "Дополнительные услуги" }; %> 
<%= _.template(require('./../includes/header_2.html').default)(data) %>
<%= _.template(require('./../includes/top_menu.html').default)() %> 
<%= _.template(require('./../includes/add_menu.html').default)() %> 
<!-- _.template(require('./../includes/add_menu_services.html').default)() %> -->

<section class="page-content">
<div class="container">
  <div class="row page_top">
    <div class="headline col-lg-9">
      <h1>Дополнительные услуги</h1>
    </div>
    <section class="bread-crumbs col-lg-3">
      <span><a href="./index.html">Главная</a></span>
      <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
        <path
          d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
        />
      </svg>
      <span><a href="#">Сервисы</a></span>
      <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
        <path
          d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
        />
      </svg>
      <span><a href="./additional_services.html">Дополнительные услуги</a></span>
    </section>
  </div>
  <div class="row">
    <p class="p1 col-lg-9">
      При оформлении авиабилета на сайте авиакомпания предлагает приобрести дополнительные услуги, чтобы сделать ваше путешествие более комфортным.
    </p>
  </div>
  <div class="list-of-squares">
    <div class="square-item">
      <a href="./services_ad-services_insurance.html">
        <h4>Страхование</h4>
        <img src="./img/insurance.jpg" alt="">
        <p>Lorem ipsum, dolor sit amet consectetur.</p>
      </a>
    </div>
    <div class="square-item">
      <a href="./services_ad-services_site selection.html">
        <h4>Выбор места в салоне при оформлении билета на сайте</h4>
        <img src="./img/seat_selection_q.jpg" alt="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit amet consectetur adipisicing.</p>
      </a>
    </div>
    <div class="square-item">
      <a href="./services_ad-services_web-registration.html">
        <h4>Выбор места в салоне при web-регистрации</h4>
        <img src="./img/place_in_the_cabin.jpg" alt="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit amet consectetur adipisicing.</p>
      </a>
    </div>
    <div class="square-item">
      <a href="./services_ad-services_extra-baggage.html">
        <h4>Дополнительный багаж</h4>
        <img src="./img/selection_baggage.jpg" alt="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit amet consectetur adipisicing.</p>
      </a>
    </div>
    <div class="square-item">
      <a href="./services_ad-services_business lounge.html">
        <h4>Бизнес-зал</h4>
        <img src="./img/business-lounge.jpg" alt="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit amet consectetur adipisicing.</p>
      </a>
    </div>
    <div class="square-item">
      <a href="./services_ad-services_aeroexpress.html">
        <h4>Аэроэкспресс</h4>
        <img src="./img/aeroexpress.jpg" alt="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit amet consectetur adipisicing.</p>
      </a>
    </div>
    <div class="square-item">
      <a href="./services_ad-services_detailed-information.html">
        <h4>Подробная информация о рейсе </h4>
        <img src="./img/info_q.jpg" alt="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit amet consectetur adipisicing.</p>
      </a>
    </div>
    <div class="square-item">
      <a href="./services_ad-services_nutrition.html">
        <h4>Питание</h4>
        <img src="./img/food_q.jpg" alt="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit amet consectetur adipisicing.</p>
      </a>
    </div>
  </div>
</div>
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>
