<% var data = { title: "Дополнительные услуги" }; %>
<%= _.template(require('./../includes/header_2.html').default)(data) %>
<%= _.template(require('./../includes/top_menu.html').default)() %>
<%= _.template(require('./../includes/add_menu.html').default)() %>
<!-- _.template(require('./../includes/add_menu_services.html').default)() %> -->

<section class="page-content">
  <div class="container">
    <div class="row page_top">
      <div class="headline col-lg-9">
        <h1>Агентам</h1>
      </div>
      <section class="bread-crumbs col-lg-3">
        <span><a href="./index.html">Главная</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z" />
        </svg>
        <span><a href="#">Бизнесу</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z" />
        </svg>
        <span><a href="about_rusline.html">Агентам</a></span>
      </section>
    </div>
    <!--  -->
    <div class="row">
      <div class="col-lg-9">
        <div class="dropdown-list">
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>ADM-политика</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col">
                    <p class="p2 file-icon mb8">
                      <a href="https://www.rusline.aero/partners/agents/rules-and-instructions/ADM-policy%20RusLine.pdf"
                        class="text-link">ADM-policy RusLine 2015</a>
                    </p>
                    <p class="p2 file-icon mb8">
                      <a href="https://www.rusline.aero/partners/agents/rules-and-instructions/%D0%94%D0%9F-9010-02%20%D0%9802%20%D0%A000%20%D0%AD4_rus.pdf"
                        class="text-link">ADM-политика для BSP агентов 2017 (рус)</a>
                    </p>
                    <p class="p2 file-icon mb8">
                      <a href="https://www.rusline.aero/partners/agents/rules-and-instructions/DP-9010-02%20I02%20R00%20C4_eng.pdf"
                        class="text-link">ADM-policy for BSP agents 2017 (eng)</a>
                    </p>
                    <p class="p2 file-icon">
                      <a href="https://www.rusline.aero/partners/agents/%D0%94%D0%9F-9010-01%20%D0%9802%20%D0%A000%20%D0%AD4%D0%BF.pdf"
                        class="text-link">ADM-политика для ТКП и прямых агентов (рус)</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Трансферные перевозки</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col">
                    <p class="p2 file-icon mb8">
                      <a href="https://www.rusline.aero/partners/agents/transfer/Pamyatka_aviakassiry.docx"
                        class="text-link">Продажа трансферной перевозки по сквозным тарифам в рамках Многостороннего
                        соглашения «Внуково Трансфер Сервис» М2.</a>
                    </p>
                    <p class="p2 file-icon mb8">
                      <a href="https://www.rusline.aero/partners/agents/transfer/technology_svx.pdf"
                        class="text-link">Технология продажи трансферной перевозки через Екатеринбург по специальным
                        сквозным тарифам.</a>
                    </p>
                    <p class="p2 file-icon">
                      <a href="https://www.rusline.aero/partners/agents/transfer/technology_transfer_novosibirsk.pdf"
                        class="text-link">Памятка для авиакассиров в рамках соглашения М2 через аэропорт Новосибирск
                        «Толмачево».</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Агентам-участникам BSP Россия</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col">
                    <h3 class="mb15">Уважаемые агенты!</h3>
                    <p class="p1 mb15">Авиационная компания «РусЛайн» в ноябре 2016 года вступила в членство BSP Россия.
                      <br>
                      Для открытия доступа к информационным ресурсам АО АК «РусЛайн» (7R) в рамках проекта BSP Россия:
                    </p>
                    <ul class="number-list mb30">
                      <li>Ознакомьтесь с <a
                          href="https://www.rusline.aero/partners/agents/agents_BSP_Russia/Instructions_to_the_agents_of_Russia_2.pdf"
                          class="text-link">Инструкцией </a>"Продажа и оформление перевозок на рейсы АО АК «РусЛайн»
                        агентами, работающими с использованием системы взаиморасчетов BSP на территории РФ".</li>
                      <li>Оформите заявку на доступ согласно <a href="" class="text-link">форме.</a></li>
                    </ul>
                    <h3 class="mb15">Документы:</h3>
                    <p class="p2 file-icon mb8">
                      <a href="https://www.rusline.aero/partners/agents/agents_BSP_Russia/Instructions_to_the_agents_of_Russia_2.pdf"
                        class="text-link">Инструкция "Продажа и оформление перевозок на рейсы АО АК «РусЛайн» агентами,
                        работающими с использованием системы взаиморасчетов BSP на территории РФ"</a>
                    </p>
                    <p class="p2 file-icon mb15">
                      <a href="https://www.rusline.aero/partners/agents/agents_BSP_Russia/Notice_to_the_agents_of_Russia.pdf"
                        class="text-link">Уведомление агентам-участникам BSP Россия.</a>
                    </p>
                    <p class="p1">По интересующим Вас вопросам можете обращаться по адресу:</p>
                    <p class="p2 mail-icon">
                      <a class="text-link" href="mailto:e.borovikova@rusline.aero">e.borovikova@rusline.aero</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Инструкции</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col">
                    <p class="p2 file-icon">
                      <a href="https://www.rusline.aero/for_agents/instr(website).pdf" class="text-link">Технология
                        внесения контактных данных пассажиров</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>