<% var data = { title: "Дополнительные услуги" }; %>
<%= _.template(require('./../includes/header_2.html').default)(data) %>
<%= _.template(require('./../includes/top_menu.html').default)() %>
<%= _.template(require('./../includes/add_menu.html').default)() %>

<section class="page-content">
  <div class="container">
    <div class="row page_top">
      <div class="headline col-lg-9">
        <h1>Дополнительная информация</h1>
      </div>
      <section class="bread-crumbs col-lg-3">
        <span><a href="./index.html">Главная</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z" />
        </svg>
        <span><a href="#">Пассажирам</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z" />
        </svg>
        <span><a href="for-passengers_booking-rules.html">Правила брониро ...</a></span>
      </section>
    </div>
    <div class="row">
      <div class="col-lg-9">
        <div class="dropdown-list mt40 m-mt15">
          <!--  -->
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Какие документы нужны для отчетности о перелете?</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <p class="p1">Согласно письму Министерства финансов РФ от 01.02.2011 №03-03-07/1 подтверждением расходов на покупку электронного билета служат маршрут/квитанция электронного билета и оригинал посадочного талона.
                  <br><br>
                  При оказании услуг пассажирам (в том числе дополнительных услуг, оказываемых в соответствии с Федеральными авиационными правилами, утв. Приказом Минтранса РФ от 28.07.2007 № 82) при взимании сборов и платы используется электронный многоцелевой документ (ЭМД) , в котором информация об услуге, сборе или плате представлена в электронно-цифровой форме. Выдача (направление в электронном виде по информационно-телекоммуникационной сети) покупателю квитанции электронного многоцелевого документа, содержащей обязательные реквизиты, установленные Приказом Минтранса от 18.05.2010 № 116, является выдачей бланка строгой отчетности, подтверждающего получение оплаты от покупателя наличными денежными средствами (посредством платежной карты).
                  <br><br>
                  Сохраняйте данные документы после совершения полета.</p>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Как подтвердить факт перелета, если посадочный талон утерян?</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <p class="p1">В случае утери посадочного талона Вы можете обратиться за выдачей справки, подтверждающей факт перелета. Для получения справки необходимо заполнить заявление установленного образца, оплатить услугу и передать заявление для обработки. Ознакомьтесь <a class="text-link" href="#"> с порядком получения справки о перелете</a> более подробно.</p>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Как подтвердить факт оплаты билета, приобретенного на официальном сайте Авиакомпании?</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <p class="p1">В случае необходимости подтверждения факта оплаты авиабилета, приобретенного на сайте, Вы можете обратиться за выдачей соответствующей справки. Для получения справки необходимо заполнить заявление установленного образца, оплатить услугу и передать заявление для обработки. Ознакомьтесь с <a class="text-link" href="#">порядком получения справки</a> более подробно.</p>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Каким образом я могу получить подтверждение задержки или отмены рейса?</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <p class="p1">Если Ваш рейс был отменен или задержан, Вы можете получить отметку о данном факте на стойке информации в аэропорту в день вылета рейса. В случае, если получение отметки в аэропорту не представляется по каким-либо причинам возможным, Вы можете запросить справку, ознакомившись с информацией в разделе <a class="text-link" href="#">"Справки для пассажиров".</a></p>
              </div>
            </div>
          </div>
          <!--  -->                                        
        </div>

        <div class="back mt40">
          <a href="for-passengers_FAQ.html">
            <div class="back_arrow"></div>
            <span class="span_14">Вернуться назад</span>
          </a>
        </div>
      </div>
      <div class="col-lg-3 desktop">
        <div class="img-wrapper">
          <img src="./img/faq_st_2.jpg" alt="">
        </div>
      </div>
    </div>

  </div>
  </div>
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>