<% var data = { title: "Дополнительные услуги" }; %>
<%= _.template(require('./../includes/header_2.html').default)(data) %>
<%= _.template(require('./../includes/top_menu.html').default)() %>
<%= _.template(require('./../includes/add_menu.html').default)() %>

<section class="page-content">
  <div class="container">
    <div class="row page_top">
      <div class="headline col-lg-9">
        <h1>Управление бронированием</h1>
      </div>
      <section class="bread-crumbs col-lg-3">
        <span><a href="./index.html">Главная</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z" />
        </svg>
        <span><a href="#">Пассажирам</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z" />
        </svg>
        <span><a href="for-passengers_booking-rules.html">Правила брониро ...</a></span>
      </section>
    </div>
    <div class="row">
      <div class="col-lg-9">
        <div class="dropdown-list mt40 m-mt15">
          <!--  -->
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Что делать, если при приобретении билета была допущена ошибка в ФИО?</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <p class="p1">Ошибки в фамилии и имени пассажира в оформленном билете не допускаются. В случае если
                  ошибка допущена, необходимо произвести обмен билета.</p>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Как я могу обменять билет на другую дату и время вылета?</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <p class="p1">Добровольное изменение даты и времени вылета разрешается в соответствии с действующими
                  правилами перевозок, если иное не оговаривается специальными условиями применения тарифа для Вашей
                  первоначальной перевозки и только в рамках авиакомпании «РусЛайн». Обращаем Ваше внимание, что
                  некоторые тарифы невозможно обменять после вылета рейса.
                  <br><br>
                  В разделе <a class="text-link" href="#"> "Тарифы и условия"</a> Вы можете более подробно ознакомиться
                  с условиями применения тарифов авиакомпании.</p>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Я не смогу воспользоваться перелетом, могу ли я поменять билет на другого пассажира?</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <p class="p1">Обмен билета на другого пассажира невозможен, так как изменение фамилии, отчества или
                  имени пассажира в авиабилете требует оформления нового авиабилета.</p>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Можно ли поменять направление в билете?</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <p class="p1">Переоформление авиабилета на другое направление правилами Авиакомпании не запрещается,
                  если иное не предусмотрено правилами применения тарифа, по которому приобретен Ваш билет.</p>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Как переоформить билет в случае отмены или задержки рейса?</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <p class="p1">В случае отмены или задержки рейса с Вами свяжется сотрудник центра поддержки клиентов и
                  предложит альтернативные варианты перевозки.
                  <br><br>
                  Вы можете самостоятельно связаться с <a class="text-link" href="#">представителем авиакомпании</a> в аэропорту или позвонить в
                  круглосуточную службу поддержки клиентов и бронирования билетов по телефону: 8 809 505 46 69
                  (стоимость звонка от 64 до 68 руб./мин. с учетом НДС, в зависимости от оператора связи, включая время
                  ожидания и разговора с менеджером). Для звонков из других стран +7 (495) 933-23-33.
                  <br><br>
                  Вы также можете обратиться для переоформления авиабилета по месту приобретения.</p>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Я приобрел билет с невозвратным тарифом. Что мне делать?</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <p class="p1">К сожалению, при приобретении невозвратного тарифа, провозная плата возврату пассажиру не подлежит, если иное не оговорено условиями применения тарифа, по которому приобретен Ваш билет.
                  Обращаем Ваше внимание, что многие тарифы предусматривают возможность обменять билет. Уточняйте данную информацию при приобретении авиабилета, а также по телефону круглосуточной службы поддержки клиентов и бронирования билетов 8 809 505 46 69 (стоимость звонка от 64 до 68 руб./мин. с учетом НДС, в зависимости от оператора связи, включая время ожидания и разговора с менеджером). Для звонков из других стран +7 (495) 933-23-33.</p>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Как вернуть билет, если мой рейс был отменен или задержан?</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <p class="p1">В случае отмены или задержки рейса Вы можете вернуть стоимость всей или частично использованной перевозки согласно правилам Вашего тарифа без удержания штрафов и сборов по месту приобретения. В случае изменения времени вылета рейса возврат будет возможен только в том случае, если Вы заблаговременно аннулировали места в бронировании. Сделать это можно, позвонив в круглосуточную службу поддержки клиентов и бронирования билетов по телефону 8 809 505 46 69 (стоимость звонка от 64 до 68 руб./мин. с учетом НДС, в зависимости от оператора связи, включая время ожидания и разговора с менеджером). Для звонков из других стран +7 (495) 933-23-33.</p>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Я заболел и не смог воспользоваться билетом. Как мне оформить возврат денег?</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <p class="p1">Если вы пропустили рейс из-за болезни, предоставьте авиакомпании оригинал медицинского документа (справки, листа нетрудоспособности или выписки из истории болезни) с указанием, что на момент полета вы находились в лечебном учреждении. Если вас к тому времени уже выписали, но по медицинским показаниям запретили лететь, то потребуется также соответствующая справка от лечащего врача (с указанием периода, в который действовал запрет). Возврат оформляется по месту приобретения. Обращаем Ваше внимание, что возврат будет возможен только в том случае, если Вы заблаговременно аннулировали места в бронировании.</p>
              </div>
            </div>
          </div>
          <!--  -->

        </div>

        <div class="back mt40">
          <a href="for-passengers_FAQ.html">
            <div class="back_arrow"></div>
            <span class="span_14">Вернуться назад</span>
          </a>
        </div>
      </div>
      <div class="col-lg-3 desktop">
        <div class="img-wrapper">
          <img src="./img/faq_st_2.jpg" alt="">
        </div>
      </div>
    </div>

  </div>
  </div>
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>