<% var data = { title: "Дополнительные услуги" }; %> <%=
_.template(require('./../includes/header_2.html').default)(data) %> <%=
_.template(require('./../includes/top_menu.html').default)() %> <%=
_.template(require('./../includes/add_menu.html').default)() %>

<section class="page-content">
  <div class="container">
    <div class="row page_top">
      <div class="headline col-lg-9">
        <h1>Бронирование онлайн</h1>
      </div>
      <section class="bread-crumbs col-lg-3">
        <span><a href="./index.html">Главная</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
          />
        </svg>
        <span><a href="#">...</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
          />
        </svg>
        <span><a href="for-passengers_booking-rules.html">Правила ...</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
          />
        </svg>
        <span
          ><a href="for-passengers_booking-rules_online-booking.html"
            >Бронирование ...</a
          ></span
        >
      </section>
    </div>
    <div class="row">
      <div class="col-lg-9">
        <h2 class="subtitle mb30">
          АО Авиакомпания «РусЛайн» предоставляет услуги по онлайн-бронированию
          и онлайн-оплате мест на рейсы «РусЛайн» на сайте авиакомпании.
        </h2>
        <p class="p1 mb30">
          Прежде чем воспользоваться данной услугой ознакомьтесь с правилами
          бронирования онлайн.
        </p>
        <ul class="text-list">
          <h3 class="mb15">
            Для покупки авиабилета необходимо выполнить следующие действия:
          </h3>
          <li>Задайте параметры поиска перелета;</li>
          <li>Выберите рейсы и тарифы;</li>
          <li>Введите данные пассажиров;</li>
          <li>Выберите дополнительные услуги;</li>
          <li>
            Оплатите билет и получите маршрут-квитанцию электронного билета на
            указанный Вами электронный адрес.
          </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h3 class="mb8">Оплатить билет можно банковской картой:</h3>
        <p class="p2 mb15">
          VISA International, Mastercard International, Diners Club
          International, JCB International или МИР.
        </p>
        <p class="mb8"><a class="p2 file-icon red" href="#">Публичная оферта на оказание услуг бронирования, оформления и продажи услуг авиаперевозки.</a>
        </p>
        <p><a class="p2 file-icon red" href="#">Инструкция по оплате банковской картой онлайн на сайте авиакомпании.</a>
        </p>
      </div>
    </div>
      <div class="row">
        <div class="col">
          <h2 class="subtitle">Порядок действий при бронировании:</h2>
          <div class="dropdown-list">
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>1. Поиск рейса</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <div class="partition">
                    <figure>
                      <img src="./img/bron_1.jpg" alt="" />
                      <figcaption>
                        Рис.1 Форма поиска
                      </figcaption>
                    </figure>
                    <div class="roulette">
                      <div class="wrapper-row mb30">
                        <div class="one">
                          <div class="top"></div>
                          <h3 class="red">Задайте маршрут полета</h3>
                          <p class="p2">(откуда - куда);</p>
                        </div>
                        <div class="two">
                          <div class="top"></div>
                          <h3 class="red">Введите желаемые даты вылетов</h3>
                          <p class="p2">
                            «туда» и при необходимости «обратно»;
                          </p>
                        </div>
                        <div class="three">
                          <div class="top"></div>
                          <h3 class="red">Выберите количество пассажиров</h3>
                          <p class="p2">
                            (взрослых, детей (от 2 до 12 лет) и детей (от 0 до 2
                            лет), которые могут лететь с местом или без него)
                            <br /><br />В одном заказе возможно ввести максимум
                            9 пассажиров.
                          </p>
                        </div>
                      </div>
                      <div class="wrapper-row center">
                        <h3 class="red mr15">Нажмите кнопку</h3>
                        <img src="./img/button_pre.svg" alt="" />
                      </div>
                    </div>
                  </div>
                  <div class="partition">
                    <div class="row">
                      <div class="col-lg-4">
                        <p class="p1">Вам будут предложены варианты перелета по заданным параметрам поиска и представлены доступные тарифы (Рис.2).</p>
                      </div>
                      <div class="col-lg-8">
                        <figure>
                          <img src="./img/bron_2.jpg" alt="">
                          <figcaption>Рис.2. Выдача рейсов и тарифов по вашему запросу.</figcaption>
                        </figure>
                      </div>
                    </div>
                  </div>
                  <div class="partition">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="wrapper-vertical">
                          <p class="p1">Если по Вашему запросу ничего не будет найдено, то Вы увидите информацию (Рис.3.):</p>
                          <p class="p1">Внизу, в календаре, указана стоимость на даты, на которые есть места и рейсы. Кликните на подходящей дате и перейдите к бронированию.</p>
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <figure>
                          <img src="./img/bron_3.jpg" alt="">
                          <figcaption>Рис. 3. Поиск не дал результатов.</figcaption>
                        </figure>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>2. Выбор рейса и тарифа</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <div class="partition">
                    <div class="row">
                      <div class="col-lg-4">
                          <p class="p1">
                            Для каждой группы тарифов дано краткое описание условий их применения (норма бесплатного провоза багажа, условия по обмену и возврату билета). (рис.2.1):
                            <br><br>
                            Выберите тариф, который подходит именно Вам по условиям.
                          </p>
                        </div>
                      <div class="col-lg-8">
                        <figure>
                          <img src="./img/bron_4.jpg" alt="">
                          <figcaption>Рис. 2.1. Краткие условия применения доступных тарифов.
                          </figcaption>
                        </figure>
                      </div>
                    </div>
                  </div>
                  <div class="partition">
                    <div class="row">
                      <div class="col-lg-4">

                          <p class="p1">
                            Более полную информацию по выбранному рейсу и тарифу Вы увидите на экране ниже (рис.2.2):
                            <br><br>
                            Ознакомьтесь по ссылке «Условия применения тарифа» с полными правилами применения выбранного тарифа и нажмите кнопку <b>«Продолжить»</b>.
                          </p>

                      </div>
                      <div class="col-lg-8">
                        <figure>
                          <img src="./img/bron_5.jpg" alt="">
                          <figcaption>Рис. 2.2. Ваш выбор.</figcaption>
                        </figure>
                      </div>
                    </div>
                  </div>
                  <div class="partition">
                    <div class="row">
                      <div class="col-lg-4">

                          <p class="p1">
                            <b>ВНИМАНИЕ!</b> На рейсах по код-шеринговому соглашению между авиакомпаниями действуют правила перевозки багажа и ручной клади согласно правилам компании-перевозчика (рис. 2.3.):
                          </p>

                      </div>
                      <div class="col-lg-8">
                        <figure>
                          <img src="./img/bron_6.jpg" alt="">
                          <figcaption>Рис. 2.3. Рейс по код-шеринговому соглашению выполняет авиакомпания ЮТэйр.</figcaption>
                        </figure>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>3. Ввод данных пассажиров</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <div class="partition">
                    <div class="row">
                      <div class="col-lg-4">
                        <p class="p1">
                          Введите необходимые данные на всех пассажиров и покупателя (Рис. 3.1):
                          <br><br>
                          <b>ВНИМАНИЕ:</b> Вся ответственность за данные пассажиров лежит на вас! Внимательно вводите номера документов и адрес электронной почты, на нее вы получите письмо о своем заказе, маршрутную квитанцию электронного билета и информацию об оплате заказа.
                          <br><br>
                          Номер свидетельства о рождении на ребенка вводится следующим образом: вначале идет одна буква на латинице, далее (без пробелов) две на кириллице и потом 6 цифр. Вводить латиницу обязательно в верхнем регистре, кириллицу в любом регистре.
                        </p>
                      </div>
                      <div class="col-lg-8">
                        <figure>
                          <img src="./img/bron_6.jpg" alt="">
                          <figcaption>Рис.3.1. Форма ввода информации о пассажирах и покупателе.</figcaption>
                        </figure>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>4. Дополнительные услуги</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <ul class="text-list">
                    <h3 class="mb15">Вместе с билетом вы можете приобрести дополнительные услуги:</h3>
                    <li>выбрать удобное место в салоне самолета,</li>
                    <li>докупить дополнительное место багажа,</li>
                    <li>получить страховой полис, выбрав программу страхования: при несчастном случая во время перелета, на случай повреждения и/или утраты багажа, при задержках вылета рейса или страхования на случай невозможности совершить поездку.</li>
                    <li>приобрести билет на "Аэроэкспресс" из(в) аэропорт(а) "Внуково",</li>
                    <li>добавить услугу «Бизнес-зал PRIORITY PASS» в аэропортах "Внуково" и "Бегишево",</li>
                    <li>получить расширенную информацию о перелете, добавив услугу "Любить.Летать."</li>
                  </ul>
                  <h3 class="mb15">Выбор места в салоне самолета</h3>
                  <div class="important gray mb15">
                    <h5>Все дополнительные услуги - платные.</h5>
                    <p class="p1"><a class="text-link" href="#">Более подробная информация о дополнительных услугах.</a></p>
                  </div>
                  <div class="partition">
                  <div class="row">
                    <div class="col-lg-4">
                      <p class="p1">
                        Выбрать места в салоне самолета вы можете на карте мест в открывшемся окне (Рис. 4.1.):
                        <br><br>
                        На схеме салона самолета выберите удобное место на каждого пассажира и нажмите кнопку <b>"Продолжить"</b>.
                        <br><br>
                        Внимательно прочитайте правила предоставления услуги и ограничений.
                      </p>
                    </div>
                    <div class="col-lg-8">
                      <figure>
                        <img src="./img/bron_7.jpg" alt="">
                        <figcaption>Рис. 4.1. Схема салона самолета для выбора места.</figcaption>
                      </figure>
                    </div>
                  </div>
                </div>
                <div class="partition">
                  <h3 class="mb15">Дополнительный багаж</h3>
                  <div class="row">
                    <div class="col-lg-4">
                      <p class="p1">
                        В зависимости от тарифа, вы можете докупить необходимые вам для путешествия дополнительные места багажа: место багажа весом до 20 кг, место багажа весом до 30 кг или доплатить превышение одного места багажа от 20 кг до 30 кг.(рис.4.2):
                      </p>
                    </div>
                    <div class="col-lg-8">
                      <figure>
                        <img src="./img/bron_8.jpg" alt="">
                        <figcaption>Рис. 4.2. Выбор дополнительного багажа.</figcaption>
                      </figure>
                    </div>
                  </div>
                </div>
                <div class="partition">
                  <h3 class="mb15">Страховой полис</h3>
                  <div class="row">
                    <div class="col-lg-4">
                      <p class="p1">
                        Дополнительно можно приобрести страховой полис, выбрав программу страхования "Базовая", "Оптимальная" или страхование на случай невозможности совершить поездку: (рис. 4.3):
                      </p>
                    </div>
                    <div class="col-lg-8">
                      <figure>
                        <img src="./img/bron_9.jpg" alt="">
                        <figcaption>Рис. 4.3. Добавление к заказу страхового полиса.</figcaption>
                      </figure>
                    </div>
                  </div>
                </div>
                <div class="partition">
                  <h3 class="mb15">Аэроэкспресс</h3>
                  <div class="row">
                    <div class="col-lg-4">
                      <p class="p1">
                        Если вы бронируете перелет из Москвы или в Москву, то одновременно с покупкой авиабилета вы можете приобрести билет на скоростной электропоезд «Аэроэкспресс», курсирующий между московским аэропортом "Внуково" и железнодорожным вокзалом "Киевский".
                        <br><br>
                        Добавьте данную услугу к вашему заказу и система рассчитает все параметры поездки: направление, дату, количество билетов и стоимость поездки на всех пассажиров. (рис. 4.4)
                      </p>
                    </div>
                    <div class="col-lg-8">
                      <figure>
                        <img src="./img/bron_10.jpg" alt="">
                        <figcaption>Рис. 4.4. Покупка билета на "Аэроэкспресс"</figcaption>
                      </figure>
                    </div>
                  </div>
                </div>
                <div class="partition">
                  <h3 class="mb15">«Бизнес-зал PRIORITY PASS»</h3>
                  <div class="row">
                    <div class="col-lg-4">
                      <p class="p1">
                        Для комфортного ожидания своего рейса в аэропортах "Внуково" или "Бегишево" выберите дополнительную услугу «Бизнес-зал PRIORITY PASS».
                      </p>
                    </div>
                    <div class="col-lg-8">
                      <figure>
                        <img src="./img/bron_11.jpg" alt="">
                        <figcaption>Рис. 4.5. Добавление услуги «Бизнес-зал PRIORITY PASS»</figcaption>
                      </figure>
                    </div>
                  </div>
                </div>
                <div class="partition">
                  <h3 class="mb15">Услуга "Любить.Летать"</h3>
                  <div class="row">
                    <div class="col-lg-4">
                      <p class="p1">
                        Услуга заключается в предоставлении расширенной информации по рейсу авиакомпании «РусЛайн».
                      </p>
                    </div>
                    <div class="col-lg-8">
                      <figure>
                        <img src="./img/bron_12.jpg" alt="">
                        <figcaption>Рис. 4.6. Добавление услуги «Любить.Летать»</figcaption>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>5. Оплата и получение билета</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <div class="partition">
                    <div class="row">
                      <div class="col-lg-4">
                        <p class="p1">
                          Прежде чем нажать кнопку <b>«Забронировать»</b> поставьте «галочку» подтверждения, что Вы ознакомились с договором оферты, договором перевозки, правилами авиакомпании по перевозке багажа и предоставлению дополнительных услуг, условиями применения тарифов и Соглашением об использовании ваших персональных данных.(рис. 5.1)
                        </p>
                      </div>
                      <div class="col-lg-8">
                        <figure>
                          <img src="./img/bron_13.jpg" alt="">
                          <figcaption>Рис. 5.1. Бронирование заказа.<figcaption>
                        </figure>
                      </div>
                    </div>
                  </div>
                  <div class="partition">
                    <div class="row">
                      <div class="col-lg-4">
                        <p class="p1">
                          Перед оплатой заказа еще раз проверьте данные перелета и пассажиров, а также выбранные услуги. Оплатить заказ Вы можете банковской картой.(рис. 5.2)
                        </p>
                      </div>
                      <div class="col-lg-8">
                        <figure>
                          <img src="./img/bron_14.jpg" alt="">
                          <figcaption>Рис. 5.2. Проверка данных.<figcaption>
                        </figure>
                      </div>
                    </div>
                  </div>
                  <div class="partition">
                    <p class="p1 mb30">Для проведения платежа Вы будете перенаправлены на сайт платежной системы.

                      Документом, удостоверяющим заключение договора между пассажиром и АК «РусЛайн» на перевозку, является маршрутная квитанция, полученная при оформлении электронного авиабилета. После успешной платежной транзакции, на электронный адрес, указанный при бронировании Вы получите письмо с подтверждением платежа и чеком, маршрутную квитанцию электронного билета и электронные документы, подтверждающие покупку дополнительных услуг.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>
