<% var data = { title: "Дополнительные услуги" }; %> <%=
_.template(require('./../includes/header_2.html').default)(data) %> <%=
_.template(require('./../includes/top_menu.html').default)() %> <%=
_.template(require('./../includes/add_menu.html').default)() %>

<section class="page-content">
  <div class="container">
    <div class="row page_top">
      <div class="headline col-lg-9 mb50">
        <h1>Регистрация на рейс</h1>
      </div>
      <section class="bread-crumbs col-lg-3">
        <span><a href="./index.html">Главная</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
          />
        </svg>
        <span><a href="#">Пассажирам</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
          />
        </svg>
        <span><a href="for-passengers_check-in.html">Регистрация на рейс</a></span>
      </section>
    </div>


    <!--  -->
    <div class="row">
      <div class="col">
        <div class="dropdown-list">
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Общие правила онлайн регистрации</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <ul class="text-list">
                  <h3>Вы можете зарегистрироваться на рейс, если:</h3>
                  <li>у вас электронный билет.</li>
                  <li>вы вылетаете регулярными рейсами Авиакомпании "РусЛайн" из аэропортов, в которых установлена система регистрации АК «РусЛайн»</li>
                  <li>вы не относитесь к следующим категориям людей: тяжелобольные люди, пассажиры на носилках, пассажиры с ограничением слуха или зрения, с ограниченными возможностями или нуждающиеся в кислородном оборудовании, пассажиры в возрасте младше 18 лет, включая детей и несопровождаемых детей, пассажиры с животными, беременные женщины.</li>
                </ul>
                <ul class="text-list mb0">
                  <h3>Общие правила:</h3>
                  <li>По прибытии в аэропорт вылета проверьте номер выхода на посадку для вашего рейса на информационном табло.</li>
                  <li>Если при вас имеется только ручная кладь, то вы можете сразу проходить в зону досмотра и посадки на борт самолета.</li>
                  <li>Если при вас имеется багаж, то вам необходимо его оформить на стойке регистрации вашего рейса в аэропорту. Оформление багажа заканчивается за 50 минут до вылета рейса (правила провоза багажа и сверхнормативный багаж)</li>
                  <li>Если вы путешествуете в группе более 9 человек, пожалуйста, обратитесь на стойку регистрации в аэропорту.</li>
                  <li>Рассчитывайте время прибытия в аэропорт с учетом времени, необходимого для прохождения всех обязательных предполетных процедур, а при международной перевозке - пограничных и таможенных формальностей. Прошедший процедуру регистрации пассажир обязан прибыть для посадки на рейс к назначенному выходу на посадку в аэровокзале не позднее времени окончания посадки на рейс, которое указано в посадочном талоне и/или объявленного службами аэропорта отправления.</li>
                  <li>Если вам не удалось распечатать посадочный талон, обратитесь на любую из стоек регистрации Вашего рейса в аэропорту или к представителю авиакомпании "РусЛайн" не позднее, чем за 50 минут до вылета рейса.</li>
                  <li>В аэропортах: Внуково, Белгород, Сочи, Уфа и Краснодар вы можете распечатать посадочный талон по QR коду.</li>
                </ul>

              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Аэропорты вылета, доступные для онлайн регистрации</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <ul class="row text mb30">
                  <h3 class="mb15">Онлайн регистрация на регулярные рейсы Авиакомпании "РусЛайн" доступна при вылете из городов:</h3>
                <li class="col-lg-3">Анапа</li>
                <li class="col-lg-3">Архангельск</li>
                <li class="col-lg-3">Белгород</li>
                <li class="col-lg-3">Белоярский</li>
                <li class="col-lg-3">Брянск</li>
                <li class="col-lg-3">Воркута</li>
                <li class="col-lg-3">Воронеж</li>
                <li class="col-lg-3">Горно-Алтайск</li>
                <li class="col-lg-3">Екатеринбург</li>
                <li class="col-lg-3">Иваново<b>*</b></li>
                <li class="col-lg-3">Йошкар-ОлаКазань<b>*</b></li>
                <li class="col-lg-3">Калининград</li>
                <li class="col-lg-3">Калуга</li>
                <li class="col-lg-3">Киров</li>
                <li class="col-lg-3">Краснодар</li>
                <li class="col-lg-3">Красноярск</li>
                <li class="col-lg-3">Курск</li>
                <li class="col-lg-3">Липецк</li>
                <li class="col-lg-3">Москва (Внуково)</li>
                <li class="col-lg-3">Минеральные Воды</li>
                <li class="col-lg-3">Мурманск</li>
                <li class="col-lg-3">Нарьян Мар<b>*</b></li>
                <li class="col-lg-3">Нижневартовск</li>
                <li class="col-lg-3">Нижний Новгород</li>
                <li class="col-lg-3">Пенза</li>
                <li class="col-lg-3">Петрозаводск</li>
                <li class="col-lg-3">Псков</li>
                <li class="col-lg-3">Самара</li>
                <li class="col-lg-3">Санкт-Петербург</li>
                <li class="col-lg-3">Саранск*Симферополь</li>
                <li class="col-lg-3">СочиСыктывкар</li>
                <li class="col-lg-3">Тамбов</li>
                <li class="col-lg-3">Томск</li>
                <li class="col-lg-3">Тюмень</li>
                <li class="col-lg-3">Ульяновск<b>*</b></li>
                <li class="col-lg-3">Усть-Кут</li>
                </ul>
                <div class="note">
                  <span><b>*</b> - Доступна посадка на рейс по электронному посадочному талону.</span>
                </div>
                <p class="p1 mb0">Онлайн регистрация доступна не на все чартерные рейсы. Возможность регистрации на конкретный рейс уточняйте в Контактном центре авиакомпании.</p>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Дополнительные услуги, доступные при онлайн-регистрации</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <ul class="text-list">
                  <h3>При онлайн регистрации Вы можете дополнительно приобрести следующие платные услуги:
                  </h3>
                  <li>Услуга: "Выбор места в салоне ВС"<b>*</b></li>
                  <li>Дополнительный (сверхнормативный) платный багаж.</li>
                  <li>Бизнес-зал PRIORITY PASS при вылете из аэропорта "Внуково" и "Бегишево".</li>
                </ul>
                <div class="note">
                  <span><b>*</b> При приобретении данной услуги имеются ограничения</span>
                </div>
                <p class="p1">Как купить дополнительные услуги смотрите в <a href="#" class="text-link">Инструкция по веб-регистрации на рейс</a>, полную информацию по условиям их приобретения в разделе <a href="#" class="text-link">"Дополнительные услуги"</a>.</p>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Регистрация в аэропорту</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <p class="p1">Регистрация в аэропорту начинается от 3 ч. до 1ч. 30 мин. до вылета рейса, в зависимости от аэропорта и рейса – внутренний или международный. Для регистрации в аэропорту пассажиру необходимо предъявить агенту по регистрации паспорт или другой документ, по которому приобретался авиабилет.
                  <br><br>
                Заканчивается регистрация за 40 минут до вылета рейса. Рассчитывайте правильно время прибытия в аэропорт.</p>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Регистрация в киосках саморегистрации</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <p class="p1">В аэропортах Белгорода, Краснодара, Сочи и Уфы доступна регистрация в киосках саморегистрации. Вы можете выбрать удобное для вас место, распечатать посадочный талон, но если у вас есть багаж, вам необходимо его зарегистрировать на стойке регистрации. В некоторых аэропортах для таких пассажиров есть отдельная стойка, где регистрируется только багаж. Имейте ввиду, что регистрация багажа закрывается за 40 минут до вылета рейса.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col-lg-3">
        
          <h3 class="mb15">Инструкции и информация по регистрации:</h3>
          <p class="p2 mb8 file-icon" ><a class="text-link" href="#">Инструкция по веб-регистрации на рейс.</a></li>
          <p class="p2 mb8 file-icon" ><a class="text-link" href="#">Инструкция для самостоятельной отмены веб-регистрации.</a></li>
          <p class="p2 no-icon mb30"><a class="text-link" href="#">Вопросы и ответы по регистрации на рейсы авиакомпании «РусЛайн».</a></li>

        <form action="#" target="_blank"><button class="button big red">Перейти к регистрации на рейс</button></form>
      </div>
    </div>
    


  </div>
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>
