<% var data = { title: "Дополнительные услуги" }; %> <%=
_.template(require('./../includes/header_2.html').default)(data) %> <%=
_.template(require('./../includes/top_menu.html').default)() %> <%=
_.template(require('./../includes/add_menu.html').default)() %>

<section class="page-content">
  <div class="container">
    <div class="row page_top">
      <div class="headline col-lg-9 mb50">
        <h1>Справки для пассажиров</h1>
      </div>
      <section class="bread-crumbs col-lg-3">
        <span><a href="./index.html">Главная</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
          />
        </svg>
        <span><a href="#">Пассажирам</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
          />
        </svg>
        <span><a href="for-passengers_reference.html">Справки ...</a></span>
      </section>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <!-- <h2>Пправила предоставления справочной информации</h2> -->
        <div class="dropdown-list">
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Авиакомпания «РусЛайн» предоставляет следующую информацию в отношении собственных рейсов</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <p class="p1">
                  <ul class="text-list">
                    <li>О факте совершения перевозки;</li>
                    <li>О факте изменения маршрута перевозки;</li>
                    <li>О факте, причине, времени задержки рейса или изменения времени вылета;</li>
                    <li>О факте, причине отмены рейса;</li>
                    <li>О расстоянии (ортодромное) совершённой перевозки;</li>
                    <li>О минимальном и максимальном опубликованном тарифе на конкретную дату по конкретному маршруту;</li>
                    <li>О факте оплаты или осуществлении отказа по авиабилету, оформленному посредством самостоятельного бронирования через официальный сайт АО АК «РусЛайн»;</li>
                    <li>О факте осуществления возврата авиабилета;</li>
                    <li>О стоимости каждого полётного сегмента по именному авиабилету;</li>
                    <li>О размере применяемых зарегистрированных скидок;</li>
                    <li>О промежуточных пунктах посадки по маршруту следования (скрытый трансфер, тех.посадка и иное);</li>
                    <li>О нормальных тарифах бизнес или эконом класса (нужное выбрать) на конкретную дату.</li>
                  </ul>
                  <p class="p1">Срок предоставления информации – не позднее 14 дней с момента получения запроса через сайт авиакомпании.</p>
                </p>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Авиакомпания «РусЛайн» не предоставляет следующую информацию, в т.ч. в случае получения оплаченного запроса:</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <p class="p1">
                  <ul class="text-list">
                    <li>По рейсам, выполняемым другими перевозчиками, включая интерлайн-партнёров АО АК «РусЛайн»,</li>
                    <li>Перевозка по которым осуществлена более 3-х лет назад (на дату получения запроса),</li>
                    <li>О стоимости маршрута перевозки (участка перевозки), отличного от маршрута, указанного в билете,</li>
                    <li>В случае запроса информации в отношении третьих лиц, за исключением оговорённых настоящим Порядком случаев (основание– Федеральный закон от 27.06.06 № 152-ФЗ «О персональных данных»),</li>
                    <li>О стоимости перевозки, приобретённой по тарифу IT, ID, CHARTER, а также на чартерные рейсы без указания стоимости перевозки,</li>
                    <li>По запросам, содержащим неопределённую/общую информацию (например, сеть маршрутов авиакомпании; все опубликованные тарифы и пр.),</li>
                    <li>Информацию о заказчиках чартерных программ (за исключением пассажиров данных рейсов), партнёрах, конфиденциальных условиях договоров и соглашений и иной аналогичной информации,</li>
                    <li>О стоимости перевозки по территории РФ при осуществлении международной перевозки, международного полёта,</li>
                    <li>О порядке установления уровня тарифов, стоимости перевозки,</li>
                    <li>О квоте мест на рейсе, выделенной по каждому подклассу, тарифу,</li>
                    <li>Форме и способе оплаты перевозки,</li>
                    <li>По оформлению дубликата посадочного талона,</li>
                    <li>По оформлению дубликата авиабилета после осуществления перевозки, а также в случае если дата перевозки уже истекла (за оформлением дубликата бумажного авиабилета пассажир должен своевременно обратиться в агентство, оформившее утраченный билет).</li>
                  </ul>
                  <p class="p1">В случае невозможности предоставить информацию в связи с предоставлением заявителем недостоверной, неточной информации, запрос считается рассмотренным; деньги заявителю не возвращаются.

                    <br><br>
                    В случае получения одного оплаченного запроса, содержащего более двух вопросов, требующих ответов, но не оплаченных в нужном размере, Авиакомпания предоставляет ответ на первый вопрос из полученного запроса.
                    
                    <br><br>
                    При получении оплаченного запроса, не подлежащего ответу согласно опубликованным правилам, деньги лицу, направившему запрос, не возвращаются и не засчитываются в счёт оплаты при получении надлежащего запроса.
                    
                    <br><br>
                    Ответственность за своевременность, полноту, достоверность и правомерность предоставления ответов на запросы несёт сотрудник Службы организации перевозок (далее – СОП), выдавший справку.</p>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
          <div class="form-wrapper">
            <div class="form-link">
              <h3 class="mb30 ">ФОРМА ЗАКАЗА СПРАВКИ О ПЕРЕЛЕТЕ</h3>
              <div class="button big red ">Перейти к заполнению</div>
            </div>
          
          <form class="form-referens">
            <div class="title mb30">
              <h3>ФОРМА ЗАКАЗА СПРАВКИ О ПЕРЕЛЕТЕ</h3>
              <span>Поля, обязательные к заполнению <b>*</b></span>
            </div>
            <div class="check-for-belonging mb15">
              <label class="checkbox red" for="individual">
                <input type="radio" id="individual" name="user" value="individual" checked>
                <span>Физическое лицо</span>
              </label>
              <label class="checkbox red" for="entity">
                <input type="radio" id="entity" name="user" value="entity">
                <span>Юридическое лицо</span>
              </label>
            </div>
            <!--  -->
            <section class="individual mb30">
              <h3 class="mb15">Заказать справку на пассажира:</h3>
              <input class="input middle mb15" type="text" placeholder="ФАМИЛИЯ *">
              <input class="input middle mb15" type="text" placeholder="ИМЯ *">
              <input class="input middle mb15" type="text" placeholder="ОТЧЕСТВО">
              <div class="inputs_in-two">
                <input class="input middle section" type="text" placeholder="ТЕЛЕФОН *">
                <input class="input middle section" type="text" placeholder="E-MAIL *:">
              </div>
            </section>
            <div class="check-for-belonging mb15">
              <label class="checkbox red" for="resident">
                <input type="radio" id="resident" name="citizenship" value="resident" checked>
                <span>Резидент РФ</span>
              </label>
              <label class="checkbox red" for="not-resident">
                <input type="radio" id="not-resident" name="citizenship" value="not-resident">
                <span>Юридическое лицо</span>
              </label>
            </div>
            <section class="resident mb30">
              <input id="pasport" class="input middle mb15" type="text" placeholder="ПАСПОРТ *">
              <div class="inputs_in-two">
                <span class="section">Документы, подтверждающие права законного представителя, в случае, если заявка оформляется уполномоченным лицом пассажира</span>
                <div class="section">
                  <label class="input file middle" for="change-file">Выберите файлы
                    <input class="input-file middle" type='file' id="change-file" multiple>
                  </label>
                  <span>Вложить файлы (в формате pdf, jpg, jpeg)</span>
                </div>
              </div>
            </section>
            <div class="mb30">
              <h3 class="mb15">Информация о перелете:</h3>
              <div class="inputs_bilet">
                <span class="span1">Номер билета *:</span>
                <input class="input middle" type="text" placeholder="13 цифр">
              </div>
              <div class="inputs_bilet">
                <span class="span1">Дата перелета *:</span>
                <input class="input middle" type="text" placeholder="в формате: число / месяц / год">
              </div>
              <div class="inputs_bilet">
                <span class="span1">Номер рейса *:</span>
                <input class="input middle" type="text" placeholder="РГ/7R-">
              </div>
              <div class="inputs_bilet">
                <span class="span1">Направление перелета *:</span>
                <input class="input middle" type="text" placeholder="">
              </div>
              <div class="inputs_bilet mb0">
                <span class="span1">Тип справки *:</span>
                <input class="input middle" type="text" placeholder="О факте совершения перевозки">
              </div>
            </div>
            <div>
              <h3 class="mb15">Способ получения справки:</h3>
              <div class="check-for-belonging mb15">
                <label class="checkbox red" for="e-mail">
                  <input type="radio" id="e-mail" name="method" value="e-mail" checked>
                  <span>на e-mail:</span>
                </label>
                <label class="checkbox red" for="mail">
                  <input type="radio" id="mail" name="method" value="mail">
                  <span>почтовым отправлением по адресу:</span>
                </label>
              </div>
              <div class="wrapper-textarea mb30">
                <textarea placeholder="Почтовый адрес:" name="address"></textarea>
              </div>
              <h3 class="mb15">Дополнительно:</h3>
              <div class="check-for-belonging mb15">
                <label class="checkbox red" for="true">
                  <input type="radio" id="true" name="urgency" value="true" checked>
                  <span>Не срочная</span>
                </label>
                <label class="checkbox red" for="false">
                  <input type="radio" id="false" name="urgency" value="false">
                  <span>Срочная</span>
                </label>
              </div>
              <span class="text">Срочная справка изготавливается в течении 2 рабочих дней, не срочная – 14 дней.</span>
              <h3 class="mb15">Способ оплаты:</h3>
              <div class="check-for-belonging mb15">
                <label class="checkbox red" for="payment_card">
                  <input type="radio" id="payment_card" name="payment" value="payment_card" checked>
                  <span>банковская карта</span>
                </label>
                <label class="checkbox red" for="payment_score">
                  <input type="radio" id="payment_score" name="payment" value="payment_score">
                  <span>банковский счет</span>
                </label>
              </div>
              <section class="payment_card">
                <div class="price mb30">
                  <h3>Стоимость справки:</h3>
                  <h1 class="red">500 руб.</h1>
                </div>
                <label class="checkbox red mb30" for="check">
                  <input type="checkbox" id="check"  value="check">
                  <span>Я ознакомлен и соглашаюсь с условиями использования персональных данных</span>
                </label>
                <button type="submit" class="button red big">ОПЛАТИТЬ ЗАКАЗ</button>
              </section>
              <section class="payment_score"></section>
            </div>
          </form>
          <!--  -->
          <section class="referens_help">
            <div class="row help_title">
              <div class="col-lg-5">
                <div class="title_colum">
                  <h4 class="mb15">Справка о задержке/отмене рейса выдается без оплаты и только по запросу на электронной почте:</h4>
                  <a href="#"><p class="p2 red file-icon">spravka@rusline.aero</p></a>
                </div>
              </div>
              <div class="col-lg-7">
                <div class="title_colum mb30">
                  <p class="p1">
                    С 01.04.2018 г. за выдачу справки пассажирам по запросу вышеуказанной информации взимается плата 500 рублей для физических лиц, 650 рублей для юридических лиц (ставки указаны с учетом НДС – 20%).
                    <br><br>
                    С 01.04.2018 г. за изготовление срочной справки пассажирам в течение двух рабочих дней по запросу вышеуказанной информации взимается плата 1000 рублей для физических лиц, 1300 рублей для юридических лиц (ставки указаны с учетом НДС - 20%).
                  </p>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h3 class="mb15">СОДЕРЖАНИЕ СПРАВОЧНОЙ ИНФОРМАЦИИ:</h3>
                <p class="p1">
                  Справка выдаётся на фирменном бланке Авиакомпании за подписью начальника службы организации перевозок (СОП) или лица, замещающего его в установленном порядке.
                  <br><br>
                  Юридическому лицу по окончании отчетного периода направляются счёт-фактура и акт оказанных услуг. Подписанный заявителем акт должен быть направлен в адрес перевозчика (АО АК «РусЛайн») не позднее трёх рабочих дней с момента поступления любым доступным способом с обязательным последующим направлением оригинала.
                  <br><br>
                  Информацию о факте и дате направления запроса либо непредоставления ответа пассажир уточняет самостоятельно по адресу: spravka@rusline.aero.
                  Справка действительна для предъявления по месту требования (в том числе для предъявления в бухгалтерию для подтверждения факта перелёта). Справка не имеет ограничения по сроку действия.
                  <br><br>
                  К форме и содержанию справки не предъявляются императивные требования законодателя: справка оформляется в установленной форме авиакомпании и содержит ответ на поставленный вопрос.
                  <br><br>
                  Авиакомпания не несёт ответственность в случае несогласия заявителя или лица, которому была предъявлена выданная справка, с формой, содержанием и прочим оформлением справки.
                </p>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>
