<% var data = { title: "Дополнительные услуги" }; %> 
<%= _.template(require('./../includes/header_2.html').default)(data) %>
<%= _.template(require('./../includes/top_menu.html').default)() %> 
<%= _.template(require('./../includes/add_menu.html').default)() %>

<section class="page-content">
    <div class="container">
      <div class="row page_top">
        <div class="headline col-lg-9">
          <h1>Перечень опасных веществ, запрещенных к перевозке и порядок их изъятия</h1>
        </div>
        <section class="bread-crumbs col-lg-3">
            <span><a href="./index.html">Главная</a></span>
            <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
              <path
                d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
              />
            </svg>
            <span><a href="#">Пассажирам</a></span>
            <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
              <path
                d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
              />
            </svg>
            <span><a href="for-passengers_transportation-rules">Правила перевозки</a></span>
          </section>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <p class="p1 mb8">Запрещено перевозить на борту воздушного судна членами экипажа и пассажирами в зарегистрированном багаже и в вещах, находящихся при пассажирах, следующие опасные вещества и предметы:
          </p>
          <span class="note mb30">(Список изменяющих документов (в ред. Приказа Минтранса России от 29.11.2010 N 267).</span>
          <ul class="text-list">
            <h3>1. Взрывчатые вещества, средства взрывания и предметы, ими начиненные:</h3>
            <li>Пороха всякие, в любой упаковке и в любом количестве;</li>
            <li>Патроны боевые (в том числе малокалиберные);</li>
            <li>Патроны к газовому оружию;</li>
            <li>Капсюли (пистоны) охотничьи;</li>
            <li>Пиротехнические средства: сигнальные и осветительные ракеты, патроны сигнальные, посадочные шашки, дымовые патроны (шашки), спички подрывника, бенгальские огни, петарды железнодорожные;</li>
            <li>Тротил, динамит, тол, аммонал и другие взрывчатые вещества;</li>
            <li>Капсюли-детонаторы, электродетонаторы, электровоспламенители, детонирующий и огнепроводный шнур и т.д.;</li>
          </ul>
          <ul class="text-list">
            <h3>2. Сжатые и сжиженные газы:</h3>
            <li>Газы для бытового пользования (бутан-пропан) и другие газы;</li>
            <li>Газовые баллончики с наполнением нервно-паралитического и слезоточивого воздействия и т.д.;</li>
          </ul>
          <ul class="text-list">
            <h3>3. Легковоспламеняющиеся жидкости:</h3>
            <li>Ацетон;</li>
            <li>Бензин;</li>
            <li>Пробы легковоспламеняющихся нефтепродуктов;</li>
            <li>Метанол;</li>
            <li>Метилацетат (метиловый эфир);</li>
            <li>Сероуглерод;</li>
            <li>Эфиры;</li>
            <li>Этилцеллозола;</li>
          </ul>
          <ul class="text-list">
            <h3>4. Воспламеняющиеся твердые вещества:</h3>
            <li>Вещества, подверженные самопроизвольному возгоранию;</li>
            <li>Вещества, выделяющие легковоспламеняющиеся газы при взаимодействии с водой: калий, натрий, кальций металлический и их сплавы, кальций фосфористый и т.д.;</li>
            <li>Фосфор белый, желтый и красный и все другие вещества, относящиеся к категории воспламеняющихся твердых веществ;</li>
          </ul>
          <ul class="text-list">
            <h3>5. Окисляющие вещества и органические перекиси:</h3>
            <li>Нитроцеллюлоза коллоидная, в гранулах или хлопьях, сухая или влажная, содержащая менее 25% воды или растворителя;</li>
            <li>Нитроцеллюлоза коллоидная, в кусках, влажная, содержащая менее 25% спирта;</li>
            <li>Нитроцеллюлоза сухая или влажная, содержащая менее 30% растворителя или 20% воды и т.д.;</li>
          </ul>
          <h3 class="mb30">6. Токсичные вещества;</h3>
          <h3 class="mb30">7. Радиоактивные материалы;</h3>
          <ul class="text-list">
            <h3>8. Едкие и коррозирующие вещества:</h3>
            <li>Сильные неорганические кислоты: соляная, серная, азотная и другие;</li>
            <li>Фтористо-водородная (плавиковая) кислота и другие сильные кислоты и коррозирующие вещества;</li>
          </ul>
          <ul class="text-list">
            <h3>9. Ядовитые и отравляющие вещества:</h3>
            <li>Любые ядовитые сильнодействующие и отравляющие вещества в жидком или твердом состоянии, упакованные в любую тару;</li>
            <li>Бруцин;</li>
            <li>Никотин;</li>
            <li>Стрихнин;</li>
            <li>Тетрагидрофурфуриловый спирт;</li>
            <li>Антифриз;</li>
            <li>Тормозная жидкость;</li>
            <li>Этиленгликоль;</li>
            <li>Ртуть;</li>
            <li>Все соли синильной кислоты и цианистые препараты;</li>
            <li>Циклон, цианплав, мышьяковистый ангидрид и т.д.;</li>
            <li>Другие опасные вещества, предметы и грузы, которые могут быть использованы в качестве орудия нападения на пассажиров, экипаж воздушного судна, а также создающие угрозу полета воздушного судна;</li>
          </ul>
          <h3 class="mb15">10. Оружие:</h3>
          <p class="p1 mb30">
            пистолеты, револьверы, винтовки, карабины и другое огнестрельное, газовое, пневматическое оружие, электрошоковые устройства, кортики, стилеты, десантные штык-ножи, за исключением случаев и в порядке, установленном законодательством Российской Федерации.
            <br><br>
            Подробный перечень опасных веществ и предметов, запрещенных к перевозке на борту воздушного судна членами экипажа и пассажирами, содержится в Технических инструкциях по безопасной перевозке опасных грузов по воздуху (Doc 9284 AN/905 ИКАО).
          </p>
          <ul class="text-list mb0">
            <h3>Порядок изъятия, сроки хранения, реализации или уничтожения опасных веществ, предметов и грузов, запрещенных к перевозке воздушным транспортом:</h3>
            <li>Обнаруженные у пассажира в ручной клади (багаже) при досмотре опасные вещества и предметы, запрещенные к перевозке воздушным транспортом, изымаются.</li>
            <li>Изъятие оформляется актом, который регистрируется установленным образом.</li>
            <li>Изъятые у пассажиров опасные вещества и предметы, которые находятся в свободной продаже, но запрещены к перевозке на гражданских воздушных судах (баллоны с газом, газовые баллончики, огнеопасные лакокрасочные изделия, вещества и предметы бытового назначения, не имеющие стандартной заводской упаковки, и т. п.), выдаются провожающим или хранятся в аэропорту в специальных помещениях.</li>
            <li>Обнаруженные в ходе досмотра газовое оружие и газовые патроны, на которые у пассажиров отсутствуют соответствующие документы, передаются в органы внутренних дел в соответствии с законодательством, регламентирующим оборот оружия на территории Российской Федерации.</li>
            <li>Пассажир, у которого при досмотре обнаружены опасные вещества и предметы, за изготовление, ношение и хранение которых предусмотрена уголовная ответственность (оружие, боеприпасы, взрывчатые вещества, средства взрывания, взрывные устройства, наркотические, ядовитые, отравляющие, радиоактивные вещества и т. п.), снимается с рейса и вместе с материалами (актом и изъятыми веществами и предметами) передается в органы внутренних дел для решения вопроса о привлечении его к ответственности.</li>
          </ul>
        </div>
      </div>
      <div class="back mt40">
        <a href="for-passengers_transportation-rules.html" class="back_arrow">
          <span class="span_14">Вернуться назад</span>
        </a>
      </div> 
    </div>
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>