<% var data = { title: "Дополнительные услуги" }; %> 
<%= _.template(require('./../includes/header_2.html').default)(data) %>
<%= _.template(require('./../includes/top_menu.html').default)() %> 
<%= _.template(require('./../includes/add_menu.html').default)() %>

<section class="page-content">
    <div class="container">
      <div class="row page_top">
        <div class="headline col-lg-9">
          <h1>Перечень веществ и предметов, разрешенных к перевозке</h1>
        </div>
        <section class="bread-crumbs col-lg-3">
            <span><a href="./index.html">Главная</a></span>
            <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
              <path
                d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
              />
            </svg>
            <span><a href="#">Пассажирам</a></span>
            <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
              <path
                d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
              />
            </svg>
            <span><a href="for-passengers_transportation-rules">Правила перевозки</a></span>
          </section>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <p class="p1 mb15">Разрешено перевозить на борту воздушного судна членами экипажа и пассажирами с соблюдением требуемых условий следующие предметы и вещества:</p>
          <ul class="text-list">
            <h3>1. В зарегистрированном багаже в грузовых, багажных отсеках воздушного судна с изолированным доступом пассажиров к багажу во время полета:</h3>
            <li>арбалеты, ружья для подводной охоты, шашки, сабли, тесаки, ятаганы, палаши, мечи, шпаги, штыки, кинжалы, ножи: охотничьи, ножи с выбрасывающимися клинками, с запирающими замками, имитаторы любого вида оружия;</li>
            <li>хозяйственно-бытовые ножи (ножницы) с длиной клинка (лезвия) свыше 60 мм;</li>
            <li>рыба, дичь, икра или охотничьи трофеи;</li>
            <li>алкогольные напитки с содержанием более 24%, но не более 70% алкоголя по объему в емкостях вместимостью не более 5 л, в таре, предназначенной для розничной торговли, - не более 5 л на одного пассажира;</li>
            <li>жидкости и алкогольные напитки с содержанием алкоголя по объему не более 24%;</li>
            <li>аэрозоли, предназначенные для использования в спортивных или бытовых целях, выпускные клапаны баллончиков которых защищены колпачками от самопроизвольного выпуска содержимого, в емкостях вместимостью не более 0,5 кг или 500 мл - не более 2 кг или 2 л на одного пассажира;</li>
            <li>термометр медицинский ртутный - один на пассажира;</li>
            <li>тонометр ртутный в стандартном футляре - один на пассажира;</li>
            <li>барометр или манометр ртутный, упакованный в герметичный контейнер и опечатанный пломбой отправителя;</li>
          </ul>
          <ul class="text-list">
            <h3>2. В вещах, находящихся при пассажирах:</h3>
            <li>термометр медицинский(за исключением содержащих ртуть) - один на пассажира;</li>
            <li>одноразовые зажигалки - одна на пассажира;</li>
            <li>сухой лед для охлаждения скоропортящихся продуктов - не более 2 кг на пассажира;</li>
            <li>3% перекись водорода - не более 100 мл на пассажира;</li>
            <li>жидкости, гели и аэрозоли, относящиеся к неопасным: в емкостях вместимостью не более 100 мл (или эквивалентной емкостью в других единицах измерения объема), упакованные в надежно закрывающийся прозрачный пластиковый пакет объемом не более 1 л - один пакет на пассажира.</li>
          </ul>
          <div class="important gray">
            <h3>ВАЖНО:</h3>
            <p class="p1 mb8">Жидкости в контейнерах емкостью более 100 мл к перевозке не принимаются даже в том случае, если емкость заполнена лишь частично.</p>
            <p class="p1"><b>Исключение по перевозке имеют</b> лекарства, специальные диетические потребности, детское питание, в том числе материнское молоко, в количестве, необходимом на время полета. (в ред. Приказа Минтранса России от 29.11.2010 N 267)</p>
          </div>
          <p class="p1 mb15">
            Жидкости, приобретенные в магазинах беспошлинной торговли в аэропорту или на борту воздушного судна, должны быть упакованы в надежно запечатанный (опломбированный) пластиковый пакет, обеспечивающий идентификацию доступа к содержимому пакета в течение полета, на котором имеется достоверное подтверждение того, что эта покупка произведена в аэропортовых магазинах беспошлинной торговли или на борту воздушного судна в день (дни) поездки.
          </p>
          <p class="p1 mb15">
            Администрация аэропорта, авиапредприятия, эксплуатанта вправе принимать решение о введении дополнительных мер по обеспечению авиационной безопасности на рейсах с повышенной опасностью, вследствие чего запрещать перевозку в салоне воздушного судна следующих предметов:
          </p>
          <ul class="text-list mb0">
            <li>термометр ртутный, тонометр ртутный, барометр или манометр ртутный;</li>
            <li>штопоры;</li>
            <li>иглы для подкожных инъекций (если не будет представлено медицинское обоснование);</li>
            <li>вязальные спицы;</li>
            <li>ножницы с длиной лезвия менее 60 мм;</li>
            <li>складные (без фиксатора) дорожные, перочинные ножи с длиной лезвия менее 60 мм.</li>
          </ul>
        </div>
      </div>
      <div class="back mt40">
        <a href="for-passengers_transportation-rules.html" class="back_arrow">
          <span class="span_14">Вернуться назад</span>
        </a>
      </div> 
    </div>
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>