<% var data = { title: "Дополнительные услуги" }; %> 
<%= _.template(require('./../includes/header_2.html').default)(data) %>
<%= _.template(require('./../includes/top_menu.html').default)() %> 
<%= _.template(require('./../includes/add_menu.html').default)() %>

<section class="page-content">
    <div class="container">
      <div class="row page_top">
        <div class="headline col-lg-9 mb20">
          <h1>Правила обмена авиабилета</h1>
        </div>
        <section class="bread-crumbs col-lg-3">
            <span><a href="./index.html">Главная</a></span>
            <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
              <path
                d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
              />
            </svg>
            <span><a href="#">...</a></span>
            <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
              <path
                d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
              />
            </svg>
            <span><a href="for-passengers_exchange-rules.html">Правила обмена авиабилета</a></span>
          </section>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <p class="p1 mb30">Произвести обмен авиабилета возможно, только если это разрешено <a class="text-link" href="#">правилами тарифа</a> по Вашему билету.</p>
          <section>
            <div class="dropdown-list">
              <div class="dropdown-list_item">
                <div class="item_title">
                  <h4>Общие правила обмена авиабилетов</h4>
                </div>
                <div class="item_content">
                  <div class="content_shadow">
                    <div class="left"></div>
                    <div class="center"></div>
                    <div class="right"></div>
                  </div>
                  <div class="content">
                    <ul class="text-list">
                      <h3 class="mb15">Обмен авиабилета можно совершить в Контактном центре авиакомпании<b>*</b> следующими способами:</h3>
                      <li>позвонить по телефону <b>8-809-505-46-69</b> (стоимость звонка от 64 до 68 руб./мин. с учетом НДС, в зависимости от оператора связи, включая время ожидания и разговора с менеджером);</li>
                      <li>
                        подать заявку на обмен в Вашем личном кабинете (подробная информация в закладке "Обмен авиабилета в личном кабинете");
                      </li>
                      <li>направить запрос на почту <a class="text-link" href="#">5555@rusline.aero</a> в свободной форме с указанием номера авиабилета и желаемых параметров обмена (дата и время вылета).</li>
                    </ul>
                    <p class="p1 mb30">
                      Также вы можете обратиться в кассы авиакомпании или агентство, в котором приобретали авиабилет.
                      <br><br>
                      После обработки Вашего запроса мы рассчитаем стоимость изменений и согласуем ее с Вами. После этого на Вашу электронную почту, указанную при бронировании или при подаче запроса, будет направлена ссылка на оплату, пройдя по которой Вы сможете произвести оплату банковской картой.
                    </p>
                    <div class="important">
                      <h3 class="red">Важно</h3>
                      <p class="p1">Cтоимость обмена не гарантируется до оплаты Вами выставленного счета.</p>
                    </div>
                    <p class="p1 mb30">
                      Если на момент оплаты счета мест, по которым был сделан расчет, уже нет в свободной продаже, стоимость обмена будет изменена. При наличии мест на интересующий Вас рейс и оплате необходимых сборов обмен будет произведен.
                    </p>
                    <ul class="text-list">
                      <h3 class="mb15">Сборы при этом включают:</h3>
                      <li>Сбор системы бронирования;</li>
                      <li>Сборы авиакомпании;</li>
                      <li>Доплата до тарифа более высокого уровня (при отсутствии мест в первоначальном классе бронирования);</li>
                      <li>Сервисный сбор за услуги переоформления авиабилетов (При обращении в Контактный центр сбор составит 1000 рублей за билет).</li>
                    </ul>
                    <p class="p1 mb30">В некоторых случаях обмен авиабилета обходится дороже, чем возврат и покупка нового. Советуем Вам прежде, чем принять окончательное решение, обязательно сравнить все доступные варианты.</p>
                    <span class="note mb0"><b>*</b> - Услуги Контактного центра оказывает ООО «АВИА ПЛЮС» - Генеральный агент авиакомпании «РусЛайн». Обращение в Контактный центр означает безоговорочное согласие с использованием и обработкой персональной информации, предоставляемой клиентом, в том числе в отношении третьих лиц.</span>
                  </div>
                </div>
              </div>
              <div class="dropdown-list_item">
                <div class="item_title">
                  <h4>Обмен авиабилета в личном кабинете</h4>
                </div>
                <div class="item_content">
                  <div class="content_shadow">
                    <div class="left"></div>
                    <div class="center"></div>
                    <div class="right"></div>
                  </div>
                  <div class="content">
                    <p class="p1 mb30">Обмен авиабилета в личном кабинете возможен только в случае приобретения его на сайте авиакомпании "РусЛайн."</p>
                    <ul class="text-list">
                      <h3 class="mb15">1. Войдите в личный кабинет:</h3>
                      <li>по ссылке из письма, которое Вы получили при оформлении заказа на нашем сайте;</li>
                      <li>на главной странице сайта в форме поиска нажмите "Ваши заказы" и задайте параметры поиска в соответствии с данными, полученными при оформлении авиабилета.</li>
                    </ul>
                    <ul class="text-list">
                      <h3 class="mb15">2. Перейдите на закладку "Обмен билетов".</h3>
                      <li>В поле "Желаемые изменения" внесите описание необходимого обмена.</li>
                      <li>В разделе «Контактные данные» при необходимости измените информацию.</li>
                      <li>Нажмите кнопку "Отправить заявку".</li>
                      <li>Обновите браузер.</li>
                    </ul>
                    <ul class="text-list mb0">
                      <h3 class="mb15">3. Оплата сборов.</h3>
                      <li>Менеджер Контактного центра свяжется с Вами для согласования доплаты за операцию обмена.</li>
                      <li>На Ваш электронный адрес будет отправлена ссылка для оплаты сборов банковской картой.</li>
                      <li>После оплаты сборов обмен будет произведен, ожидайте поступления новой маршрутной квитанции на указанный Вами в заявке электронный адрес.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="dropdown-list_item">
                <div class="item_title">
                  <h4>Правила внесения изменений в данные пассажира в авиабилете</h4>
                </div>
                <div class="item_content">
                  <div class="content_shadow">
                    <div class="left"></div>
                    <div class="center"></div>
                    <div class="right"></div>
                  </div>
                  <div class="content">
                    <ul class="text-list">
                      <h3 class="mb15">Внесение изменений в авиабилет допускается за 40 минут и более до вылета рейса в следующих случаях:</h3>
                      <li>Опечатка в написании ФИО (исправление возможно не более 3х знаков, без искажения смысла);</li>
                      <li>Изменение в номере документа, удостоверяющего личность пассажира (исправление не более 3х знаков);</li>
                      <li>Перепутаны местами фамилия, имя, отчество;</li>
                      <li>Изменение фамилии в случае заключения/расторжения брака;</li>
                      <li>Замена типа документа;</li>
                    </ul>
                    <p class="p1 mb30">
                      Изменения в билете невозможны в случае трансферной перевозки при участии разных авиакомпаний в одном бронировании.
                      <br><br>
                      В случае изменения данных пассажира в связи с заменой документа, удостоверяющего личность, по основаниям, установленным законодательством РФ, разрешается внесение изменений в билет без ограничения количества знаков, подлежащих исправлению.
                      <br><br>
                      Изменения производятся согласно правилам применения тарифа
                    </p>
                    <ul class="text-list">
                      <h3 class="mb15">Изменение ФИО или паспортных данных можно совершить через Контактный центр авиакомпании<b>*</b> следующими способами:</h3>
                      <li>Позвонить по телефону <b>8-809-505-46-69</b> (стоимость звонка от 64 до 68 руб./мин. с учетом НДС, в зависимости от оператора связи, включая время ожидания и разговора с менеджером);</li>
                      <li>Подать заявку на обмен в Вашем личном кабинете (информация о том, как подается заявка на обмен через сайт указана в разделе «Обмен авиабилета в личном кабинете»);</li>
                      <li>Направить запрос на почту <a href="#" class="text-link">5555@rusline.aero</a> в свободной форме с указанием номера билета и данных, которые необходимо скорректировать билете.</li>
                    </ul>
                    <p class="p1 mb30">Также вы можете обратиться в кассы авиакомпании или агентство, в котором приобретали авиабилет.
                      <br><br>
                      Для внесения изменений в авиабилет необходимо оплатить сборы.
                    </p>
                    <ul class="text-list">
                      <h3 class="mb15">Сборы включают в себя:</h3>
                      <li>Сбор системы бронирования;</li>
                      <li>Сборы авиакомпании;</li>
                      <li>Сервисный сбор за услуги переоформления авиабилетов (при обращении в Контактный центр сбор составит 500 рублей за билет).</li>
                    </ul>
                    <p class="p1 mb30">После обращения в Контактный центр авиакомпании на вашу электронную почту, указанную при бронировании или при подаче запроса, будет направлена ссылка на оплату, пройдя по которой вы сможете произвести оплату банковской картой.
                    </p>
                    <span class="note mb0"><b>*</b> Услуги Контактного центра оказывает ООО «АВИА ПЛЮС» - Генеральный агент авиакомпании «РусЛайн». Обращение в Контактный центр означает безоговорочное согласие с использованием и обработкой персональной информации, предоставляемой клиентом, в том числе в отношении третьих лиц.
                    <br><br>
                    Бесплатно производятся изменения для младенцев до 2х лет, для пассажиров, билеты которых оформлены по ВПД МВД/МО и депутатов.</span>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>

        
        <div class="col-lg-3 end">
          <h3 class="mb15">Существует два варианта обмена авиабилета:</h3>
          <p class="p2">
            <b>Добровольный</b>  - по желанию пассажира, который предусматривает доплату за эту операцию (в том числе, изменение данных пассажира в авиабилете);
            <br><br>
            <b>Вынужденный</b>,  который осуществляется без взимания дополнительной платы. Подробнее ознакомиться с информацией об условиях, при которых возможен вынужденный обмен можно здесь.
            <br><br>
            Подробнее ознакомиться с информацией об условиях, при которых возможен вынужденный обмен можно <a href="#" class="text-link">здесь</a>.
          </p>
        </div>
      </div>

    </div>
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>