<% var data = { title: "Дополнительные услуги" }; %> 
<%= _.template(require('./../includes/header_2.html').default)(data) %>
<%= _.template(require('./../includes/top_menu.html').default)() %> 
<%= _.template(require('./../includes/add_menu.html').default)() %>

<section class="page-content">
    <div class="container">
      <div class="row page_top">
        <div class="headline col-lg-9">
          <h1>Общие правила перевозки багажа</h1>
        </div>
        <section class="bread-crumbs col-lg-3">
            <span><a href="./index.html">Главная</a></span>
            <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
              <path
                d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
              />
            </svg>
            <span><a href="#">Пассажирам</a></span>
            <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
              <path
                d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
              />
            </svg>
            <span><a href="for-passengers_transportation-rules">Правила перевозки</a></span>
          </section>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <div class="dropdown-list">
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Общие требования</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <div class="important">
                    <h3 class="red">ВНИМАНИЕ:</h3>
                    <p class="p1">
                      Багаж, перевозимый в багажном отделение ВС, не должен превышать 50 кг. Пассажирский багаж весом более 50 кг должен быть оформлен как груз, в соответствии с правилами оформления грузовой перевозки.
                    </p>
                  </div>
                  <ul class="text-list">
                    <li>Багаж пассажира принимается к перевозке при его регистрации в аэропорту отправления.</li>
                    <li>Весь багаж, перевозимый пассажиром, включая личные вещи, должен быть предъявлен при регистрации на рейс. Каждое место сдаваемого багажа регистрируется: маркируется багажной биркой и перевозится в багажном отсеке самолета, что вызвано требованиями обеспечения безопасности полета.</li>
                  </ul>
                  <div class="important">
                    <h3 class="red">ВНИМАНИЕ:</h3>
                    <p class="p1">
                      Соединение в одно место двух и более вещей, имеющих отдельные упаковки, не допускается.
                    </p>
                  </div>
                  <ul class="text-list">
                    <h3>Багаж пассажира не должен включать в себя:</h3>
                    <li>Предметы, представляющие опасность для воздушного судна, лиц или имущества на борту такого воздушного судна, перечисленные в «Технических инструкциях по безопасной воздушной перевозке опасных грузов» Международной Организации гражданской авиации (ICAO) и в «Правилах перевозки опасных грузов» Международной Ассоциации воздушного транспорта (IATA), а также в Правилах перевозки Авиакомпании, иных положениях и правилах (более подробная информация может быть предоставлена по вашему запросу);</li>
                    <li>Предметы, перевозка которых запрещена действующим законодательством или законами, нормами и предписаниями в государствах отбытия или прибытия;</li>
                    <li>Предметы, которые, по обоснованному мнению, авиакомпании непригодны для перевозки в связи с тем, что они опасны, небезопасны из-за их веса, габаритов, формы или происхождения, либо являются бьющимися или скоропортящимися, с учетом, помимо всего прочего, типа эксплуатируемого воздушного судна. Информация о непригодных для перевозки предметах может быть предоставлена по вашему запросу.</li>
                  </ul>
                  <ul class="text-list">
                    <h3>Пассажир не должен включать в свой зарегистрированный багаж:</h3>
                    <li>Хрупкие и скоропортящиеся предметы;</li>
                    <li>Денежные знаки, ювелирные изделия, драгоценные металлы, изделия из серебра, денежные обязательства;</li>
                    <li>Ценные бумаги или другие ценности;</li>
                    <li>Деловые документы, паспорта, удостоверения личности;</li>
                    <li>Медикаменты, ключи и другие подобные предметы.</li>
                  </ul>
                  <p class="p1">
                    Если, невзирая на запрет, в зарегистрированном багаже пассажира находятся предметы, указанные в настоящем пункте, Авиакомпания не несет ответственности за пропажу или порчу таких предметов.
                  </p>
                </div>
              </div>
            </div>
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Нормы бесплатного провоза багажа</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <p class="p1 mb30">
                    Пассажир имеет право на бесплатный провоз багажа в пределах установленной Перевозчиком нормы, которая зависит от типа воздушного судна, класса обслуживания, вида примененного тарифа и маршрута.
                    <br><br>
                    Норма перевозки зарегистрированного багажа на прямых и на трансферных рейсах, содержащих только собственные внутренние и международные рейсы Перевозчика, устанавливается по системе количества мест РС (Piece Concept).
                    <br><br>
                    При перевозке пассажиров, имеющих общую цель поездки (подтвержденную документами) и следующих вместе на одном воздушном судне по одному маршруту в один и тот же пункт назначения (семья, делегация, туристы, спортивные и другие команды), по просьбе пассажиров предоставляется групповая норма бесплатного провоза багажа, которая представляет собой объединенную норму бесплатной перевозки багажа пассажиров данной группы.
                    <br><br>
                    Объединение касается только норм бесплатного провоза багажа. В случае объединения норм бесплатного провоза регистрируемого багажа по весу и/или размеру, одно место багажа не должно превышать по весу 30 кг и/или по сумме трех измерений 203 см.
                    <br><br>
                    При трансферных перевозках с участием одного Перевозчика (РГ), правила провоза багажа определяются согласно условиям применения тарифа трансферной группы на рейсы АК.
                    <br><br>
                    При трансферных перевозках с участием нескольких авиакомпаний, правила провоза ручной клади и багажа определяются по каждому участку в соответствии с условиями фактического перевозчика, за исключением случаев, когда действует резолюция ИАТА 302.
                  </p>
                  <ul class="text-list">
                    <h3>Норма бесплатного провоза багажа не распространяется на:</h3>
                    <li>вещи пассажира, независимо от их наименования и назначения, габариты которых в упакованном виде превышают 203 см по сумме трех измерений (такой багаж считается негабаритным);</li>
                    <li>вещи пассажира, независимо от их наименования и назначения, весом одного места более 30 кг (тяжеловесный багаж);</li>
                    <li>цветы, саженцы растений, пищевую зелень, сушеные растения, ветки деревьев и кустарников общим весом более 5 кг;</li>
                    <li>комнатных животных (птиц), служебных собак (за исключением собак-проводников, сопровождающих пассажиров, лишенных зрения);</li>
                    <li>багаж, не сданный пассажиром на регистрации в аэропорту;</li>
                    <li>на багаж, требующий особых условий перевозки.</li>
                  </ul>
                  <h3 class="mb30">Таблица № 1. Нормы бесплатного провоза багажа и ручной клади.</h3>
                  <!-- table -->
                   <table class="mb15">
                    <tr>
                      <th class="white">Группа тарифов:</th>
                      <th class="red" style="text-align: center;">Лайт</th>
                      <th class="red" style="text-align: center;">Классик</th>
                      <th class="red" style="text-align: center;">Оптимум</th>
                      <th class="red" style="text-align: center;">Премиум</th>
                      <th class="red" colspan="2" style="text-align: center;">Специальный</th>
                    </tr>
                    <tr>
                      <td>Семейство тарифов:</td>
                      <td  style="text-align: center;"><b>*</b>LT для трансферов: <b>*</b>LTQQ</td>
                      <td  style="text-align: center;"><b>*</b>CL для трансферов: <b>*</b>CLQQ</td>
                      <td  style="text-align: center;"><b>*</b>OP для трансферов: <b>*</b>OPQQ</td>
                      <td  style="text-align: center;"><b>*</b>PM</td>
                      <td  style="text-align: center;">без багажа E, Q, W, N, M, H</td>
                      <td  style="text-align: center;">с багажом EBG, QBG, WBG, LBG</td>
                    </tr>
                    <tr>
                      <td>Норма и вес бесплатного провоза ручной клади<b>*</b>:</td>
                      <td style="text-align: center;">1 место до 5 кг 40*30*20 см.</td>
                      <td style="text-align: center;">1 место до 5 кг 40*30*20 см.</td>
                      <td style="text-align: center;">1 место до 10 кг 55*40*25 см.</td>
                      <td style="text-align: center;">1 место до 10 кг 55*40*25 см.</td>
                      <td style="text-align: center;">1 место до 10 кг 40*30*20 см</td>
                      <td style="text-align: center;">1 место до 5 кг 40*30*20 см</td>
                    </tr>
                    <tr>
                      <td>Норма и вес бесплатного провоза багажа, габаритами до 203 см по сумме трех измерений <b>**</b>:</td>
                      <td style="text-align: center;">нет</td>
                      <td style="text-align: center;">1 место до 20 кг</td>
                      <td style="text-align: center;">1 место до 20 кг</td>
                      <td style="text-align: center;">1 место до 30 кг</td>
                      <td style="text-align: center;">нет</td>
                      <td style="text-align: center;">1 место до 20 кг</td>
                    </tr>
                   </table>
                   <!-- end table -->
                   <span class="note mb15">
                    <b>*</b> Дополнительно возможно приобрести одно место ручной клади до 10 кг. и габаритами не более 55*40*25 см. Стоимость услуги - 1500 руб. при оформлении дополнительного места на сайте или в контакт-центре авиакомпании, при оформлении в аэропорту - 2500 руб.
                   </span>
                   <span class="note">
                    ** Дополнительное место багажа можно оформить согласно <a class="text-link red" href="#">Правилам провоза платного (сверхнормативного) и негабаритного багажа.</a>
                   </span>
                   <div class="important">
                     <h3 class="red">Внимание:</h3>
                     <p class="p1">
                      Для детей от 2 до 12 лет предоставляется такая же норма бесплатного провоза регистрируемого багажа, как для взрослых пассажиров.
                     </p>
                   </div>
                   <div class="important">
                    <h3 class="red">Внимание:</h3>
                    <p class="p1">
                      Нормы ручной клади не суммируются для совместно следующих пассажиров. Для детей возрастом до 2-х лет, перевозимых без предоставления отдельного места норма ручной клади 5 кг, габаритами не превышающими 40х30х20 см.
                    </p>
                  </div>
                  <p class="p1 mb30">
                    Детская коляска при перевозке ребенка до 2-х лет, взвешивается при регистрации, оформляется багажными бирками, перевозится бесплатно сверх нормы бесплатного провоза багажа.
                    <br><br>
                    Инвалидное кресло-коляска при перевозке пассажира с ограниченной подвижностью взвешивается при регистрации, оформляются багажными бирками, перевозятся бесплатно сверх нормы бесплатного провоза багажа.
                    <br><br>
                    При вынужденном понижении/повышении класса обслуживания пассажир имеет право перевозки зарегистрированного багажа и ручной клади по норме, установленной для оплаченного пассажиром тарифа, указанного в первоначальном билете.
                  </p>
                  <div class="important gray mb0">
                    <h3>Исключение:</h3>
                    <p class="p1">
                      По распоряжению коммерческого директора АК на некоторых регулярных и чартерных рейсах авиакомпании могут применяться иные системы бесплатного провоза багажа и тарифы за сверхнормативный багаж в зависимости от выбранного рейса.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Вещи, находящиеся при пассажире и ручная кладь</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <h3 class="mb60">В качестве ручной клади сверх установленной нормы и без взимания дополнительной платы пассажир имеет право провозить следующие вещи:
                  </h3>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="bagage-item">
                        <img src="./img/luggage-child-food.svg" alt="">
                        <h5>Детское питание для ребенка на время полета</h5>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="bagage-item">
                        <img src="./img/luggage-siut.svg" alt="">
                        <h5>Один костюм в портпледе (не более одного на пассажира)</h5>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="bagage-item">
                        <img src="./img/luggage-kolaska.svg" alt="">
                        <h5>Детская коляска</h5>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="bagage-item">
                        <img src="./img/luggage-bring-child.svg" alt="">
                        <h5>Устройство для переноса ребенка</h5>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="bagage-item">
                        <img src="./img/luggage-medicin.svg" alt="">
                        <h5>Лекарственные препараты, специальные диетические потребности</h5>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="bagage-item">
                        <img src="./img/luggage-costily.svg" alt="">
                        <h5>Костыли, трости, ходунки, роллаторы</h5>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="bagage-item">
                        <img src="./img/luggage-flowers.svg" alt="">
                        <h5>Букет цветов</h5>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="bagage-item">
                        <img src="./img/luggage-cout.svg" alt="">
                        <h5>Верхняя одежда</h5>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="bagage-item">
                        <img src="./img/luggage-disability.svg" alt="">
                        <h5 class="mb8">Складное кресло-коляска</h5>
                        <span>Провозится в салоне воздушного судна при наличии места для его безопасного размещения, в ином случае сдается в багаж без взимания дополнительной платы.</span>
                      </div>
                    </div>
                  </div>
                  <p class="p2 mb15">
                    <b>ВНИМАНИЕ:</b><br>
                    Один из следующих предметов с вложенными в него вещами: рюкзак, или дамскую сумку, или портфель. При этом габариты рюкзака, или дамской сумки, или портфеля не должны превышать размеры 40х30х20 см, вес – не более 5 кг. Портплед с костюмом не должен содержать дополнительных внутренних вложений. Перевозка в портпледе любых других предметов, кроме костюма не допускается. При перевозке жёстких портпледов, габариты которых не позволяют разместить их безопасно в салоне воздушного судна (превышающие 55 см по любому из измерений), такие портпледы перевозятся в багаже сверх установленной нормы без взимания дополнительной оплаты;
                  </p>
                  <div class="text-list">
                    <p>
                      устройство для переноса ребенка (детскую люльку, удерживающие системы (устройства) для детей до двух лет, детскую коляску (без ограничения по возрасту ребёнка) и другие устройства) при перевозке ребенка, габариты которых установлены правилами перевозчика, и позволяют безопасно разместить их в салоне воздушного судна на полке над пассажирским сидением либо под сидением впереди стоящего пассажирского сидения;
                    </p>
                  </div>
                  <p class="p2 mb15">
                    <b>ВНИМАНИЕ:</b><br>
                    Детская коляска, или иной предмет для переноса ребёнка, который невозможно безопасно разместить на борту воздушного судна в силу габаритов, взвешивается при регистрации, оформляется багажной биркой, перевозится бесплатно сверх нормы бесплатного провоза багажа в багажном отсеке, при этом сдаётся непосредственно перед посадкой в воздушное судно. Получение указанных предметов по прилёте по общему правилу организовано возле трапа, если иное не предусмотрено технологией аэропорта.
                  </p>
                  <div class="text-list">
                    <p>
                      лекарственные препараты, специальные диетические потребности в количестве, необходимом на время полета;
                    </p>
                    <p>используемые пассажиром костыли, трости, ходунки, роллаторы, складное кресло-коляску;</p>
                  </div>
                  <p class="p2 mb15">
                    <b>ВНИМАНИЕ:</b><br>
                    Инвалидное кресло-коляска при перевозке пассажира с ограниченной подвижностью взвешивается при регистрации, оформляется багажной биркой, перевозится бесплатно сверх нормы бесплатного провоза багажа в багажном отсеке, при этом сдаётся непосредственно перед посадкой в воздушное судно.
                    <br><br>
                    Получение кресла-коляски по прилёте по общему правилу организовано возле трапа, если иное не предусмотрено технологией аэропорта. Лицам с ограничением жизнедеятельности, не имеющим возможности самостоятельно передвигаться, по необходимости, предоставляют коляску для посадки в воздушное судно и высадки из него.
                  </p>
                  <div class="text-list">
                    <p>
                      товары, приобретенные в магазинах беспошлинной торговли в аэропорту, упакованные в запечатанный (опломбированный) пластиковый пакет, габариты которого не превышают размер 40х30х10 см, вес – не более 2 кг.
                    </p>
                  </div>
                  <p class="p2 mb15">
                    Все предметы, составляющие ручную кладь, как по отдельности, так и в совокупности должны иметь габариты и вес, позволяющие безопасно разместить их в салоне воздушного судна на полке над пассажирским сидением либо под сидением впереди стоящего пассажирского сидения. В случае отсутствия возможности для безопасного размещения в салоне воздушного судна предметов, составляющих ручную кладь или отсутствия на ручной клади бирки, такие вещи перевозятся в багажном отделении без взимания дополнительной платы. Пассажир обязан по требованию бортпроводника передать такие вещи для их помещения в багажное отделение
                    <br><br>
                    Вся ручная кладь должна быть промаркирована соответствующей биркой и размещаться под сиденьем впередистоящего пассажирского кресла или в закрывающейся багажной полке над пассажирским креслом.
                  </p>
                  <p class="p2 mb15">
                    <b>ВНИМАНИЕ:</b><br>
                    Размещение ручной клади в непредназначенных для этого местах, в том числе в проходах, на промаркированных полках служебного назначения, под сидениями ряда, расположенного перед аварийным рядом, категорически запрещено.
                    <br><br>
                    Нормы ручной клади не суммируются для совместно следующих пассажиров. Для детей возрастом до 2-х лет, перевозимых без предоставления отдельного места норма ручной клади 5 кг, габаритами не превышающими 40х30х20 см.
                    <br><br>
                    Пассажир обязан по требованию сотрудников аэропорта, представителей авиакомпании, либо бортпроводников предъявить ручную кладь для контроля её габаритов и веса, в том числе поместить ручную кладь в калибратор (измеритель) ручной клади авиакомпании «РусЛайн», установленный в аэропорту на линии регистрации и в зоне выхода на посадку.
                    <br><br>
                    Контроль ручной клади осуществляется в зоне регистрации пассажиров, в зоне выходов на посадку, а также непосредственно при посадке пассажиров на борт воздушного судна.
                    <br><br>
                    В случае обнаружения у пассажира предметов, несоответствующих установленным требованиям по весу и (или) габаритам, пассажир обязан сдать такие вещи в багаж с уплатой сбора, предусмотренного действующими тарифами авиакомпании «РусЛайн». В случае отказа пассажира от оплаты сбора за провоз такого багажа (если багаж выходит за рамки бесплатной нормы провоза багажа), пассажиру может быть отказано в перевозке.
                  </p>
                </div>
              </div>
            </div>
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Провоз жидкостей в ручной клади</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <p class="p1">
                    В целях безопасности полётов ограничен объём жидкостей, которые вы можете провезти в ручной клади. В салон вы можете взять жидкости, если объём ёмкости, в которой они перевозятся, не превышает 100 мл и суммарный объём жидкостей в нескольких упаковках не превышает 1 л.
                    <br><br>
                    Под это правило попадают не только газированные напитки, вода, соки, но и гели, лосьоны, духи, кремы, зубные пасты, жидкая косметика и т.д.
                  </p>
                </div>
              </div>
            </div>
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Перевозка багажа в салоне воздушного судна</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <p class="p2">
                    Багаж пассажира, требующий особых мер предосторожности во время перевозки или особых условий его обработки (хрупкие и бьющиеся предметы, кино- и фотоаппаратура, теле- и видеоаппаратура, бытовая оргтехника, музыкальные инструменты, электронные и оптические приборы и т.п.), может быть перевезен в салоне воздушного судна.
                    <br><br>
                    Перевозка багажа в салоне воздушного судна оформляется и осуществляется по предварительному согласованию с перевозчиком. Пассажир обязан информировать перевозчика или его агента о перевозке багажа в салоне воздушного судна при оформлении бронирования перевозки или приобретении билета и оплатить отдельное место для этого багажа.
                    <br><br>
                    Для перевозки багажа в салоне воздушного судна пассажир должен приобрести отдельный билет по действующим на момент покупки пассажирским тарифам (скидки для детей не применяются).
                    <br><br>
                    Правила и тарифы «место рядом» (extra seat) не распространяются на перевозку багажа в салоне воздушного судна.
                    <br><br>
                    <b>Вес перевозимого в сало  не багажа не должен превышать 80 кг,</b> а габаритные размеры багажа позволять его размещение на отдельном пассажирском кресле, что составляет максимально 90х42х30 см.
                    <br><br>
                    Упаковка багажа, перевозимого в салоне воздушного судна, должна позволять закрепить его в пассажирском кресле. Багаж размещается на пассажирском кресле у иллюминатора и фиксируется ремнём безопасности.
                    <br><br>
                    Доставка багажа, перевозимого в салоне воздушного судна, к борту воздушного судна, его подъем, размещение в салоне воздушного судна, снятие с борта воздушного судна, и доставка от воздушного судна производится пассажиром.
                  </p>
                </div>
              </div>
            </div>
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Перевозка портативных электронных и электрических устройств</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <ul class="number-list">
                    <li>Согласно положений документов ИКАО, малогабаритные средства для личного передвижения, работающие на литиевых аккумуляторных батареях не рекомендованы к перевозке воздушным транспортом.</li>
                    <li>На основании рекомендаций ИКАО, АК не осуществляет воздушную перевозку указанных средств в качестве зарегистрированного багажа и/или ручной клади.</li>
                    <li>Малогабаритные средства для личного передвижения включают:</li>
                    <div class="text-list">
                      <p>Моноколеса (airwheel, solowheel и т.п.);</p>
                      <p>Ховерборды (hoverboards);</p>
                      <p>Гироскутеры (miпi-segway, bаlаncе wheel и т.п).</p>
                    </div>
                    <li>Возможность воздушной перевозки портативных устройств с литиевыми батареями зависит конфигурации и энергоемкости (Втч)* батарей (для заряжаемых литий-ионных/полимерных батарей) или содержания лития (для незаряжаемых батарей из металлического лития).</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="back mt40">
            <a href="for-passengers_transportation-rules.html" class="back_arrow">
              <span class="span_14">Вернуться назад</span>
            </a>
          </div>  
        </div>
      </div>
    </div>
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>