<% var data = { title: "Дополнительные услуги" }; %> 
<%= _.template(require('./../includes/header_2.html').default)(data) %>
<%= _.template(require('./../includes/top_menu.html').default)() %> 
<%= _.template(require('./../includes/add_menu.html').default)() %>

<section class="page-content">
    <div class="container">
      <div class="row page_top">
        <div class="headline col-lg-9">
          <h1>Политика конфиденциальности</h1>
        </div>
        <section class="bread-crumbs col-lg-3">
            <span><a href="./index.html">Главная</a></span>
            <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
              <path
                d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
              />
            </svg>
            <span><a href="#">Пассажирам</a></span>
            <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
              <path
                d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
              />
            </svg>
            <span><a href="for-passengers_booking-rules.html">Правила брониро ...</a></span>
          </section>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <div class="dropdown-list">
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Общие сведения</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <p class="p1 mb30">
                    Персональные данные — это любая информация, относящаяся к вам как пользователю сайта, по которой прямо или косвенно вас можно идентифицировать.
                    <br><br>
                    Данный сайт собирает и обрабатывает персональные данные с учетом требований международных законов и только для осуществления продажи туристических услуг в соответствии с публичным договором "Правила пользования сайтом". Мы передаем персональные данные только надежным партнерам по защищенным протоколам (например, в международные системы бронирования). Мы ограничиваем доступ к персональным данным средствами аутентификации по паролю и секретных кодов. Мы храним персональные данные в зашифрованном виде и только для целей повышения удобства использования сервиса, при этом мы предоставляем владельцу данных возможность их просмотра, редактирования и удаления через функционал "личного кабинета".
                    <br><br>
                    Для осуществления покупки как физического лица вам не обязательно создавать учетную запись в системе. В этом случае доступ к вашему заказу будет ограничен секретным кодом доступа (набор цифр и букв), который будет отображен на странице заказа и продублирован в письме об успешном бронировании. Чтобы вам не приходилось вводить код доступа при каждом обновлении страницы, мы запоминаем ваше устройство через cookie. Если вы забыли или потеряли код доступа и сменили устройство, есть способ восстановить доступ к заказу, введя его номер и фамилию первого пассажира. Чтобы код доступа или номер и фамилию нельзя было подобрать вручную, система ограничивает кол-во попыток ввода за единицу времени.
                    <br><br>
                    Если вы создаете учетную запись в нашей системе, ваши заказы будут привязаны к этой учетной записи и отображены в виде списка в вашем "личном кабинете". Мы также сохраним данные о введенных вами пассажирах, чтобы вы могли повторно их использовать при создании новых заказов. Никто кроме вас не имеет доступа к данным пассажиров, сохраненным в "личном кабинете". Вы можете удалить свою учетную запись через личный кабинет, в этом случае из системы будут удалены все персональные данные, связанные с вашей учетной записью, в том числе и из ваших заказов.
                    <br><br>
                    Персональные данные, относящиеся к заказам хранятся в зашифрованном виде. Доступ к этим данным есть только у вас и у сотрудников нашей компании. Наши сотрудники используют ваши данные только для анализа и решения технических проблем (пример, ошибка при бронировании из-за недопустимого формата или слишком длинной записи), использование для других целей запрещено соглашением о неразглашении, подписанным каждым нашим сотрудником. Персональные данные из заказов будут удалены после завершения сроков выполнения услуги, после завершения допустимых сроков обменов и возвратов по услугам и после завершения отчетного периода
                  </p>
                  <ul class="text-list">
                    <h3>Мы отправляем электронные письма и sms сообщения только:</h3>
                    <li>о текущем статусе ваших заказов</li>
                    <li>для подтверждения вашей почты при регистрации</li>
                    <li>для смены пароля после регистрации</li>
                  </ul>
                  <p class="p1">
                    При регистрации вы можете дополнительно подписаться на рассылку о новостях нашей компании, о выгодных акциях, о специальных предложениях. Вы сможете отказаться от данной рассылки в любой момент по ссылке "отписаться" из письма.
                    <br><br>
                    Наша система не получает и не хранит данные банковских карт. Все платежи проходят через надежные и сертифицированные системы банков или платежных шлюзов. Мы лишь получаем и обрабатываем успешный или неуспешный результат вашей оплаты.
                  </p>
                </div>
              </div>
            </div>
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Права субъекта персональных данных</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <p class="p1 mb30">
                    Обработка персональных данных идет с соблюдением данной политики конфиденциальности.
                    <br><br>
                    Вы имеете право получать, редактировать или полностью удалять свои персональные данные.
                  </p>
                  <ul class="text-list">
                    <h3>Вы имеете право запросить по адресу электронной почты или телефону:</h3>
                    <li>бесплатно одну копию ваших персональных данных</li>
                    <li>подробную информацию о компаниях (о системах бронирования) и о стране их размещения, в которые ваши персональные данные были или будут переданы</li>
                    <li>любую информацию, относящейся к целям и срокам обработки, к источникам получения ваших персональных данных (если это не противоречит требованиям законов)</li>
                  </ul>
                  <p class="p1">Система не обрабатывает персональные данные с целью принятия автоматизированных решений влияющих на стоимость заказа или решений ограничивающих ваши права субъекта персональных данных.</p>
                </div>
              </div>
            </div>
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Информация, собираемая и обрабатываемая нашей системой</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <h3 class="mb30">Мы получаем от вас следующую информацию:</h3>
                  <table>
                    <tr>
                      <th class="white">Тип данных</th>
                      <th class="white" style="text-align: center;">Как используется	</th>
                      <th class="white" style="text-align: center;">Куда передается	</th>
                      <th class="white" style="text-align: center;">Как долго хранится	</th>
                    </tr>
                    <tr>
                      <td>Язык браузера</td>
                      <td style="text-align: center;">Для определения языковой версии сайта</td>
                      <td style="text-align: center;">Не передается</td>
                      <td style="text-align: center;">Не хранится</td>
                    </tr>
                    <tr>
                      <td>Тип браузера</td>
                      <td style="text-align: center;">Для определения специфичных параметров корректного отображения веб-сайта</td>
                      <td style="text-align: center;">Передается в системы бронирования, если это обязательный параметр</td>
                      <td style="text-align: center;">Хранится в логах до 3х лет (только для разбора и решения технических проблем)</td>
                    </tr>
                    <tr>
                      <td>Internet Protocol address (IP)</td>
                      <td style="text-align: center;">Для примерного определения ближайшего к пользователю аэропорта вылета. Для ограничения кол-ва попыток критичных для безопасности операций (защита от подбора)</td>
                      <td style="text-align: center;">Передается в системы бронирования, если это обязательный параметр</td>
                      <td style="text-align: center;">Хранится в логах до 3х лет (только для разбора и решения технических проблем)</td>
                    </tr>
                    <tr>
                      <td>Параметры поискового запроса</td>
                      <td style="text-align: center;">Для предзаполнения формы поиска, после обновления страницы или возврата на сайт</td>
                      <td style="text-align: center;">Передается в системы бронирования для получения предложений (результатов поиска)</td>
                      <td style="text-align: center;">Не больше недели на стороне сервера, 1 год в браузере клиента</td>
                    </tr>
                    <tr>
                      <td>Данные о пассажирах (при покупке)</td>
                      <td style="text-align: center;">Для выполнения операции бронирования и выписки билетов</td>
                      <td style="text-align: center;">В системы бронирования и авиакомпании</td>
                      <td style="text-align: center;">3 месяца после завершения услуги (в зашифрованном виде)</td>
                    </tr>
                    <tr>
                      <td>Данные о пассажирах (в личном кабинете)</td>
                      <td style="text-align: center;">Для подстановки данных в новых заказах</td>
                      <td style="text-align: center;">Не передается</td>
                      <td style="text-align: center;">Неограниченно в зашифрованном виде (до удаления пользователем)</td>
                    </tr>
                    <tr>
                      <td>Адрес электронной почты пользователя (при покупке)</td>
                      <td style="text-align: center;">Для выполнения операции бронирования и выписки билетов. Для отправки электронных билетов и писем о статусе заказа</td>
                      <td style="text-align: center;">В системы бронирования и авиакомпании</td>
                      <td style="text-align: center;">3 месяца после завершения услуги (в зашифрованном виде)</td>
                    </tr>
                    <tr>
                      <td>Телефон пользователя (при покупке)</td>
                      <td style="text-align: center;">Для выполнения операции бронирования и выписки билетов. Для отправки смс о статусе заказа</td>
                      <td style="text-align: center;">В системы бронирования и авиакомпании</td>
                      <td style="text-align: center;">3 месяца после завершения услуги (в зашифрованном виде)</td>
                    </tr>
                    <tr>
                      <td>Адрес электронной почты пользователя (при регистрации)</td>
                      <td style="text-align: center;">Для идентификации пользователя. Для восстановления пароля.</td>
                      <td style="text-align: center;">В системы управления рассылками в случае прямого согласия пользователя</td>
                      <td style="text-align: center;">Неограниченно (до удаления себя пользователем)</td>
                    </tr>
                    <tr>
                      <td>Пароль пользователя</td>
                      <td style="text-align: center;">Для аутентификации</td>
                      <td style="text-align: center;">Не передается</td>
                      <td style="text-align: center;">Неограниченно (до удаления себя пользователем), в виде хеш-суммы.</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Cookie Policy</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <p class="p1 mb15">
                    Файл cookie — это файлы с данными, относящимся к нашей системе, и хранимыми на стороне вашего устройства.
                    <br><br>
                    Вы управляете хранимыми данными самостоятельно и в любой момент можете их удалить. Не рекомендуется полностью отключать функционал cookie файлов, т.к. это может отрицательно сказаться на доступной функциональности нашей системы.
                    <br><br>
                    Мы используем данные из этих файлов только для целей:
                    <h3 class="mb15"> Обеспечения безопасности:</h3>
                    <p class="p1 mb30">
                      Мы идентифицируем именно ваше устройство и ограничиваем несанкционированный доступ к вашим персональным данным с других устройств. Благодаря этому, вы можете совершать покупку билетов без создания учетной записи.
                      <br><br>
                      При аутентификации (вводе логина и пароля) мы запоминаем вас через уникальный идентификатор сессии, хранимый в cookie. Это позволяет вам повторно не вводить логин и пароль при выполнении каждой операции, требующей авторизации.
                    </p>
                    <h3 class="mb15">Для повышения качества системы:</h3>
                    <p class="p1 mb30">
                      Мы сохраняем удобные для вас параметры сайта, например, язык или валюта цен.
                      <br><br>
                      Мы сохраняем последние введенные параметры поиска, чтобы вам не приходилось заполнять форму заново.
                    </p>
                    <h3 class="mb15">Для сбора аналитических данных:</h3>
                    <p class="p1 mb30">
                      Мы стремимся улучшить наш сервис и сделать его более быстрым, стабильным и удобным. Для выявления проблемных и не оптимальных страниц сайтов, мы используем файлы cookie для сбора анонимной аналитической информации в системах Яндекс.Метрика и Google Analytics.
                    </p>
                    <h3 class="mb15">Для эффективной и полезной рекламы.</h3>
                    <p class="p1">
                      Мы используем системы показа рекламы (пример, Google AdWords, Яндекс.Директ) для продвижения нашего продукта.
                      <br><br>
                      Эти системы собирают анонимную статистическую информацию о вас для целей эффективной и ненавязчивой рекламной компании.
                    </p>
                  </p>
                </div>
              </div>
            </div>
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Политика хранения данных</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <ul class="number-list">
                    <li>Безопасность доступа к персональным данных обеспечивается аутентификацией и авторизацией.
                    </li>
                    <li>Безопасность доступа к персональным данным незарегистрированных покупателей обеспечивается через уникальные коды доступа или идентификацию устройства покупателя (через cookie).</li>
                    <li>Сотрудники компаний, имеющие доступ к персональным данным, подписывают соглашение о неразглашении и проходят двухфакторную аутентификацию.</li>
                    <li>ерсональные данные шифруются при передаче и при хранении (в том числе и в бэкапах), целостность зашифрованных данных проверяется по контрольным суммам. Алгоритм шифрования: симметричный с 256 битным ключом и случайным вектором.</li>
                    <li>езопасное хранение паролей (через хеш-суммы без возможности восстановить оригинальный пароль пользователя).</li>
                    <li>Пароли и кодов доступа к персональным данным защищены от подбора перебором.</li>
                    <li>Защита от потери данных организована через систему репликаций в реальном времени и ежедневных бэкапов.</li>
                    <li>Все операции доступа к персональным данным логируются.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Изменения в политике конфиденциальности</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <p class="p1">Требования международных законов и соглашений о персональных данных изменяются и мы должны им соответствовать. Кроме того мы постоянно улучшаем нашу систему, добавляем новый функционал и новые системы бронирования. Мы непрерывно совершенствуем механизмы защиты персональных данных. Все это требует внесения изменений в настоящую политику конфиденциальности. Действие нового документа вступает в силу с даты публикации.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <h3 class="mb15">Контактная информация:</h3>
          <p class="p2 mb8">121354, Россия, Москва, <br>ул. Дорогобужская, д. 14, корпус 1, БЦ "Партнёр"
          </p>
          <p class="p2 mb8">Время работы: 09:30 – 18:30</p>
          <p class="p2 phone-icon mb8"><a href="" class="text-link">8-809-505-46-69</a></p>
          <p class="p2 phone-icon mb8"><a href="" class="text-link">+7 (495) 980 50 05</a> (приемная) </p>
          <a href='mailto:info@rusline.aero' class="p2 mail-icon text-link">info@rusline.aero</a>
        </div>
      </div>

    </div>
    </div>
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>