<% var data = { title: "Дополнительные услуги" }; %> 
<%= _.template(require('./../includes/header_2.html').default)(data) %>
<%= _.template(require('./../includes/top_menu.html').default)() %> 
<%= _.template(require('./../includes/add_menu.html').default)() %>

<section class="page-content">
    <div class="container">
      <div class="row page_top">
        <div class="headline col-lg-9">
          <h1>Оформление авиабилета</h1>
        </div>
        <section class="bread-crumbs col-lg-3">
            <span><a href="./index.html">Главная</a></span>
            <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
              <path
                d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
              />
            </svg>
            <span><a href="#">Пассажирам</a></span>
            <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
              <path
                d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
              />
            </svg>
            <span><a href="for-passengers_booking-rules.html">Правила брониро ...</a></span>
          </section>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <div class="dropdown-list mt40">
            <!--  -->
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Как забронировать билеты онлайн?</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <p class="p1">Чтобы забронировать авиабилеты онлайн, Вам необходимо ознакомиться с <a class="text-link" href="#">инструкцией</a>.</p>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Как указывать фамилию и имя при бронировании авиабилета?</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <p class="p1">При бронировании авиабилета на российский, заграничный или национальный паспорт, необходимо указывать данные так, как они прописаны в документе, который будет предъявлен сотруднику паспортного и таможенного контроля в аэропорту вылета.</p>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Как вводить данные свидетельства о рождении ребенка?</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <p class="p1">Данные свидетельства о рождении ребенка необходимо вносить следующим образом: римские обозначения вводятся заглавными буквами латиницей, далее вводятся заглавные буквы кириллицей и цифры без пробелов и тире. Например, IVПФ123456.</p>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Что такое электронный билет?</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <p class="p1">В результате покупки на сайте Вы получаете электронный билет. Электронный авиабилет - это авиационный билет новой формы, пришедший на смену бумажному бланку. Электронный билет, так же, как и обычный, является документом, удостоверяющим договор воздушной перевозки между пассажиром и авиакомпанией.
                    <br><br>
                    Сам процесс бронирования авиабилета не изменился, но если раньше вся информация о перелете выводилась на бумажный бланк, то теперь она хранится в базе электронных билетов авиакомпании. Электронный билет можно купить как через Интернет, так и в офисах продаж.</p>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Что такое маршрут-квитанция электронного билета?</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <p class="p1">Подтверждением покупки электронного билета является маршрут-квитанция. При покупке билета через Интернет маршрут-квитанцию в электронном виде пассажир получает на свой электронный адрес. В случае приобретения электронного билета в офисе продаж, кассир обязан выдать пассажиру распечатанную маршрут-квитанцию. В маршрут-квитанции указываются все данные Вашего перелета: маршрут, № рейса, дата и время вылета, информация о пассажирах.</p>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>В чем отличия электронного билета?</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <ul class="text-list mb0">
                    <h3>Электронный билет имеет ряд преимуществ:</h3>
                    <li>Электронный билет можно купить онлайн через Интернет, моментально оплатив его банковской картой. При этом пассажир может самостоятельно подобрать подходящий рейс, сравнить тарифы различных авиакомпаний, ознакомиться с условиями их применения.</li>
                    <li>Электронный билет Вы можете купить своим друзьям или родным, находясь в любом населенном пункте, имеющем выход в Интернет и просто сообщить, к какому рейсу им нужно добраться в аэропорт на регистрацию.</li>
                    <li>В случае утери или порчи бумажного билета необходимо получить дубликат. Электронный же билет невозможно потерять, украсть, или забыть, так как он хранится в базе данных авиакомпании в виде электронной записи.</li>
                  </ul>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Как происходит регистрация в аэропорту по электронному билету?</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <p class="p1">Электронная запись Вашего электронного билета передается авиакомпанией в аэропорт вылета рейса. Поэтому при регистрации в аэропорту пассажиру достаточно предъявить документ, удостоверяющий личность, указанный при бронировании, и регистратор найдет Ваши данные в списке пассажиров на рейс. Маршрут-квитанцию электронного билета не обязательно иметь с собой в момент регистрации на рейс, но мы советуем брать ее с собой. В ней указывается вся информация о Вашем перелете.</p>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Когда нужна маршрут-квитанция?</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <ul class="text-list mb0">
                    <h3>Маршрут-квитанция может Вам потребоваться в следующих случаях:</h3>
                    <li>в аэропорту вылета представителям службы безопасности;</li>
                    <li>при прилете в другое государство как подтверждение обратного вылета миграционным службам;</li>
                    <li>для отчета за командировку в бухгалтерию предприятия;</li>
                    <li>всю информацию о своем рейсе Вы в любой момент можете посмотреть в маршрут-квитанции.</li>
                  </ul>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>По каким документам можно оформить авиабилет?</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <ul class="text-list">
                    <h3>Документы, удостоверяющие личность пассажира для авиаперелета:</h3>
                    <li>Общегражданский паспорт;</li>
                    <li>Общегражданский заграничный паспорт;</li>
                    <li>Дипломатический паспорт;</li>
                    <li>Служебный паспорт;</li>
                    <li>Паспорт моряка (удостоверение личности);</li>
                    <li>Свидетельство о рождении для лиц до 14 лет;</li>
                    <li>Удостоверение депутата Совета Федерации или депутата Госдумы Федерального собрания;</li>
                    <li>Удостоверение личности военнослужащего РФ (офицеры, прапорщики, мичманы);</li>
                    <li>Военный билет для солдат, матросов, сержантов и старшин, на военной службе по призыву/контракту;</li>
                    <li>Справка об освобождении из мест лишения свободы -для лиц, освободившихся из мест лишения свободы;</li>
                    <li>Удостоверение личности, выдаваемое осужденному получившему разрешение на длительный или краткосрочный выезд за пределы мест лишения свободы;</li>
                    <li>Временное удостоверение личности, выдаваемое гражданину РФ в ОВД при утрате/замене паспорта;</li>
                    <li>Национальный паспорт;</li>
                    <li>Вид на жительство.</li>
                  </ul>
                  <p class="p1">Пассажир несет ответственность за надлежащее оформление документов и соблюдение всех законов, постановлений, правил и предписаний государственных органов страны, с территории, или на (через) территорию которой осуществляется перевозка, относящихся к выполнению паспортных, таможенных, валютных, санитарных, карантинных и других формальностей.
                  <br><br>  
                  Авиакомпания вправе не допустить к полету пассажира с не оформленными надлежащим образом документами.</p>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Какое время указывается при покупке билета и в самом билете?</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <p class="p1">При покупке билета всегда указывается местное время в пункте вылета и в пункте прилета рейса.</p>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Безопасно ли оплачивать билет на сайте?</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <p class="p1">Оплата банковскими картами производится посредством перенаправления клиента на сайт системы электронных платежей ООО «Международные процессинговые системы». В системе безопасность передачи данных обеспечивается использованием протокола SecureSocketsLayer (SSL). Дальнейшая передача информации осуществляется по закрытым банковским сетям, имеющим высшую степень защиты и прошедшим аудит PCI DSS. Сбор и обработка полученных конфиденциальных данных клиента (реквизиты карты, регистрационные данные и т. д.) производится в процессинговом центре, имеющем сертификат PCI DSS.</p>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Всеми ли картами я могу оплатить заказ?</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <p class="p1">Вы можете оплатить заказ картами типа Maestro, Visa, MasterCard, JCB и МИР. Обращаем Ваше внимание, что многие банковские карты как российских, так и иностранных банков не поддерживают систему защиты 3D-Secure. Во избежание случаев мошенничества, система оплаты на нашем сайте требует подключения данной системы защиты. Для решения этой проблемы Вы можете обратиться в Ваш банк, многие банки подключают эту систему защиты по требованию клиента, либо использовать карту другого банка, где уже подключена эта система защиты.</p>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Стоимость билета указана в рублях, а у меня карта в другой валюте. По какому курсу будет оплачен билет?</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <p class="p1">Оплатить авиабилет на сайте можно картой в любой валюте, но платёж за билеты принимается только в рублях. Стоимость покупки будет конвертирована в рубли по курсу банка-эмитента.</p>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Как проверить бронирование, если билет был приобретен не на официальном сайте Авиакомпании?</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <p class="p1">На сайте <a class="text-link" href="https://www.rusline.aero/">www.rusline.aero</a> возможно осуществить проверку только бронирований, созданных на официальном сайте Авиакомпании. Для проверки Вашего бронирования Вы можете обратиться на сайт первоначальной покупки билета.</p>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Я потерял маршрутную квитанцию электронного билета. Могу ли я получить ее снова?</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <p class="p1">Вы можете распечатать маршрутную квитанцию электронного билета из письма о подтверждении покупки — это письмо вы получили от нас после оплаты билета. Если вы случайно удалили письмо с маршрутной квитанцией, то получить её снова можно позвонив по телефону круглосуточной службы поддержки клиентов и бронирования билетов 8 809 505 46 69 (стоимость звонка от 64 до 68 руб./мин. с учетом НДС, в зависимости от оператора связи, включая время ожидания и разговора с менеджером), для звонков из других стран +7 (495) 933-23-33, либо в своем личном кабинете, если Вы оформляли билет на сайте авиакомпании. Обратите внимание, что для регистрации на рейс маршрутная квитанция не обязательна, главное — наличие документа, удостоверяющего вашу личность, на который был оформлен билет.</p>
                </div>
              </div>
            </div>
            <!--  -->
          </div>
          
          <div class="back mt40">
            <a href="for-passengers_FAQ.html">
              <div class="back_arrow"></div>
              <span class="span_14">Вернуться назад</span>
            </a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="img-wrapper">
            <img src="./img/faq_st_2.jpg" alt="">
          </div>
        </div>
      </div>

    </div>
    </div>
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>