<% var data = { title: "Дополнительные услуги" }; %>
<%= _.template(require('./../includes/header_2.html').default)(data) %>
<%= _.template(require('./../includes/top_menu.html').default)() %>
<%= _.template(require('./../includes/add_menu.html').default)() %>

<section class="page-content">
  <div class="container">
    <div class="row page_top">
      <div class="headline col-lg-9">
        <h1>Правила перевозки</h1>
      </div>
      <section class="bread-crumbs col-lg-3">
        <span><a href="./index.html">Главная</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z" />
        </svg>
        <span><a href="#">Пассажирам</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z" />
        </svg>
        <span><a href="for-passengers_transportation-rules">Правила перевозки</a></span>
      </section>
    </div>

    <div class="cards-list">
      <div class="card-wrapper">
        <div class="card-item">
          <a href="for-passengers_transportation-rules_perevozka-otdelnyh-passajirov.html">
            <h4>Перевозка отдельных категорий пассажиров</h4>
            <img src="./img/rulesImg_1.jpg" alt="">
            <div class="description">
              <h5>Итак, готовимся! Вы решили приехать в Красную Поляну и выбираете, где будете кататься.</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="card-wrapper">
        <div class="card-item">
          <a href="for-passengers__transportation-rules_perevozka-ptic-i-jivotnih.html">
            <h4>Перевозка птиц и животных</h4>
            <img src="./img/rulesImg_2.jpg" alt="">
            <div class="description">
              <h5>Итак, готовимся! Вы решили приехать в Красную Поляну и выбираете, где будете кататься.</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="card-wrapper">
        <div class="card-item">
          <a href="for-passengers__booking-rules_perevozka-bagaja.html">
            <h4>Общие правила перевозки багажа</h4>
            <img src="./img/rulesImg_3.jpg" alt="">
            <div class="description">
              <h5>Итак, готовимся! Вы решили приехать в Красную Поляну и выбираете, где будете кататься.</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="card-wrapper">
        <div class="card-item">
          <a href="for-passengers__booking-rules_baggage_transfer.html">
            <h4>Перевозка багажа на трансферных рейсах</h4>
            <img src="./img/rulesImg_4.jpg" alt="">
            <div class="description">
              <h5>Итак, готовимся! Вы решили приехать в Красную Поляну и выбираете, где будете кататься.</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="card-wrapper">
        <div class="card-item">
          <a href="for-passengers__booking-rules_transportation-sports-and-musical-instruments.html">
            <h4>Перевозка спортивного оборудования</h4>
            <img src="./img/rulesImg_5.jpg" alt="">
            <div class="description">
              <h5>Итак, готовимся! Вы решили приехать в Красную Поляну и выбираете, где будете кататься.</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="card-wrapper">
        <div class="card-item">
          <a href="for-passengers__booking-rules_perevozka-orujiya.html">
            <h4>Перевозка оружия и боеприпасов</h4>
            <img src="./img/rulesImg_6.jpg" alt="">
            <div class="description">
              <h5>Итак, готовимся! Вы решили приехать в Красную Поляну и выбираете, где будете кататься.</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="card-wrapper">
        <div class="card-item">
          <a href="for-passengers__booking-rules_perechen_opasnix_veshestv.html">
            <h4>Перечень опасных веществ, запрещенных к перевозке и порядок их изъятия</h4>
            <img src="./img/rulesImg_7.jpg" alt="">
            <div class="description">
              <h5>Итак, готовимся! Вы решили приехать в Красную Поляну и выбираете, где будете кататься.</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="card-wrapper">
        <div class="card-item">
          <a href="for-passengers_transportation-rules_payment_baggage.html">
            <h4>Платный (сверхнормативный) и негабаритный багаж</h4>
            <img src="./img/rulesImg_8.jpg" alt="">
            <div class="description">
              <h5>Итак, готовимся! Вы решили приехать в Красную Поляну и выбираете, где будете кататься.</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="card-wrapper">
        <div class="card-item">
          <a href="for-passengers__booking-rules_permitted_for_carriage.html">
            <h4>Перечень веществ и предметов, разрешенных к перевозке</h4>
            <img src="./img/rulesImg_9.jpg" alt="">
            <div class="description">
              <h5>Итак, готовимся! Вы решили приехать в Красную Поляну и выбираете, где будете кататься.</h5>
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>