<% var data = { title: "Дополнительные услуги" }; %> 
<%= _.template(require('./../includes/header_2.html').default)(data) %>
<%= _.template(require('./../includes/top_menu.html').default)() %> 
<%= _.template(require('./../includes/add_menu.html').default)() %>

<section class="page-content">
    <div class="container">
      <div class="row page_top">
        <div class="headline col-lg-9">
          <h1>Перевозка отдельных категорий пассажиров</h1>
        </div>
        <section class="bread-crumbs col-lg-3">
            <span><a href="./index.html">Главная</a></span>
            <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
              <path
                d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
              />
            </svg>
            <span><a href="#">Пассажирам</a></span>
            <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
              <path
                d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
              />
            </svg>
            <span><a href="for-passengers_transportation-rules">Правила перевозки</a></span>
          </section>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <div class="dropdown-list">
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Перевозка беременных женщин</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <ul class="number-list">
                    <li>К перевозке беременные женщины принимаются только при наличии медицинской обменной карты, подтверждающей срок беременности.</li>
                    <li>АО АК «РусЛайн» не осуществляет перевозку беременных женщин на сроках более 36 (тридцати шести) недель беременности, а в случае многоплодной беременности – после 32 (тридцати двух) недель.</li>
                    <li>По наступлению 28 (двадцати восьмой) недели беременности беременные женщины должны иметь с собой и предоставить на регистрации справку от врача, наблюдающего беременность, с подтверждением того, что беременность протекает нормально, и с указанием предполагаемой даты родов. В этой справке врач также должен указать, что пассажир здоров, что врач не возражает против перевозки воздушным транспортом. Указанная выше справка должна быть оформлена не позднее, чем за 7 (семь) календарных дней до начала воздушной перевозки.</li>
                    <li>Перевозка данной категории пассажиров осуществляется при условии, что АО АК «РусЛайн» не будет нести ответственность за возможные отрицательные последствия для матери или плода, что удостоверяется гарантийным обязательством (Заполняется при регистрации).</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Перевозка детей</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <ul class="number-list">
                    <li>Возраст ребенка определяется на дату начала воздушной перевозки от аэропорта отправления, указанного в перевозочном документе.</li>
                    <li>Пассажир воздушного судна имеет право бесплатно перевезти с собой одного ребенка в возрасте не старше 2 (двух) лет без предоставления ему отдельного места. У каждого ребенка до 2 (двух) лет, в обязательном порядке, должен быть сопровождающий.
                    <br><br><b>ВНИМАНИЕ:</b> Во время взлета, набора высоты, снижения и посадки, сопровождающий обязан держать ребенка на руках. Авиакомпания не предоставляет детские ремни безопасности. Для ребенка до 2 (двух) лет может быть приобретен отдельный билет, предоставляющий ему право занимать отдельное место в самолете.
                    <br><br><b>ВНИМАНИЕ:</b> Перевозка новорожденных младенцев, которым меньше семи дней, не осуществляется.
                    <br><br><b>ВНИМАНИЕ:</b> Авиакомпания не оказывает услугу по сопровождению детей.
                    </li>
                    <li>Дети в возрасте от 2 (двух) до 12 (двенадцати) лет перевозятся исключительно в сопровождении совершеннолетнего пассажира.</li>
                    <li>На одном рейсе дети в возрасте до 2-х лет перевозятся на ВС типа CRJ 100/200 в количестве не более пяти человек.</li>
                    <li>Дети в возрасте старше двенадцати лет могут перевозиться без сопровождения совершеннолетнего пассажира на внутренних рейсах авиакомпании. </li>
                    <li>Выезд несовершеннолетнего гражданина за пределы Российской Федерации осуществляется в соответствии с законодательством Российской Федерации.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Перевозка пассажиров с ограниченными физическими возможностями</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <p class="p1 mb30">
                    <b>ВНИМАНИЕ:</b> Пассажир обязан определить возможность пользования воздушным транспортом, исходя из состояния своего здоровья. Если возраст, психическое или физическое состояние пассажира могут вызвать в полете ухудшение его здоровья или создать опасность для его жизни, воздушная перевозка такого пассажира производится при условии, что АО АК «РусЛайн» не несет ответственности за последствия, наступившие в результате указанных причин, что подтверждается подписанием пассажиром соответствующего обязательства.
                    <br><br>
                    <b>ПОМНИТЕ:</b> Игнорируя медицинские противопоказания к полетам на самолете, связанные с Вашим состоянием здоровья, Вы подвергаете риску не только себя, но и других пассажиров самолета, следующих совместно с Вами, а также членов экипажа.
                  </p>
                  <h3 class="mb15">Классификация пассажиров «PRM»</h3>
                  <p class="p1 mb15">
                    PRM – (Persons with Reduced Mobility) – «Человек с ограниченными возможностями» - инвалид или другое лицо с ограничениями жизнедеятельности - это человек, способность которого передвигаться при использовании средств транспорта ограничена вследствие физического (сенсорного или моторного, хронического или временного) недостатка, умственного недостатка или ограничения, иного ограничения или возрастных изменений, и состояние которого требует надлежащей поддержки и адаптации оказываемых пассажирам услуг к специфическим потребностям данного пассажира.
                    <br><br>
                    Особые потребности обладающих правом на обслуживание пассажиров классифицированы посредством стандартизованного кода сервисных услуг Международной ассоциации воздушного транспорта IATA (International Air Transport Association) следующим образом:
                  </p>
                  <ul class="text-list">
                    <li>WCHR – пассажиры, способные подниматься и спускаться по лестницам и перемещаться по салону воздушного судна, однако нуждающиеся в кресле-каталке или иных вспомогательных средствах для передвижения между воздушным судном и зданием предполетного обслуживания пассажиров (терминалом) и внутри этого здания, а также между зонами прилета и вылета отдельных терминалов;</li>
                    <li>WCHS – пассажиры, не способные подниматься и спускаться по лестницам, способные свободно передвигаться в салоне воздушного судна, которым требуется кресло – коляска или иные вспомогательные средства для передвижения между воздушным судном и зданием предполетного обслуживания (терминалом) пассажиров и внутри этого здания, а также между зонами прилета и вылета отдельных терминалов;</li>
                    <li>WCHC – немобильные пассажиры, способные самостоятельно передвигаться исключительно с помощью кресла-каталки или других вспомогательных средств и которые требуют непрерывной помощи от момента прибытия в аэропорт до размещения в кресле воздушного средства (или иного специального места, приспособленного для конкретных потребностей данного пассажира), или после прибытия в пункт назначения – в обратном порядке;</li>
                    <li>WCHP – пассажиры с ограничениями движения нижних конечностей, способные в основном самостоятельно передвигаться, однако нуждающиеся в помощи при посадке и высадке из воздушного судна и способные перемещаться в салоне воздушного судна только с помощью бортового кресла-каталки;</li>
                    <li>DEAF – пассажиры с ограничениями в области органов слуха, глухие и глухонемые пассажиры;</li>
                    <li>BLND – пассажиры с ограничениями в области органов зрения и слепые пассажира;</li>
                    <li>DEAF/BLND – пассажиры с ограничениями в области слуха/глухонемые пассажиры и одновременно с ограничениями в области органов зрения/слепые пассажиры, способные перемещаться только с помощью сопровождающего пассажира;</li>
                    <li>DPNA – пассажиры с ограниченными умственными способностями, которые в зависимости от вида и степени своих ограничений могут перемещаться только с помощью сопровождающего пассажира;</li>
                    <li>MEDA – (только в комбинации с WCH) – пассажиры, мобильность которых ограничена вследствие клинического заболевания с прогрессирующим развитием, которые тем не менее могут путешествовать с разрешения органов здравоохранения или при наличии медицинского свидетельства о способности пользоваться транспортными средствами.</li>
                  </ul>
                  <div class="important">
                    <p class="p1">
                      Согласовать перевозку пассажиров с ограниченными возможностями можно круглосуточно в контактном центре авиакомпании «РусЛайн» по телефону <b>8-809-505-46-69</b> (стоимость звонка от 64 до 68 руб./мин. с учетом НДС, в зависимости от оператора связи, включая время ожидания и разговора с менеджером), не позднее, чем за 24 часа до вылета рейса.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Депортированные и не допущенные к въезду в страну пассажиры</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <ul class="number-list">
                    <li>Пассажир, прибывший на рейсе авиакомпании, и по каким-либо причинам не получивший допуска на въезд на территорию страны следования, должен возвратиться в пункт отправления. Уполномоченные органы составляют «Акт о депортации», на основании которого оформляется обратный билет. Пассажир обязан сам оплатить обратный перелет, поскольку за отказ ему во въезде авиакомпания ответственности не несет. Авиакомпания вправе использовать в качестве оплаты обратного перелета любые средства, ранее внесенные пассажиром в пользу авиакомпании. Стоимость перевозки до пункта, где пассажиру отказали во въезде, не возвращается.</li>
                    <li>Пассажир, не допущенный к въезду в страну, несет ответственность за возмещение всех расходов Авиакомпании по его обратной доставке и содержанию (питание, размещение в гостинице, наземная перевозка, авиабилет и т.п.).</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Перевозка пассажиров класса эконом-премиум</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <ul class="number-list">
                    <h3>Пассажирам класса эконом-премиум Авиакомпания предоставляет следующие дополнительные услуги, повышающие комфорт воздушной перевозки:</h3>
                    <li>Пассажиры эконом-премиум на регистрации в аэропорту вылета оформляются на отдельной стойке или без очереди на общей стойке регистрации на рейс. В зависимости от возможностей аэропорта вылета, авиакомпания производит доставку Пассажиров эконом-премиум на борт самолета отдельно от Пассажиров экономического класса.</li>
                    <li>В аэропорту вылета Пассажирам эконом-премиум может быть предложено обслуживание в Бизнес - Зале (Зале Официальных Лиц и Делегаций) при наличии таковых в аэропорту.</li>
                    <li>На борту воздушного судна Пассажирам эконом-премиум предоставляются места на первых двух рядах кресел пассажирского салона и улучшенный рацион бортового питания.</li>
                    <li>По прилете Пассажиры эконом-премиум покидают воздушное судно в первую очередь. Если в аэропорту прилета имеется возможность, то доставка данной категории Пассажиров от воздушного судна в аэровокзал осуществляется на отдельном виде транспорта.</li>
                    <li>В аэропорту назначения обслуживание пассажиров эконом-премиум в Бизнес-Зале не предусматривается.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Перевозка транзитных и трансферных пассажиров</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <p class="p1 mb30">
                    Доставка пассажиров от воздушного судна в здание аэропорта по прилете воздушного судна в пункт транзита и посадка этих пассажиров на борт воздушного судна для дальнейшего полета до пункта назначения производится в первую очередь.
                  </p>
                  <div class="important mb0">
                    <h3 class="red">ВНИМАНИЕ:</h3>
                    <p class="p1">
                      При оформлении багажа в пункте первоначального отправления каждое место маркируется специальными трансферными (транзитными) бирками.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Перевозка пассажиров по код-шеринговым рейсам</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <ul class="number-list">
                    <li>При бронировании перевозки на код-шеринговый рейс (рейс совместной эксплуатации) пассажир будет проинформирован о том, какая именно авиакомпания будет обслуживать полет.</li>
                    <li>На рейсах партнеров Авиакомпании по совместной эксплуатации применяются правила фактического перевозчика в отношении норм провоза багажа и предоставления специальных услуг.</li>
                    <li>Рейсы код-шеринг имеют два (или более) кода. На информационном табло в аэропортах также рейс по код-шерингу будет отображаться двумя или более кодами Перевозчиков, которые выполняют данный рейс в рамках договора по код – шерингу.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>Перевозка лиц категории "Особо важные персоны" - VIP</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <ul class="number-list">
                    <h3>Особо важные персоны (VIP) - это пассажиры, к которым вследствие их официального ранга или социального положения Авиакомпания относится с особым вниманием и которые пользуются особыми привилегиями.</h3>
                    <li>При перевозке лиц категории VIP Авиакомпания своевременно предоставляет им и лицам, их провожающим/встречающим, информацию о вылете/прилете, оказывает содействие в прохождении административных формальностей и в оформлении и хранении багажа.</li>
                    <li>Обслуживание лиц категории VIP в залах официальных делегаций осуществляется на основании заявок. Заявки подаются ответственными лицами государственных, общественных, политических, религиозных и коммерческих организаций.</li>
                    <li>За пользование залом официальных делегаций Пассажир VIP обязан произвести оплату, если она не была произведена ранее или не предусмотрены другие формы расчетов.</li>
                    <li>Лица категории VIP должны прибыть в аэропорт отправления не позднее времени окончания регистрации пассажиров на рейс. В отдельных случаях, при предварительном уведомлении о времени прибытия Пассажира в зал официальных делегаций и согласовании с ним места посадки в салоне самолета, допускается более поздняя его посадка в самолет, но не позднее 15 минут до отправления самолета по расписанию.</li>
                    <li>Пассажиры категории VIP проходят предполетный досмотр в пунктах специального досмотра, оборудованных в залах официальных делегаций. При отсутствии пункта досмотра в зале официальных делегаций пассажиры VIP проходят предполетный досмотр в одном из пунктов специального досмотра после прохождения общего потока пассажиров. Специальный досмотр проводится на общих основаниях для всех категорий пассажиров без исключения.</li>
                    <li>Требования к проведению установленных формальностей при регистрации пассажиров VIP не отличаются от общепринятых. Регистрация пассажиров VIP проводится в зале пребывания пассажиров. На багаж Пассажира, кроме обычной багажной бирки, навешивается специальная бирка "VIP".</li>
                    <li>По прибытии воздушного судна в аэропорт назначения пассажиры VIP выходят из самолета первыми. Представитель Авиакомпании или уполномоченное лицо встречает пассажиров у борта самолета и сопровождает их в зал официальных делегаций. Выгрузка багажа этих пассажиров осуществляется в первую очередь.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="back mt40">
            <a href="for-passengers_transportation-rules.html">
              <div class="back_arrow"></div>
              <span class="span_14">Вернуться назад</span>
            </a>
          </div>
        </div>

    </div>
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>