<% var data = { title: "Дополнительные услуги" }; %> 
<%= _.template(require('./../includes/header_2.html').default)(data) %>
<%= _.template(require('./../includes/top_menu.html').default)() %> 
<%= _.template(require('./../includes/add_menu.html').default)() %>

<section class="page-content">
    <div class="container">
      <div class="row page_top">
        <div class="headline col-lg-9">
          <h1>Перевозка оружия и боеприпасов</h1>
        </div>
        <section class="bread-crumbs col-lg-3">
            <span><a href="./index.html">Главная</a></span>
            <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
              <path
                d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
              />
            </svg>
            <span><a href="#">Пассажирам</a></span>
            <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
              <path
                d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
              />
            </svg>
            <span><a href="for-passengers_transportation-rules">Правила перевозки</a></span>
          </section>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <ul class="text-list mb30">
            <h3>В целях обеспечения безопасности во время полета пассажирам запрещается иметь при себе огнестрельное, газовое и холодное оружие всех видов.</h3>
            <li>Перевозка пассажира с оружием и/или боеприпасами в обязательном порядке согласовывается с Авиакомпанией при бронировании перевозки не позднее, чем за 24 часа до времени вылета по расписанию. При отсутствии такого согласования пассажиру может быть отказано в перевозке.</li>
            <li>На регистрацию пассажир, перевозящий оружие, должен прибыть заранее для прохождения всех формальностей, желательно за полтора часа до вылета рейса.</li>
            <li>При перевозке оружия по территории Российской Федерации пассажиру необходимо иметь при себе соответствующее разрешение на право хранения и ношения оружия.</li>
            <li>При ввозе/вывозе оружия на/с территорию Российской Федерации и провозе через территорию Российской Федерации пассажир должен иметь разрешение на ввоз/вывоз оружия, выданный уполномоченным органом МВД</li>
            <li>В аэропорту вылета оружие в обязательном порядке передается в службу безопасности аэропорта вылета для временного хранения на период полета и выдается владельцам в аэропорту назначения.</li>
            <li>Имитаторы оружия (пистолетов, револьверов, винтовок, карабинов, автоматов, электрошоковых устройств и т.п.) перевозить в салонах воздушных судов запрещается. Перевозка имитаторов оружия допускается только в зарегистрированном багаже.</li>
            <li>Оружие принимается к перевозке только в разряженном состоянии в упаковке пассажира (чехлах, кобурах, специальной таре, кейсах, футлярах) отвечающей требованиям безопасности и сохранности оружия. При этом оружие и боеприпасы должны находиться в отдельных упаковках.</li>
            <li>Патроны для газового оружия к перевозке Воздушным транспортом запрещены.</li>
            <li>При трансферных перевозках оформление оружия, боеприпасов и спецсредств до конечного пункта следования не производится. При трансферной перевозке, в аэропорту стыковки, пассажиру необходимо получить оружие, боеприпасы и спецсредства, и оформить его на следующий рейс.</li>
            <li>На одном рейсе допускается перевозка не более 5 (пяти) единиц оружия.</li>
          </ul>
          <h3 class="mb15">Провоз оружия и боеприпасов входит в норму бесплатного провоза багажа.</h3>
          <p class="p1">
            Багаж с одной единицей оружия (или один, специально предназначенный для перевозки оружия, контейнер с несколькими единицами оружия, принадлежащими одному пассажиру) и одно место багажа с боеприпасами, не расценивается как отдельное место багажа при условии, что в сумме с любым другим местом багажа пассажира его вес не превышает установленную норму, указанную в билете. В противном случае, оружие и боеприпасы расцениваются как дополнительное место багажа.
            <br><br>
            Дополнительная оплата потребуется в случае превышения веса багажа с оружием и боеприпасами к нему сверх установленных норм одного места багажа, а также, если сумма мест багажа пассажира (включая расцененный, как одно место, багаж с оружием и боеприпасами к нему) превысит указанную в билете норму. Вес боеприпасов брутто не может превышать 5 кг, перевозка оружия и боеприпасов к нему в одном месте багажа контейнере не допускается.
            <br><br>
            Исключение: составляют лица, включая военнослужащих и сотрудников правоохранительных органов, выполняющих специальное (служебное) задание, при наличии командировочного удостоверения (предписания), оружие, боеприпасы провозят сверх нормы бесплатного провоза багажа без взимания дополнительной платы.
          </p>
        </div>
      </div>
      <div class="back mt40">
        <a href="for-passengers_transportation-rules.html" class="back_arrow">
          <span class="span_14">Вернуться назад</span>
        </a>
      </div> 
    </div>
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>