<% var data = { title: "Дополнительные услуги" }; %> <%=
_.template(require('./../includes/header_2.html').default)(data) %> <%=
_.template(require('./../includes/top_menu.html').default)() %> <%=
_.template(require('./../includes/add_menu.html').default)() %>

<section class="page-content">
  <div class="container">
    <div class="row page_top">
      <div class="headline col-lg-9 mb50">
        <h1>Расписание</h1>
      </div>
      <section class="bread-crumbs col-lg-3">
        <span><a href="./index.html">Главная</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
          />
        </svg>
        <span><a href="#">Пассажирам</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
          />
        </svg>
        <span><a href="for-passengers_timetable.html">Расписание</a></span>
      </section>
    </div>
  </div>
  <div class="container gray-back">
    <div class="row">
      <div class="col">
        <form class="form-timetable">
          <div class="wrapper">
            <div class="input-wrapper" id="from">
              <input type="text" placeholder="Откуда" value="" />
            </div>
            <button class="reverse"></button>
            <div class="input-wrapper" id="to">
              <input type="text" placeholder="Куда" />
            </div>
            <div class="input-wrapper period" id="start">
              <input type="text" placeholder="Начало периода" />
            </div>
            <div class="input-wrapper period" id="end">
              <input type="text" placeholder="Конец периода" />
            </div>
          </div>
          <button class="button red megabig m-mt15" type="submit">
            <svg class="desktop" width="19" height="19" viewBox="0 0 19 19" fill="none">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M14 8C14 11.3137 11.3137 14 8 14C4.68629 14 2 11.3137 2 8C2 4.68629 4.68629 2 8 2C11.3137 2 14 4.68629 14 8ZM12.4983 14.6165C11.2165 15.4896 9.66786 16 8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8C16 9.66392 15.492 11.2092 14.6227 12.4892L18.4878 15.8711C19.1112 16.4167 19.1744 17.3643 18.6289 17.9878C18.0833 18.6112 17.1357 18.6744 16.5122 18.1289L12.5122 14.6289C12.5076 14.6248 12.5029 14.6206 12.4983 14.6165Z"
              />
            </svg>
            <p>Найти</p>
          </button>
        </form>
      </div>
    </div>
  </div>
    <!--  Вывод  -->
  
    <section class="container out">
      <div class="row">
        <div class="col">
          <div class="out_title">
            <div class="title">
              <h2>выберите рейс:</h2>
              <h2 class="out_title_from">Воронеж</h2>
              <h2 class="arr"> → </h2>
              <h2 class="out_title_to">Москва</h2>
            </div>
            <div class="time_nav">
              <div class="prev">
                <svg width="58" height="10" viewBox="0 0 58 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M2.04897 5.37025L6.08203 9L5.41307 9.74329L0.413067 5.24329L0.000125885 4.87165L0.413067 4.5L5.41307 0L6.08203 0.743294L2.05208 4.37025H58V5.37025H2.04897Z"/>
                  </svg>                  
              </div>
              <div class="time_nav_time">
                <h2 class="start">02.03.2020</h2>
                <h2 class="break"> — </h2>
                <h2 class="end_">02.03.2020</h2>
              </div>
              <div class="next">
                <svg width="58" height="10" viewBox="0 0 58 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M55.951 5.37025L51.918 9L52.5869 9.74329L57.5869 5.24329L57.9999 4.87165L57.5869 4.5L52.5869 0L51.918 0.743294L55.9479 4.37025H0V5.37025H55.951Z"/>
                  </svg>                  
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="out_list">
            <!-- прямой рейс -->
            <div class="out-item">
              <div class="item_description">
                <div class="flight">
                  <div class="flight_number">
                    <span>рейс</span>
                    <a href="#">UT 325</a>
                  </div>
                </div>
                <div class="time">
                  <div class="time_section departure">
                    <h2>07:25</h2>
                    <span>вылет</span>
                  </div>
                  <div class="time_flight-time">
                    <span class="flight-time_time">1 ч 5 мин</span>
                    <span class="flight-time_description">полет</span>
                  </div>
                  <div class="time_section arrival">
                    <span>прилет</span>
                    <h2>08:30</h2>
                  </div>
                </div>
                <div class="airplane">
                  <div class="airplane_name">
                    <span>cамолет</span>
                    <span class="number">КАНАДЭР РЕГИОН ДЖЕТ</span>
                  </div>
                </div>
              </div>
              <div class="item_time-tape">
                <div class="time-tape_day">
                  <a href="#">
                    <div class="icon"></div>
                    <span class="date">02.03.20</span>
                    <span class="day-of-week">пн</span>
                  </a>
                </div>
                <div class="time-tape_day">
                  <a href="#">
                    <div class="icon"></div>
                    <span class="date">03.03.20</span>
                    <span class="day-of-week">вт</span>
                  </a>
                </div>
                <div class="time-tape_day active">
                  <a href="#">
                    <div class="icon"></div>
                    <span class="date">04.03.20</span>
                    <span class="day-of-week">ср</span>
                  </a>
                </div>
                <div class="time-tape_day active">
                  <a href="#">
                    <div class="icon"></div>
                    <span class="date">05.03.20</span>
                    <span class="day-of-week">чт</span>
                  </a>
                </div>
                <div class="time-tape_day active">
                  <a href="#">
                    <div class="icon"></div>
                    <span class="date">06.03.20</span>
                    <span class="day-of-week">пт</span>
                  </a>
                </div>
                <div class="time-tape_day"></div>
                <div class="time-tape_day">
                  <a href="#">
                    <div class="icon"></div>
                    <span class="date">08.03.20</span>
                    <span class="day-of-week">вс</span>
                  </a>
                </div>
              </div>
          </div>
          <!--  с пересадкой -->
          <div class="out-item transfer">
            <div class="item_description">
              <div class="flight">
                <div class="flight_number">
                  <span>рейс</span>
                  <a href="#">UT 325</a>
                </div>
                <div class="transfer_airport">
                  <span class="airport_name">Казань (KZN)</span>
                  <span>пересадка</span>
                </div>
                <div class="flight_number">
                  <span>рейс</span>
                  <a href="#">7R 553</a>
                </div>
              </div>
              <div class="time">
                <div class="time_section departure">
                  <h2>01:00 – 02:00</h2>
                </div>
                <div class="time_flight-time">
                  <div class="transfer">
                    <svg width="10" height="33" viewBox="0 0 10 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 30.9492L9.12793 26.9181L9.87122 27.5871L5.37122 32.5871L4.99957 33L4.62793 32.5871L0.127928 27.5871L0.871222 26.9181L4.5 30.9501L4.5 1.91109e-07L5.5 2.34821e-07L5.5 30.9492Z" fill="#FF2A00"/>
                      </svg>
                  </div>
                  <span class="flight-time_time">12 ч 55 мин</span>
                </div>
                <div class="time_section arrival">
                  <h2>02:40 – 03:40</h2>
                </div>
              </div>
              <div class="airplane">
                <div class="airplane_name">
                  <span>cамолет</span>
                  <span class="number">БОИНГ 737-400</span>
                </div>
                <div class="airplane_name">
                  <span>cамолет</span>
                  <span class="number">КАНАДЭР РЕГИОН ДЖЕТ</span>
                </div>
              </div>
            </div>
            <div class="item_time-tape">
              <div class="time-tape_day">
                <a href="#">
                  <div class="icon"></div>
                  <span class="date">02.03.20</span>
                  <span class="day-of-week">пн</span>
                </a>
              </div>
              <div class="time-tape_day">
                <a href="#">
                  <div class="icon"></div>
                  <span class="date">03.03.20</span>
                  <span class="day-of-week">вт</span>
                </a>
              </div>
              <div class="time-tape_day active">
                <a href="#">
                  <div class="icon"></div>
                  <span class="date">04.03.20</span>
                  <span class="day-of-week">ср</span>
                </a>
              </div>
              <div class="time-tape_day active">
                <a href="#">
                  <div class="icon"></div>
                  <span class="date">05.03.20</span>
                  <span class="day-of-week">чт</span>
                </a>
              </div>
              <div class="time-tape_day active">
                <a href="#">
                  <div class="icon"></div>
                  <span class="date">06.03.20</span>
                  <span class="day-of-week">пт</span>
                </a>
              </div>
              <div class="time-tape_day"></div>
              <div class="time-tape_day">
                <a href="#">
                  <div class="icon"></div>
                  <span class="date">08.03.20</span>
                  <span class="day-of-week">вс</span>
                </a>
              </div>
            </div>
        </div>
        </div>
      </div>
    </section>
</section>
<section class="modal-window">
  <div class="container">
    <div class="details">
      <div class="details_title">
        <h2>Детали перелета</h2>
        <div class="hamburger-close close">
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="details_description">
        <div class="departure">
          <span class="date">29.03.2020 </span>
          <span>воскресенье</span>
          <h1>18:50</h1>
            <h4>Москва<br>
                Внуково
            </h4>
        </div>
        <div class="flight">
          <div class="flight_name">
            <span>рейс</span>
            <h2>7R-559</h2>
          </div>
          <p class="p2">время полета 1 ч 15 мин</p>
        </div>
        <div class="arrival">
          <span class="date">22.10.2020</span>
          <span>четверг</span>
          <h1>20:05</h1>
            <h4>Воронеж</h4>
        </div>
        <div class="details_note">
          <div class="wrapper">
            <h4>РЕЙС ВЫПОЛНЯЕТСЯ<br>АВИАКОМПАНИЕЙ РУСЛАЙН</h4>
            <span>самолет</span>
            <span>КАНАДЭР РЕГИОН ДЖЕТ</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>
