<% var data = { title: "Дополнительные услуги" }; %> 
<%= _.template(require('./../includes/header_2.html').default)(data) %>
<%= _.template(require('./../includes/top_menu.html').default)() %> 
<%= _.template(require('./../includes/add_menu.html').default)() %>

<section class="page-content">
    <div class="container">
      <div class="row page_top">
        <div class="headline col-lg-9">
          <h1>Договор воздушной перевозки пассажира, груза или почты</h1>
        </div>
        <section class="bread-crumbs col-lg-3">
            <span><a href="./index.html">Главная</a></span>
            <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
              <path
                d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
              />
            </svg>
            <span><a href="#">Пассажирам</a></span>
            <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
              <path
                d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
              />
            </svg>
            <span><a href="for-passengers_transportation-rules">Правила перевозки</a></span>
          </section>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <h2 class="mb15">Уважаемые пассажиры!</h2>
          <div class="important red">
            <h5>Обращаем внимание:</h5>
            <p class="p1">опубликование информации на официальном сайте авиакомпании является надлежащим информированием пассажиров обо всех существенных условиях договора воздушной перевозки.</p>
          </div>
          <div class="dropdown-list">
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>1. ОБЩИЕ ПОЛОЖЕНИЯ</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <ul class="number-list">
                    <li>Приобретая билет или оформляя грузовую/почтовую накладную, пассажир или грузоотправитель соответственно подтверждает, что он ознакомлен со всеми существенными условиями договора перевозки, они ему понятны, и выражает свое согласие с предложенным вариантом следования.</li>
                    <li>Договор воздушной перевозки пассажира, груза или почты удостоверятся билетом, багажной квитанцией в случае перевозки пассажиром багажа, грузовой или почтовой накладной соответственно.</li>
                    <li>Форма билета / грузовой / почтовой накладной – бумажная, электронная.</li>
                    <li>Билет действителен для полета в дату и рейсом, указанных в билете. Перевозка по билету «с открытой датой» должна быть забронирована заблаговременно. При отсутствии мест на рейсе, которым пассажир изъявил желание следовать, авиакомпания не гарантирует принятие к перевозке.
                    </li>
                    <li>Билет принимается к перевозке в той последовательности, в которой оформлены полетные купоны. В случае неявки пассажира на предыдущий рейс о своем желании следовать дальнейшим рейсом пассажир обязан известить авиакомпанию. В противном случае авиакомпания оставляет за собой право аннулировать обратную перевозку без предупреждения пассажира.</li>
                    <li>В случае утери билета и/или признания его непригодным к перевозке данным рейсом пассажиру может быть выписан дубликат билета после оплаты штрафа в установленном размере. Обо всех указанных случаях рекомендуем заблаговременно ставить в известность перевозчика (по телефону контактного центра 8-800-5555-800 (звонок по России бесплатный; режим работы: ежедневно, круглосуточно, время московское) и/или агента, через которого был оформлен билет, так как процедура оформления дубликата билета требует не менее 24 часов. В случае несоблюдения данных сроков и невозможности оформить дубликат авиакомпания не будет нести ответственность перед пассажиром за последствия отказа в принятии к перевозке.</li>
                    <li>Пассажир самостоятельно определяет возможность следования авиатранспортом. О существующих ограничениях в состоянии здоровья пассажир должен заявить перевозчику при оформлении билета. В отдельных случаях авиакомпания может потребовать предъявления медицинских документов и/или прохождения медицинского освидетельствования, подтверждающих возможность принятия пассажира к перевозке.
                    <br><br>
                    Пассажир с ограниченными возможностями/инвалид обязан сообщить об имеющихся ограничениях с целью оказания ему при содействии перевозчика и/или обслуживающей организации в аэропорту отправления/прибытия положенного комплекса безвозмездных услуг. 
                    <br><br>  
                    В любом случае авиакомпания оставляет за собой право отказать пассажиру в перевозке в соответствии с действующим законодательством.
                    </li>
                    <li>В случае внезапного ухудшения в полете состояния здоровья пассажира авиакомпания оставляет за собой право взыскать с пассажира все понесенные убытки вследствие совершения вынужденной посадки. Авиакомпания не несет ответственность за возможные последствия в результате принятия пассажиром решения о совершении перелета:
                    </li>
                    <div class="text-list">
                      <p>Ухудшение здоровья,</p>
                      <p>Преждевременные роды,</p>
                      <p>Выкидыш,</p>
                      <p>Смерть, иное, за исключением случаев виновных умышленных действий со стороны авиакомпании.</p>
                    </div>
                  </ul>
                </div>
              </div>
              
            </div>
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>2. РЕГИСТРАЦИЯ</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <p class="p1 mb30">
                    При регистрации пассажир обязан предъявить билет с полетными купонами, действительный для следования в указанную дату указанным рейсом. В случае отсутствия билета и/или полетного купона на данный рейс пассажир не может быть принят к перевозке указанным рейсом. Все расходы (выписка дубликата билета, приобретение нового билета за полную стоимость и прочие) пассажир оплачивает самостоятельно. 
                    <br><br>
                    Авиакомпания не несет ответственность за возможные последствия невыполнения установленного требования. Во избежание возможных недоразумений пассажиру рекомендовано при регистрации предъявлять распечатку маршрут-квитанции электронного билета.
                  </p>
                  <ul class="number-list">
                    <li>Регистрация на рейс производится на основании документа, удостоверяющего личность, указанного при оформлении билета.</li>
                    <li>
                      Регистрация на рейсы внутренние АО АК «РусЛайн» начинается за 1,5 ч до времени вылета, на международные за 3 часа до вылета и заканчивается за 40 минут до времени вылета, указанного в билете.
                    </li>
                    <li>
                      Пассажир, опоздавший ко времени окончания регистрации, равно как ко времени окончания посадки, а также не предъявивший необходимых документов (билет, документ, удостоверяющий личность, посадочный талон) не принимается к перевозке; отказ от перевозки признается добровольным.
                    </li>
                    <li>
                      Посадка на рейс, указанный в посадочном талоне, осуществляется при предъявлении пассажиром оригинала посадочного талона с неиспользованной (неиспорченной) отрывной частью.
                    </li>
                    <li>
                      Во избежание недоразумения пассажирам необходимо сохранять посадочные талоны до окончания воздушной перевозки.
                    </li>
                    <li>
                      Оригинал посадочного талона и кассового чека, как правило являются необходимыми при составлении и подаче работодателю отчета о командировке. В случае утери оригинала посадочного талона и/или иных случаях необходимости подтверждения факта перелета пассажир вправе лично обратиться за получением данной информации на условиях возмездной (оплаты) к перевозчику.
                    </li>
                    <li>
                      Пассажир самостоятельно и за свой счет обязан оформить все необходимые таможенные, иммиграционные и пр. документы для совершения необходимых процедур в аэропортах отправления, назначения и промежуточной посадки. Авиакомпания не несет ответственность перед пассажиром за возможные случаи наступления негативных последствий при нарушении данного требования.
                    </li>
                    <li>
                      Общегражданской обязанностью каждого гражданина, пребывающего на территории РФ, является получение и надлежащее хранение документов, удостоверяющих личность, легальность пребывания на территории государства и иных необходимых документов. Авиакомпания не несет ответственность перед пассажиром в случае утери, пропаже и иных случаях отсутствия документов, необходимых для совершения предусмотренных законодательством предписаний.
                    </li>
                  </ul>
                </div>
              </div>
              
            </div>
            <!--  -->
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>3. РАСПИСАНИЕ И МАРШРУТ ПЕРЕВОЗКИ</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                 <ul class="number-list">
                  <li>Время отправления (прибытия), указанное в билете – местное время для каждого аэропорта.</li>
                  <li>В случае изменения расписания движения воздушных судов перевозчик должен принять возможные меры по информированию пассажиров, с которыми заключен договор воздушной перевозки, об изменении расписания движения воздушных судов любым доступным способом, в том числе путем размещения информации на официальном сайте авиакомпании «РусЛайн»
                  <br><br>
                  При бронировании перевозки пассажир должен сообщить достоверную контактную информацию.
                  За предоставление неверных сведений, возникновение технических и иных причин, повлекших невозможность информирования пассажира со стороны авиакомпании или ее агентов, перевозчик ответственность не несет.
                  <br><br>
                  Перевозчик также не несет ответственность за действия/бездействия агента (-ов) по оформлению билетов, с которым (-и) у него отсутствуют договорные отношения (полномочия по представлению интересов перевозчика не делегированы в установленном порядке).  
                  </li>
                  <li>Перевозка пассажира, выполняемая до аэропорта (пункта) назначения, в который должен быть доставлен пассажир его багаж или груз согласно договору воздушной перевозки, несколькими перевозчиками по одному перевозочному документу, рассматривается как единая перевозка независимо от того, имели ли место пересадка (перегрузка) или перерыв в перевозке. 
                  <br><br>  
                  Перевозчик не отвечает за обеспечение стыковок между рейсами в случае оформления перевозок, не подпадающими под определение единой.   
                  </li>
                  <li>В случае внесения изменений в расписание рейса перевозчик должен доставить пассажира в пункт назначения другими своими рейсами либо произвести возврат стоимости неиспользованной перевозки по правилам вынужденного отказа (без удержания штрафных санкций).</li>
                 </ul>
                </div>
              </div>
            </div>
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>4. ОТВЕТСТВЕННОСТЬ ПЕРЕВОЗЧИКА</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                 <ul class="number-list">
                   <li>За просрочку доставки пассажира, багажа груза или почты в пункт назначения перевозчик уплачивает штраф в размере двадцати пяти процентов установленного федеральным законом минимального размера оплаты труда за каждый час просрочки, но не более чем пятьдесят процентов провозной платы, если не докажет, что просрочка имела место вследствие непреодолимой силы, устранения неисправности воздушного судна, угрожающей жизни или здоровью пассажиров воздушного судна, либо иных обстоятельств, не зависящих от перевозчика. Примечание: 1 МРОТ = 100 руб согласно ФЗ от 19.06.2000 № 82-ФЗ «О минимальном размере оплаты труда».</li>
                   <li>В случае полной или частичной утери вещей, находящихся в багаже, зарегистрированном и переданном под ответственность перевозчика, авиакомпания выплачивает компенсацию в размере:</li>
                   <div class="text-list mb8">
                     <p>600 рублей за один килограмм веса, утраченного и/или испорченного багажа при внутренней перевозке,</p>
                     <p>20 долларов США (по курсу Центрального банка России на день выполнения перевозки) за один килограмм веса – при международной перевозке.</p>
                   </div>
                   <p class="mb8">Пассажир имеет право застраховать багаж, обратившись в страховую организацию по своему выбору.</p>
                   <li>Авиакомпания не несет ответственность за сохранность вещей, находящихся при пассажире под его ответственностью (ручная кладь).</li>
                   <li>Правила, сроки и прочие условия подачи претензионного заявления опубликованы на официальном сайте авиакомпании.
                  </li>
                  <li>При перерыве в перевозке по вине перевозчика, а также в случае задержки рейса, отмены рейса вследствие неблагоприятных метеорологических условий, по техническим и другим причинам, изменения маршрута перевозки перевозчик обязан организовать для пассажиров в пунктах отправления и в промежуточных пунктах следующие услуги (исходя из технологических возможностей организации аэропортовой деятельности):</li>
                  <div class="text-list mb8">
                    <p>Предоставление комнат матери и ребенка пассажиру с ребенком в возрасте до семи лет (комната матери и ребенка предоставляется бесплатно в аэропорту вылета);</p>
                    <p>Два телефонных звонка или два сообщения по электронной почте при ожидании отправления рейса более двух часов;</p>
                    <p>Обеспечение прохладительными напитками при ожидании отправления рейса более двух часов;</p>
                    <p>Обеспечение горячим питанием при ожидании отправления рейса более четырех часов и далее каждые шесть часов - в дневное время и каждые восемь часов - в ночное время;</p>
                    <p>Размещение в гостинице при ожидании вылета рейса более восьми часов - в дневное время и более шести часов - в ночное время;</p>
                    <p>Доставка транспортом от аэропорта до гостиницы и обратно в тех случаях, когда гостиница предоставляется без взимания дополнительной платы;</p>
                    <p>Организация хранения багажа.</p>
                  </div>
                  <p>Услуги, указанные в настоящем пункте, предоставляются пассажирам без взимания дополнительной платы.</p>
                 </ul>
                </div>
              </div>
            </div>
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>5. ОТКАЗ ОТ ПЕРЕВОЗКИ</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <ul class="number-list">
                    <li>Пассажир имеет право отказаться от перевозки в любое время до вылета рейса с обязательным уведомлением об этом перевозчика. Забронированное место должно быть аннулировано и возвращено в систему продаж.</li>
                    <li>Перевозчик и пассажир вправе заключить договор воздушной перевозки на условиях невозвратности тарифа/провозной платы. Дополнительно подлежит удержанию сбор за операцию по аннулированию бронирования. Порядок, условия, размер удержания доводятся до сведения пассажира при покупке билета.
                    </li>
                    <li>Вынужденным отказом пассажира от перевозки признается отказ в случае:</li>
                    <div class="text-list mb8">
                      <p>Отмены или задержки рейса, указанного в билете;</p>
                      <p>Изменения перевозчиком маршрута перевозки;</p>
                      <p>Выполнения рейса не по расписанию;</p>
                      <p>Несостоявшейся отправки пассажира из-за невозможности предоставить ему место на рейс и дату, указанные в билете;</p>
                      <p>Необеспечения перевозчиком стыковки рейсов в случае выполнения единой перевозки;</p>
                      <p>Внезапной болезни пассажира либо болезни или смерти члена его семьи, совместно следующего с ним на воздушном судне, что подтверждено медицинскими документами. Указанные события должны наступить до начала перевозки по каждому полетному сегменту (рейсу), указанному в билете;</p>
                      <p>Неправильного оформления билета перевозчиком или уполномоченным агентом.</p>
                    </div>
                    <li>В случае вынужденного отказа от перевозки, возврату подлежит стоимость неиспользованной перевозки в полном размере.</li>
                    <p>Вынужденный возврат, если иное не предусмотрено правилами применения тарифа, может быть осуществлен в течение одного года с даты оформления перевозки, если перевозка ни на одном участке не была выполнена. В случае если перевозка была начата, вынужденный возврат может быть произведен в течение одного года с даты начала перевозки.</p>
                    <li>Перевозчик может в одностороннем порядке расторгнуть договор воздушной перевозки пассажира, договор воздушной перевозки багажа, груза в следующих случаях:</li>
                    <ul class="text-list mb15">
                      <p>Нарушение пассажиром, грузовладельцем, грузоотправителем паспортных, таможенных, санитарных и иных установленных законодательством Российской Федерации требований в части, касающейся воздушной перевозки, при международных воздушных перевозках также правилами, определенными соответствующими органами государства вылета, назначения или транзита;</p>
                      <p>Отказ пассажира, грузовладельца, грузоотправителя выполнять требования, предъявляемые к ним федеральными авиационными правилами;</p>
                      <p>Если состояние здоровья пассажира воздушного судна требует особых условий воздушной перевозки либо угрожает безопасности самого пассажира или других лиц, что подтверждается медицинскими документами, а равно создает беспорядок и неустранимые неудобства для других лиц;</p>
                      <p>Отказ пассажира воздушного судна оплатить провоз своего багажа, вес которого превышает установленные нормы бесплатного провоза багажа;</p>
                      <p>Отказ пассажира воздушного судна оплатить перевоз следующего с ним ребенка, за исключением случаев, предусмотренных подпунктом 3 пункта 2 статьи 106 Воздушного кодекса Российской Федерации;</p>
                      <p>Нарушение пассажиром воздушного судна правил поведения на борту воздушного судна, создающее угрозу безопасности полета воздушного судна либо угрозу жизни или здоровью других лиц, а также невыполнение пассажиром воздушного судна распоряжений командира воздушного судна, предъявленных в соответствии со статьей 58 Воздушного кодекса Российской Федерации;</p>
                      <p>Наличие в вещах, находящихся при пассажире, а также в багаже, грузе запрещенных к воздушной перевозке предметов или веществ.</p>
                    </ul>
                    <p>В случае прекращения по инициативе перевозчика действия договора воздушной перевозки пассажира в связи с нарушением пассажиром правил поведения на борту воздушного судна, создающим угрозу безопасности полета воздушного судна либо угрозу жизни или здоровью других лиц, а также невыполнения пассажиром распоряжений командира воздушного судна, уплаченная за воздушную перевозку сумма пассажиру не возвращается.</p>
                    <li>Возврат стоимости за чартерную перевозку (слова в графе билета «CHARTER, ЧАРТЕР, IT») авиакомпанией не производится.</li>
                    <li>Возврат стоимости перевозки, по общему правилу, за исключением билетов, оформленных на сайте АО АК "РусЛайн", осуществляется по месту оформления перевозки.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="dropdown-list_item">
              <div class="item_title">
                <h4>6. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</h4>
              </div>
              <div class="item_content">
                <div class="content_shadow">
                  <div class="left"></div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div class="content">
                  <ul class="number-list">
                    <li>Во всем ином, не урегулированном данным договором, Стороны будут руководствоваться нормами законодательством Российской Федерации.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="back mt40">
              <a href="for-passengers_info.html">
                <div class="back_arrow"></div>
                <span class="span_14">Вернуться назад</span>
              </a>
            </div>
            
        </div>
      </div>
    </div>
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>