<% var data = { title: "Дополнительные услуги" }; %> 
<%= _.template(require('./../includes/header_2.html').default)(data) %>
<%= _.template(require('./../includes/top_menu.html').default)() %> 
<%= _.template(require('./../includes/add_menu.html').default)() %>

<section class="page-content">
    <div class="container">
      <div class="row page_top">
        <div class="headline col-lg-9">
          <h1>Перевозка спортивного оборудования</h1>
        </div>
        <section class="bread-crumbs col-lg-3">
            <span><a href="./index.html">Главная</a></span>
            <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
              <path
                d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
              />
            </svg>
            <span><a href="#">Пассажирам</a></span>
            <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
              <path
                d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
              />
            </svg>
            <span><a href="for-passengers_transportation-rules">Правила перевозки</a></span>
          </section>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <p class="p1">В рамках нормы провоза багажа по весу, но без учёта нормы провоза багажа по габаритам и количеству мест один пассажир имеет право перевезти один чехол с одной удочкой длиной не более 200 см в сложенном виде и 1 (один) комплект снастей.
          <br><br>
          Спортивное оборудование, за исключением вышеуказанного, в норму бесплатного провоза багажа не входит.
          </p>
        </div>
      </div>
      <div class="back mt40">
        <a href="for-passengers_transportation-rules.html" class="back_arrow">
          <span class="span_14">Вернуться назад</span>
        </a>
      </div> 
    </div>
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>