<% var data = { title: "Дополнительные услуги" }; %> <%=
_.template(require('./../includes/header_2.html').default)(data) %> <%=
_.template(require('./../includes/top_menu.html').default)() %> <%=
_.template(require('./../includes/add_menu.html').default)() %>

<section class="page-content">
  <div class="container">
    <div class="row page_top">
      <div class="headline col-lg-9">
        <h1>Бронирование групповой перевозки</h1>
      </div>
      <section class="bread-crumbs col-lg-3">
        <span><a href="./index.html">Главная</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
          />
        </svg>
        <span><a href="#">...</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
          />
        </svg>
        <span><a href="for-passengers_booking-rules.html">Правила ...</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
          />
        </svg>
        <span
          ><a href="for-passengers_booking-rules_group-booking.html"
            >Бронирование ...</a
          ></span
        >
      </section>
    </div>
    <div class="row">
      <div class="col-lg-9">
        <p class="p1 mb30">Если вы планируете путешествовать группой в составе 10 (десяти) и более человек, то для вашего удобства предлагаем вам оформить авиабилеты по групповому тарифу по всей маршрутной сети нашей авиакомпании.
          <br><br>
          Отдел группового бронирования поможет вам в организации поездки с любой целью: отдых, конференция, обучение, свадьба, поездка к друзьям и родственникам.</p>
          <ul class="text-list">
            <h3 class="mb15">Преимущества группового бронирования:</h3>
            <li>Отдельная команда специалистов, которая занимается только вашим запросом;</li>
            <li>Предоставление индивидуального тарифа на групповую перевозку;</li>
            <li>Продолжительный период бронирования;</li>
            <li>Возможность создания бронирования без внесения данных пассажиров;</li>
            <li>Возможность замены пассажиров в бронировании после оформления авиабилетов с минимальными штрафными санкциями;</li>
            <li>Круглосуточная техническая и информационная поддержка клиента;</li>
            <li>Регистрация участников группы в одном ряде кресел.</li>
          </ul>

          <ul class="text-list">
            <h3 class="mb15">Условия группового бронирования:</h3>
            <li>Группа должна составлять не менее 10 пассажиров;</li>
            <li>Маршрут перевозки может быть любым: только туда, туда-обратно, сложным;</li>
            <li>Класс обслуживания – экономический;</li>
            <li>Даты полета должны быть выбраны таким образом, чтобы до вылета рейса оставалось не менее 4 рабочих дней (исключая выходные дни);</li>
            <li>Цена и срок оплаты (внесения депозита) групповой перевозки зависит от загрузки/спроса конкретного рейса и определяются на основании предоставленных в заявке данных;</li>
            <li>Оформление авиабилетов производится не менее, чем за 4 дня до вылета рейса;</li>
            <li>Детям до 12 лет предоставляется скидка;</li>
            <li>Изменение маршрута и даты перевозки запрещается;</li>
            <li>Уменьшение численности группы возможно до внесения депозита или полной оплаты без штрафных санкций при условии, если количество пассажиров в группе уменьшается в пределах 10-20% от общей численности группы. Если численность группы уменьшается значительно – это может повлечь перерасчет тарифа;</li>
            <li>Уменьшение численности группы после внесения депозита или полной оплаты регламентируется индивидуально, на определенных направлениях наша авиакомпания позволяет уменьшить численность группы на 10% без штрафных санкций, при условии, если перевозочные документы еще не были оформлены;</li>
            <li>Увеличение численности группы вне зависимости послед внесения депозита или полной оплаты разрешается, но согласовывается в индивидуальном порядке. Чем раньше будет подана заявка на увеличение численности группы, тем больше вероятность, что добавление пассажиров в групповое бронирование будет произведено без увеличения тарифа;</li>
            <li>Условия возврата и обмена авиабилетов определяются в индивидуальном порядке;</li>
            <li>Багаж пассажиров, следующих группой, может оформляться индивидуально на каждого пассажира с внесением данных в перевозочный документ. Масса одного багажного места не более 20 кг, сумма трех измерений не более 203 см. Одно место ручной клади весом не более 5 кг и габаритами не более 40 см в длину, 30 см в высоту, 20 см в ширину.</li>
          </ul>
      </div>
      <div class="col-lg-3">
        <h3 class="mb8">По вопросам группового бронирования звоните по телефонам:</h3>
        <p class="p2 phone-icon mb8"><b>8-809-505-46-69</b><br>
          (стоимость звонка от 64 до 68 руб./мин. с учетом НДС, в зависимости от оператора связи, включая время ожидания и разговора с менеджером).</p>
          <p class="p2 phone-icon mb8"><b>+7 495 933 23 33</b><br>(в Москве)</p>
          <p class="p2 phone-icon mb8"><b>+7 (473) 262-20-02</b><br>(в Воронеже)</p>
          <p class="p2 mb8">или пишите на электронный адрес:</p>
          <p class="p2 mail-icon mb8 red">group@rusline.aero</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="back mt60">
          <a href="for-passengers_booking-rules.html">
            <div class="back_arrow"><span>Вернуться назад</span></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>
