<% var data = { title: "Дополнительные услуги" }; %> 
<%= _.template(require('./../includes/header_2.html').default)(data) %>
<%= _.template(require('./../includes/top_menu.html').default)() %> 
<%= _.template(require('./../includes/add_menu.html').default)() %>

<section class="page-content">
    <div class="container">
      <div class="row page_top">
        <div class="headline col-lg-9">
          <h1>Подача претензий</h1>
        </div>
        <section class="bread-crumbs col-lg-3">
            <span><a href="./index.html">Главная</a></span>
            <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
              <path
                d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
              />
            </svg>
            <span><a href="#">Пассажирам</a></span>
            <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
              <path
                d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
              />
            </svg>
            <span><a href="for-passengers_booking-rules.html">Правила брониро ...</a></span>
          </section>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <h3 class="mb15">ПАМЯТКА О ПРАВИЛАХ ПОДАЧИ ПРЕТЕНЗИЙ И ЖАЛОБ В АДРЕС АО АК «РусЛайн»</h3>
          <ul class="number-list">
            <li>Досудебный (претензионный) порядок обязателен для договоров воздушной перевозки пассажиров, багажа и грузов, за исключением требований, вытекающих из причинения смерти и /или причинения вреда здоровью пассажира.
            </li>
            <li>Претензия предъявляется по каждому перевозочному документу отдельно. Допускается подача одной претензии по нескольким перевозочным документам в случае, если путешествующие являются членами одной семьи первой линии родства (супруги, родители, дети).
              <ol>
                <li>Право на предъявление претензий имеют лица, перечисленные в ст. 125 Воздушного кодекса РФ:</li>
                <ul class="embed">
                  <p>В случае утраты, недостачи или повреждения (порчи) багажа, а также просрочки его доставки - пассажир или управомоченное им лицо при предъявлении багажной квитанции или коммерческого акта;</p>
                  <p>В случае прекращения по инициативе перевозчика договора воздушной перевозки пассажира - пассажир.</p>
                  <p>Страховщик при предъявлении соответствующих перевозочных документов, а также документов, подтверждающих факты заключения договора страхования и выплаты страхового возмещения.</p>
                </ul>
              </ol>
            </li>
            <p><b>Примечание:</b> юридическое лицо, в том числе работодатель, не уполномочено предъявлять претензии и/или иски по договору авиаперевозки.</p>
            <li>Срок для подачи претензии: 
              <ol>
                <li>При внутренних перевозках: в течение 6 мес. Указанный срок исчисляется следующим образом:</li>
                <ul class="embed">
                  <p>О возмещении вреда в случае недостачи или повреждения (порчи) груза или почты, а также в случае просрочки их доставки - со дня, следующего за днем выдачи груза, а в отношении почты - с даты составления коммерческого акта;</p>
                  <p>О возмещении вреда в случае утраты груза - через десять дней по истечении срока доставки;</p>
                  <p>О возмещении вреда в случае утраты почты - по истечении срока доставки;</p>
                  <p>О возмещении вреда во всех остальных случаях - со дня наступления события, послужившего основанием для предъявления претензии.</p>
                </ul>
                <li>При международных перевозках:</li>
                <div class="text-list mb8">
                  <p>В случае нанесения ущерба получатель должен немедленно предъявить перевозчику претензию по обнаружении ущерба и, самое позднее, в течение семи дней со дня получения багажа и четырнадцати дней со дня получения груза. В случае задержки претензия должна быть предъявлена не позднее, чем в течение двадцати одного дня, считая с даты передачи в его распоряжение багажа или груза.</p>
                  <p>Во всех остальных случаях - в течение 2х (двух) лет с даты выполнения договора воздушной перевозки, указанной в договоре перевозки (авиабилет, грузовая накладная, багажная бирка и пр.).</p>
                </div>
              </ol>
            </li>
            <li>Претензия должна излагаться в письменной форме и содержать все необходимые для её разрешения сведения, в том числе оригиналы документов. Заявитель обязан указать контактную информацию для обратной связи: фактический адрес проживания (с почтовым индексом), и/или е-мейл.</li>
            <li>Претензия и/или жалоба может быть направлена любым способом по адресам, опубликованным на официальном сайте авиакомпании:
            </li>
            <div class="text-list mb15">
              <p>Почтовое отправление («в конверте»), через представительство авиакомпании – для претензий, по которым предусмотрено представление оригиналов документов,</p>
              <p>Факсимильная связь, посредством е-мейл (с приложением сканированной копии необходимых документов) – для претензий и обращений (жалоб), по которым необязательно представление оригиналов.</p>
              <p>Письма направлять по адресу: 121354, Россия, Москва, ул. Дорогобужская, д. 14, корпус 1, БЦ "Партнёр"</p>
              <p>Электронная почта: <a href="mailto:pretenz@rusline.aero" class="text-link">pretenz@rusline.aero</a></p>
            </div>
            <li>Заявитель обязан приложить к претензии подлинные документы, подтверждающие содержащиеся в ней финансовые требования. 
            </li>
            <p>При отсутствии возможности представить подлинные документы к заявлению должны быть приложены их надлежаще оформленные копии, при этом отсутствие возможности предъявления подлинников должно подтверждаться или вытекать из материалов претензии. В таком случае заявитель обязан также направить сведения об отсутствии у него права на компенсацию расходов третьими лицами: страховая компания, работодатель, отсутствие права «северного» /иного оплачиваемого проезда, прочее.</p>
            <li>К претензии обязательно должны быть приложены банковские реквизиты именного расчётного счёта в национальной валюте страны проживания заявителя (для нерезидентов РФ – плюс копия паспорта) и ОРИГИНАЛЫ следующих документов:</li>
            <div class="text-list mb8">
              <p>В случае требования о возврате стоимости неиспользованной перевозки - оригиналы авиабилетов с неиспользованными полётными купонами /распечатка маршрут-квитанции с отметками об отказе от перевозки.</p>
              <p>В случае требования возмещения разницы стоимости тарифов в - оригиналы авиабилетов или маршрут-квитанция со штампом установленного образца «понижение класса обслуживания», оригинал посадочного талона.</p>
              <p>В случае требования возмещения за утрату багажа - багажная бирка, коммерческий акт, документы, подтверждающие причинённые убытки.</p>
              <p>В случае требования возмещения за просрочку доставки багажа - багажная бирка, коммерческий акт, сведения о точном времени получения багажа, документы, подтверждающие причинённые убытки.</p>
              <p>В случае требования возмещения за повреждение багажа - багажная бирка, коммерческий акт, документы, подтверждающие причинённые убытки (чек о стоимости ремонта, справка о непригодности для дальнейшей эксплуатации с указанием веса пустого чемодана/сумки, другие документы).</p>
              <p>В случае требования возмещения причинённых убытков вследствие задержки/отмены рейса: оригиналы посадочных талонов фактического маршрута следования; чеки, квитанции оплаты, иные платёжные документы, подтверждающие факт причинения имущественного вреда.</p>
              <p>В случае требования возмещения причинённых убытков: оригиналы посадочных талонов фактического маршрута следования; чеки, квитанции оплаты, иные платёжные документы, подтверждающие факт причинения имущественного вреда.</p>
            </div>
            <p><b>Примечание:</b> АО АК «РусЛайн» не несёт ответственность за потерю стыковки в случае выполнения перевозки, не подпадающей под понятие единой, т.е. оформленной на разных авиабилетах, не связанных друг с другом.</p>
            <hr>
            <h5 class="red">
              ПРИ НЕСОБЛЮДЕНИИ ПРАВИЛ ПОДАЧИ ПРЕТЕНЗИИ (ОТСУТСТВИЕ ОРИГИНАЛОВ ДОКУМЕНТОВ, НЕПОЛНЫЙ ПАКЕТ ДОКУМЕНТОВ, ИНОЕ) АО АК «РусЛайн» НЕ ПРИНИМАЕТ ДАННЫЕ ОБРАЩЕНИЯ К РАССМОТРЕНИЮ; НЕ РАЗЪЯСНЯЕТ ПОРЯДОК ПОДАЧИ ПРЕТЕНЗИИ ЗАЯВИТЕЛЯМ: ЗАЯВЛЕНИЯ СЧИТАЮТСЯ НЕПОДАННЫМИ, СРОК ПОДАЧИ ПРЕТЕНЗИИ НЕ ПРЕРЫВАЕТСЯ.
            </h5>
            <hr>
            <p><b>Срок рассмотрения жалобы</b> и направления уведомления о результатах рассмотрения заявителю не должен превышать <b>10-ти (десяти) дней</b> с даты поступления в авиакомпанию. Дата поступления определяется по почтовому штемпелю либо по отметке о вручении сотруднику авиакомпании.</p>
            <p><b>Срок рассмотрения претензии</b> и направления уведомления о результатах рассмотрения заявителю не должен превышать <b>30-ти (тридцати) дней</b> с даты поступления в авиакомпанию. Дата поступления определяется по почтовому штемпелю либо по отметке о вручении сотруднику авиакомпании.</p>
            <p class="mb30"><b>ВНИМАНИЕ!</b> Если Вы подаете претензию посредством электронной почты, необходимо запрашивать входящий номер претензии и дату регистрации.</p>
            
          </ul>
          
          <ul class="number-list">
            <h3>Жалоба не подлежит рассмотрению в следующих случаях:</h3>
            <li>Если в письменном обращении не указаны фамилия гражданина, направившего обращение, и/или контактная информация, указанная в п.3.4 Положения;
            </li>
            <li>Если в обращении содержатся нецензурные либо оскорбительные выражения, угрозы жизни, здоровью и имуществу сотрудника авиакомпании, а также членов его семьи;</li>
            <li>Если текст письменного обращения не поддается прочтению;</li>
            <li>Если в обращении пассажира содержится вопрос, на который ему многократно давались письменные ответы по существу в связи с ранее направляемыми обращениями, и при этом в обращении не приводятся новые доводы или обстоятельства.</li>
            <li>Если ответ по существу не может быть дан без разглашения сведений, составляющих конфиденциальную информацию и/или государственную или иную охраняемую тайну. В данном случае заявителю сообщается о невозможности дать ответ по существу поставленного в нем вопроса в связи с недопустимостью разглашения указанных сведений.</li>
            <li>Если жалоба/обращение не содержит никаких сведений, а только выражает эмоциональное состояние заявителя.</li>
          </ul>
          <!--  -->
          <div class="back mt40">
            <a href="for-passengers_info.html">
              <div class="back_arrow"></div>
              <span class="span_14">Вернуться назад</span>
            </a>
          </div>
        </div>
      </div>

    </div>
    </div>
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>