<% var data = { title: "Дополнительные услуги" }; %>
<%= _.template(require('./../includes/header_2.html').default)(data) %>
<%= _.template(require('./../includes/top_menu.html').default)() %>
<%= _.template(require('./../includes/add_menu.html').default)() %>

<section class="page-content">
  <div class="container">
    <div class="row page_top">
      <div class="headline col-lg-9">
        <h1>Багаж и ручная кладь</h1>
      </div>
      <section class="bread-crumbs col-lg-3">
        <span><a href="./index.html">Главная</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z" />
        </svg>
        <span><a href="#">Пассажирам</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z" />
        </svg>
        <span><a href="for-passengers_booking-rules.html">Правила брониро ...</a></span>
      </section>
    </div>
    <div class="row">
      <div class="col-lg-9">
        <div class="dropdown-list mt40 m-mt15">
          <!--  -->
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Какова норма бесплатного провоза багажа?</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <p class="p1">Норма бесплатного провоза багажа – без взимания какой-либо дополнительной платы пассажир имеет право провезти с собой зарегистрированный багаж, оформленный по системе РС, вес которого составляет до 30 кг. в зависимости от выбранного класса бронирования и условий его применения. 
                  <br><br>
                  Количество мест и вес багажа, разрешенного к бесплатной перевозке, указывается в маршрутной квитанции (электронном билете) пассажира. Если указано 1КМ, то пассажир может бесплатно провезти одно место багажа весом до 20 кг.
                  <br><br>
                  Более подробная информация в разделе <a class="text-link" href="#"> Перевозка багажа</a>  </p>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Если по правилам тарифа у нас по 20 кг бесплатного багажа - летим семьей - верно ли что мы можем объединить наш багаж?</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <p class="p1">Объединение касается только норм бесплатного провоза багажа. В случае объединения норм бесплатного провоза регистрируемого багажа по весу и/или размеру, одно место багажа не должно превышать по весу 30 кг и/или по сумме трех измерений 203 см. Общее количество мест объединенного багажа не должно превышать суммы норм бесплатного провоза багажа, указанных в билетах каждого из пассажиров.</p>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Я купил билет с нормой бесплатного провоза багажа 1 место (20 кг). Сколько еще багажа сверх нормы я смогу провести?</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <p class="p1">В случае если багаж пассажира по количеству мест или весу превышает норму бесплатного провоза багажа, пассажиру необходимо доплатить за регистрируемый сверхнормативный багаж по тарифам, указанным в разделе <a class="text-link" href="#"> Платный (сверхнормативный) и негабаритный багаж</a>. Вы можете узнать стоимость провоза сверхнормативного багажа, позвонив по телефону круглосуточной службы поддержки клиентов и бронирования билетов 8 809 505 46 69 (стоимость звонка от 64 до 68 руб./мин. с учетом НДС, в зависимости от оператора связи, включая время ожидания и разговора с менеджером). для звонков из других стран +7 (495) 933-23-33.</p>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Какова норма провоза ручной клади?</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <p class="p1">Бесплатная норма провоза ручной клади может варьироваться от 5 кг до 10 кг в зависимости от выбранного вами тарифа. Нормы ручной клади для разных групп тарифов вы можете посмотреть в разделе сайта <a class="text-link" href="#"> "Тарифы и условия"</a></p>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Какие предметы можно взять с собой на борт (не попадающие под категорию "Ручная кладь")?</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <ul class="text-list mb30">
                  <h3>В качестве ручной клади сверх установленной нормы и без взимания дополнительной платы пассажир имеет право провозить следующие вещи:</h3>
                  <li>один из следующих предметов с вложенными в него вещами: рюкзак, или дамскую сумку, или портфель. При этом габариты рюкзака, или дамской сумки, или портфеля не должны превышать размеры 40х30х20 см, вес – не более 5 кг;</li>
                  <li>букет цветов;</li>
                  <li>верхнюю одежду;</li>
                  <li>детское питание для ребенка на время полета;</li>
                  <li>один костюм в портпледе</li>
                </ul>
                <p class="p1">Более подробная информация в разделе <a class="text-link" href="#"> "Вещи, находящиеся при пассажире и ручная кладь"</a></p>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Можно ли перевозить лекарства?</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <p class="p1">При перелетах по территории России, нет ограничений на перевозку разрешенных лекарственных препаратов. В багаже можно провозить медикаменты в любом количестве. В салон самолета пассажир может взять лекарство, необходимое ему в полете. Если данное лекарство является жидкостью и содержится в емкости более 100 мл, то необходимо взять с собой рецепт от врача или выписку из истории болезни с подписью и печатью. Лекарство должно быть в заводской упаковке. 
                  <br><br>
                  Если лекарство требует определенных условий хранения и перевозки в специальном контейнере со льдом или аккумулятором холода, то в справке от врача или в инструкции к лекарству должно быть указано, что препарат должен храниться в холодильнике.</p>
              </div>
            </div>
          </div>
          <!--  -->

          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>На каких условиях принимаются к перевозке спортинвентарь и музыкальные инструменты?</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <p class="p1">Спортивное оборудование и различный инвентарь подлежат обязательному согласованию с Авиакомпанией. Вы можете ознакомиться более подробно <a class="text-link" href="#">с условиями провоза спортинвентаря и музыкальных инструментов</a>.</p>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Я хочу провезти оружие. Каковы условия принятия его на борт самолета?</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <p class="p1">Оружие и боеприпасы принимаются к перевозке только в зарегистрированном багаже и только при предварительном согласовании с авиакомпанией. Количество единиц оружия на рейсе – не более пяти.
                  Пассажиру необходимо иметь при себе соответствующее разрешение на право хранения и ношения оружия. Вы можете ознакомиться более подробно с <a class="text-link" href="#">правилами провоза оружия</a>.</p>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Что делать, если мой багаж был поврежден/утерян?</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <p class="p1">Если Вы не обнаружили свой багаж на транспортной ленте, либо обнаружили какие-либо повреждения, пожалуйста, обратитесь в службу розыска багажа в зоне выдачи багажа. Вам необходимо оформить справку о неисправности при перевозке багажа (PIR). При повреждении багажа/содержимого, недостачи содержимого претензия в адрес Авиакомпании должна быть направлена не позднее 7 дней со дня получения багажа.</p>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Каковы сроки розыска багажа?</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <p class="p1">Согласно законодательству РФ розыск багажа осуществляется 21 день. Если багаж не найден по истечению указанного срока, направьте в адрес Авиакомпании информацию для решения вопроса о компенсации.</p>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Я забыл личные вещи на борту самолета. К кому мне следует обратиться?</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <p class="p1">Если Вы обнаружили, что забыли какие-либо личные вещи или ручную кладь в салоне самолета, Вам необходимо обратиться в комнату невостребованного багажа в аэропорту. Все найденные после осмотра салона самолета вещи сдаются туда.</p>
              </div>
            </div>
          </div>                                        
        </div>

        <div class="back mt40">
          <a href="for-passengers_FAQ.html">
            <div class="back_arrow"></div>
            <span class="span_14">Вернуться назад</span>
          </a>
        </div>
      </div>
      <div class="col-lg-3 desktop">
        <div class="img-wrapper">
          <img src="./img/faq_st_2.jpg" alt="">
        </div>
      </div>
    </div>

  </div>
  </div>
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>