<% var data = { title: "Дополнительные услуги" }; %>
<%= _.template(require('./../includes/header_2.html').default)(data) %>
<%= _.template(require('./../includes/top_menu.html').default)() %>
<%= _.template(require('./../includes/add_menu.html').default)() %>
<!-- _.template(require('./../includes/add_menu_services.html').default)() %> -->

<section class="page-content">
  <div class="container">
    <div class="row page_top">
      <div class="headline col-lg-9">
        <h1>Новости авиакомпании</h1>
      </div>
      <section class="bread-crumbs col-lg-3">
        <span><a href="./index.html">Главная</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z" />
        </svg>
        <span><a href="#">О нас</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z" />
        </svg>
        <span><a href="#">Новости</a></span>
      </section>
    </div>
    <section class="cards-list">
      <div class="card-wrapper">
        <div class="card-item">
          <a href="news_new.html">
            <img src="img/news_1.jpg" alt="">
            <h4>Продление рейсов из Калуги в Симферополь</h4>
            <div class="description red">
              <h5>Авиакомпания «РусЛайн» позволит пассажирам из Калужской области добраться до Симферополя в сентябре.</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="card-wrapper">
        <div class="card-item">
          <a href="news_new.html">
            <img src="img/news_2.jpg" alt="">
            <h4>Продление рейсов из Саранска в Сочи до конца октября</h4>
            <div class="description">
              <h5>Авиакомпания «РусЛайн» продлевает рейсы из Саранска в Сочи и обратно до конца октября.</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="card-wrapper rectangle">
        <div class="card-item">
          <a href="news_new.html">
            <img src="img/news_3.jpg" alt="">
            <h4>Загрузка рейсов из Воронежа в Сочи составляет более 85%</h4>
            <div class="description">
              <h5>Полеты выполняются два раза в неделю – по средам и субботам – на современных 50-ти кресельных канадских самолетах Bombardier CRJ-100/200. Время в пути составляет 1 час 55 минут.</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="card-wrapper">
        <div class="card-item">
          <a href="news_new.html">
            <img src="img/news_4.jpg" alt="">
            <h4>Из Брянска в Анапу и Симферополь осенью, в Минеральные Воды – до конца года</h4>
            <div class="description">
              <h5>Авиакомпания «РусЛайн» будет выполнять рейсы из Брянска в Анапу и Симферополь осенью, а в Минеральные Воды – до конца года.</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="card-wrapper rectangle">
        <div class="card-item">
          <a href="news_new.html">
            <img src="img/news_6.jpg" alt="">
            <h4>«РусЛайн» подарил Данилу Морозкину перелет в Краснодар за смелый поступок</h4>
            <div class="description">
              <h5>Авиакомпания «РусЛайн» 17 августа проводила Данилу Морозкина и его отца из Нарьян-Мара в Краснодар.</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="card-wrapper">
        <div class="card-item">
          <a href="news_new.html">
            <img src="img/news_5.jpg" alt="">
            <h4>Продление полетов из Тамбова в Сочи и Симферополь</h4>
            <div class="description">
              <h5>Жители Тамбовской области смогут воспользоваться рейсами компании и отдохнуть на черноморских курортах до конца сентября.</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="card-wrapper rectangle">
        <div class="card-item">
          <a href="news_new.html">
            <img src="img/news_7.jpg" alt="">
            <h4>Летим из Пскова в Симферополь</h4>
            <div class="description red">
              <h5>Авиакомпания «РусЛайн» станет выполнять рейсы из Пскова в Симферополь с 18 августа. </h5>
            </div>
          </a>
        </div>
      </div>
      <div class="card-wrapper">
        <div class="card-item">
          <a href="news_new.html">
            <img src="img/news_8.jpg" alt="">
            <h4>Продление выполнения рейсов из Курска в Анапу и Симферополь</h4>
            <div class="description red">
              <h5>Жители Курской области смогут воспользоваться рейсами компании и отдохнуть в Анапе и Симферополе до конца сентября.</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="card-wrapper">
        <div class="card-item">
          <a href="news_new.html">
            <img src="img/news_9.jpg" alt="">
            <h4>Путешествия станут доступнее для студентов</h4>
            <div class="description">
              <h5>Авиакомпания «РусЛайн» станет партнером «Международного клуба привилегий Российского Союза Молодежи».</h5>
            </div>
          </a>
        </div>
      </div>
    </section>


  </div>
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>