<% var data = { title: "Дополнительные услуги" }; %>
<%= _.template(require('./../includes/header_2.html').default)(data) %>
<%= _.template(require('./../includes/top_menu.html').default)() %>
<%= _.template(require('./../includes/add_menu.html').default)() %>
<!-- _.template(require('./../includes/add_menu_services.html').default)() %> -->

<section class="page-content">
  <div class="container">
    <div class="row page_top">
      <div class="headline col-lg-9">
        <h1>Компании-партнеры</h1>
      </div>
      <section class="bread-crumbs col-lg-3">
        <span><a href="./index.html">Главная</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z" />
        </svg>
        <span><a href="#">Компании-партнеры</a></span>
      </section>
    </div>
    <!--  -->
    <section class="partner-section">
      <div class="row">
        <div class="col">
          <h2>Авиакомпании - партнеры по код-шеринговому соглашению</h2>
        </div>
      </div>
      <div class="cards-list">
        <div class="card-wrapper">
          <div class="card-item white no-zoom logo">
            <a href="#">
              <img src="./img/utair_logo.png" alt="">
            </a>
          </div>
        </div>
        <div class="card-wrapper">
          <div class="card-item white no-zoom logo">
            <a href="#">
              <img src="./img/Ural-airline.png" alt="">
            </a>
          </div>
        </div>
      </div>
      <section class="partner_description-list">
        <div class="partner_description-item">
          <div class="row">
            <div class="col">
              <h3 class="mb15">Авиакомпания "ЮТЭйр"</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-9">
              <p class="p1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore vitae quibusdam, officia nulla neque suscipit exercitationem modi temporibus culpa dicta officiis eaque consequuntur eum debitis iusto accusantium repellendus soluta at.</p>
            </div>
            <div class="col-lg-3">
              <h3 class="mb15">Контакты</h3>
              <p class="p2 www-icon mb8"><a class="text-link" href="https://www.utair.ru/">www.utair.ru</a></p>
              <p class="p2 no-icon mb15"><a class="text-link" href="https://www.utair.ru/information/transport-regulations/">Правила перевозки</a></p>
              <!--  -->
            </div>
          </div>
        </div>
        <div class="partner_description-item">
          <div class="row">
            <div class="col">
              <h3 class="mb15">Авиакомпания "Уральские авиалинии"</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-9">
              <p class="p1">«Уральские авиалинии» входят в ТОП крупнейших российских авиакомпаний. География полетов насчитывает уже более 200 направлений и это ― не предел для нас. Авиакомпания имеет центры технического обслуживания судов в аэропортах Кольцово (Екатеринбург), Домодедово (Москва), Курумоч (Самара) и Баландино (Челябинск), а также работает с аэропортом Жуковский.</p>
            </div>
            <div class="col-lg-3">
              <h3 class="mb15">Контакты:</h3>
              <p class="p2 www-icon mb8"><a href="https://www.uralairlines.ru/" class="text-link">www.uralairlines.ru</a></p>
              <!--  -->
            </div>
          </div>
        </div>
      </section>
    </section>


    <section class="partner-section">
      <div class="row">
        <div class="col">
          <h2>Аэропорты</h2>
        </div>
      </div>
      <div class="cards-list">
        <div class="card-wrapper">
          <div class="card-item white no-zoom logo">
            <a href="#">
              <img src="./img/Bransk_logo.png" alt="">
            </a>
          </div>
        </div>
      </div>
      <section class="partner_description-list">
        <div class="partner_description-item">
          <div class="row">
            <div class="col">
              <h3 class="mb15">Международный аэропорт «Брянск»</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-9">
              <p class="p1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore vitae quibusdam, officia nulla neque suscipit exercitationem modi temporibus culpa dicta officiis eaque consequuntur eum debitis iusto accusantium repellendus soluta at.</p>
            </div>
            <div class="col-lg-3">
              <h3 class="mb15">Контакты:</h3>
              <p class="p2 mb8">241522, Брянская область, с. Октябрьское, ул. Авиаторов, 1</p>
              <p class="p2 www-icon mb8"><a href="http://bzk.aero" class="text-link">www.bzk.aero</a></p>
              <p class="p2 phone-icon mb8"><a href="tel:+74832644420" class="text-link">+7 (4832) 64-44-20</a></p>
              <p class="p2 phone-icon"><a href="mailto:info@bzk.aero" class="text-link">info@bzk.aero</a></p>
              <!--  -->
            </div>
          </div>

        </div>
      </section>
    </section>


    <section class="partner-section">
      <div class="row">
        <div class="col">
          <h2>Компании-партнеры</h2>
        </div>
      </div>
      <div class="cards-list">
        <div class="card-wrapper">
          <div class="card-item white no-zoom logo">
            <a href="#">
              <img src="img/sirius_logo.jpg" alt="">
            </a>
          </div>
        </div>
        <div class="card-wrapper">
          <div class="card-item white no-zoom logo">
            <a href="#">
              <img src="img/rusline-tech_logo.jpg" alt="">
            </a>
          </div>
        </div>
        <div class="card-wrapper">
          <div class="card-item white no-zoom logo">
            <a href="#">
              <img src="img/fast-air_logo.jpg" alt="">
            </a>
          </div>
        </div>
        <div class="card-wrapper">
          <div class="card-item white no-zoom logo">
            <a href="#">
              <img src="img/asb_logo.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
      <section class="partner_description-list">
        <div class="partner_description-item">
          <div class="row">
            <div class="col">
              <h3 class="mb15">Sirius Aero</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-9">

              <p class="p1">Sirius Aero – международная компания деловой авиации и самый крупный коммерческий оператор в
                Восточной Европе.
                С 1991 года оказывает услуги по организации и выполнению премиальных чартерных авиаперевозок,
                организационному обеспечению полетов, менеджменту и эксплуатации воздушных судов, поддержанию летной
                годности, техническому обслуживанию и авиационному консалтингу.
                <br><br>
                Собственный парк компании составляют воздушные суда типа Hawker - 750/850XP/1000, Legacy 600, Challenger
                850 и YAK 42</p>

            </div>
            <div class="col-lg-3">
              <h3 class="mb15">Контакты:</h3>
              <p class="p2 www-icon mb8"><a class="text-link" href="http://sirius-aero.ru/">www.sirius-aero.ru</a></p>
              <p class="p2 phone-icon"><a class="text-link" href="tel:+7 (495) 989 61 91">+7 (495) 989 61 91</a></p>

            </div>
          </div>
        </div>
        <!--  -->
        <div class="partner_description-item">
          <div class="row">
            <div class="col">
              <h3 class="mb15">ООО “РусЛайн Техникс”</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-9">
              <p class="p1 mb30">ООО “РусЛайн Техникс” осуществляет техническое обслуживание воздушных судов под
                Российским, Европейским и Бермудским сертификатами в указанных ниже месторасположениях:
              </p>
              <table>
                <tr>
                  <th class="white" style="border-top: none;">Город / Аэропорт</th>
                  <th class="white" style="border-top: none;">EASA.145.0380BDA/AMO/301</th>
                  <th class="white" style="border-top: none;">BDA/AMO/566 </th>
                  <th class="white" style="border-top: none;">ФАП-285</th>
                </tr>
                <tr>
                  <td>Домодедово</td>
                  <td>–</td>
                  <td>Bombardier(CL600‐2B19)</td>
                  <td>–</td>
                </tr>
                <tr>
                  <td>Санкт-Петербург</td>
                  <td>–</td>
                  <td>Bombardier(CL600‐2B19)</td>
                  <td>–</td>
                </tr>
                <tr>
                  <td>Внуково</td>
                  <td>Bombardier (CL600‐2B19)
                    <br>Bombardier (BD-700)
                  </td>
                  <td>HS-125 700/800 A/B
                    <br>Hawker 750/850XP
                    <br>Hawker 1000
                  </td>
                  <td>Bombardier (CL600‐2B19)
                    <br>HS-125 700/800 A/B
                    <br>Hawker 750/850XP
                    <br>Hawker 1000
                  </td>
                </tr>
                <tr>
                  <td>Воронеж</td>
                  <td>–</td>
                  <td>Bombardier(CL600‐2B19)</td>
                  <td>–</td>
                </tr>
                <tr>
                  <td>Волгоград</td>
                  <td>Bombardier(CL600‐2B19)</td>
                  <td>–</td>
                  <td>–</td>
                </tr>
                <tr>
                  <td>Екатеринбург</td>
                  <td>–</td>
                  <td>Bombardier(CL600‐2B19)</td>
                  <td>–</td>
                </tr>
              </table>
            </div>
            <div class="col-lg-3">
              <h3 class="mb15">Загрузить:</h3>
              <p class="p2 file-icon mb8"><a class="text-link" href="#">Certificate BDA/AMO/301</a></p>
              <p class="p2 file-icon mb8"><a class="text-link" href="#">Certificate BDA/AMO/566</a></p>
              <p class="p2 file-icon mb8"><a class="text-link" href="#">Certificate EASA.Part.145.0380</a></p>
              <p class="p2 file-icon mb8"><a class="text-link" href="#">Лицензия серия P №0084</a></p>
              <p class="p2 file-icon mb8"><a class="text-link" href="#">Сертификат №285-17-120</a></p>

            </div>
          </div>
        </div>
        <!--  -->
        <div class="partner_description-item">
          <div class="row">
            <div class="col">
              <h3 class="mb15">FastAir International</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-9">

              <p class="p1">FastAir International – более 6 лет является ведущим российским поставщиком деталей и
                компонентов для гражданской и бизнес-авиации, предоставляющим услуги продажи, аренды, ремонта и
                логистики авиационных запчастей и оборудования.
                <br><br>
                С 2015 года компания является официальным таможенным представителем на территории РФ, что в сочетании с
                развитой логистической инфраструктурой, позволяет ей оказывать клиентам бизнес-авиации услуги срочной
                логистики по всему миру и таможенного оформления на территории РФ в кратчайшие сроки по максимально
                выгодным условиям.
                <br><br>
                C 2017 года FastAir International – официальный таможенный брокер Lufthansa Bombardier Aviation Services
                в России.
                <br>
                Услугами компании сегодня пользуется 20% мирового рынка и 90% российского рынка операторов коммерческой
                (региональной) и бизнес авиации.</p>

            </div>
            <div class="col-lg-3">
              <h3 class="mb15">Контакты:</h3>
              <p class="p2 www-icon mb8"><a class="text-link" href="http://fastair.ru/">www.fastair.ru</a></p>
              <p class="p2 file-icon"><a class="text-link" href="#">Презентация компании</a></p>

            </div>
          </div>
        </div>
        <!--  -->
        <div class="partner_description-item">
          <div class="row">
            <div class="col">
              <h3 class="mb15">Airline Support Baltic</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-9">
              <p class="p1">Компания "Airline Support Baltic" – расположена в Риге, Латвия.
                <br><br>
                Имеет одобрение EASA Part-145 – организация по ТОиР, специализируется на тяжёлых формах обслуживания
                воздушных судов типа Bombardier CRJ 100/200, Challenger 850, Boeing 737, Embraer 135/145, Legacy
                600/650, Hawker 700/800XP, 900, 1000 и семейство Airbus 320.
                <br><br>
                "Airline Support Baltic" предлагает широкий выбор сервисов, таких как базовое и линейное обслуживание,
                структурный и композитный ремонт любой сложности, покраска ВС, ремонт запасных частей и интерьерные
                работы.</p>
            </div>

            <div class="col-lg-3">
              <h3 class="mb15">Разрешения:</h3>
              <ul class="text-list">
                <li>EASA PART-145</li>
                <li>EASA PART-M</li>
                <li>OTAR PART-145</li>
                <li>GAR Part 145</li>
                <li>FAP-285 (ФАП-285)</li>
                <li>SAN MARINO regulation CAR GEN</li>
              </ul>
              <h3 class="mb15">Контакты:</h3>
              <p class="p2 www-icon"><a class="text-link" href="https://airsup.lv/">www.airsup.lv</a></p>

            </div>
          </div>
        </div>
      </section>
    </section>


  </div>
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>