<% var data = { title: "Классы обслуживания" }; %> 

<%= _.template(require('./../includes/header_2.html').default)(data) %>
<%= _.template(require('./../includes/top_menu.html').default)() %> 
<%= _.template(require('./../includes/add_menu.html').default)() %> 
<!-- _.template(require('./../includes/add_menu_services.html').default)() %> -->

<section class="page-content">

<section>
  <div class="container">
    <div class="row page_top">
      <div class="headline col-lg-9 mb50">
        <h1>Трансферные программы</h1>
      </div>
      <section class="bread-crumbs col-lg-3">
        <span><a href="./index.html">Главная</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
          />
        </svg>
        <span><a href="#">Сервисы</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
          />
        </svg>
        <span
          ><a href="./services_service classes.html"
            >Трансферные программы</a
          ></span
        >
      </section>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="dropdown-list">
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Архангельск</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="wrapper9">
                  <table>
                    <tr>
                      <th><span>Направление</span></th>
                      <th><span>Аэропорт пересадки</span></th>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Архангельск - Липецк</a></span></td>
                      <td><span>Екатеринбург (Кольцово)</span></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Белгород</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="wrapper9">
                  <table>
                    <tr>
                      <th><span>Направление</span></th>
                      <th><span>Аэропорт пересадки</span></th>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Белгород - Брянск</a></span></td>
                      <td><span>Москва (Внуково)</span></td>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Белгород - Тамбов</a></span></td>
                      <td><span>Москва (Внуково)</span></td>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Белгород - Киров</a></span></td>
                      <td><span>Москва (Внуково)</span></td>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Белгород - Ульяновск</a></span></td>
                      <td><span>Москва (Внуково)</span></td>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Белгород - Пенза</a></span></td>
                      <td><span>Москва (Внуково)</span></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Белоярский</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="wrapper9">
                  <table>
                    <tr>
                      <th><span>Направление</span></th>
                      <th><span>Аэропорт пересадки</span></th>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Белоярский - Казань</a></span></td>
                      <td><span>Екатеринбург (Кольцово)</span></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Берлин</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="wrapper9">
                  <table>
                    <tr>
                      <th><span>Направление</span></th>
                      <th><span>Аэропорт пересадки</span></th>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Берлин (Тегель) - Пенза</a></span></td>
                      <td><span>Москва (Внуково)</span></td>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Берлин (Тегель) - Ульяновск</a></span></td>
                      <td><span>Москва (Внуково)</span></td>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Берлин (Тегель) - Киров</a></span></td>
                      <td><span>Москва (Внуково)</span></td>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Берлин (Тегель) - Воронеж</a></span></td>
                      <td><span>Москва (Внуково)</span></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Брянск</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="wrapper9">
                  <table>
                    <tr>
                      <th><span>Направление</span></th>
                      <th><span>Аэропорт пересадки</span></th>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Брянск - Ульяновск</a></span></td>
                      <td><span>Москва (Внуково)</span></td>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Брянск - Пенза</a></span></td>
                      <td><span>Москва (Внуково)</span></td>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Брянск - Курск</a></span></td>
                      <td><span>Москва (Внуково)</span></td>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Брянск - Воронеж</a></span></td>
                      <td><span>Москва (Внуково)</span></td>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Брянск - Белгород</a></span></td>
                      <td><span>Москва (Внуково)</span></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Воронеж</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="wrapper9">
                  <table>
                    <tr>
                      <th><span>Направление</span></th>
                      <th><span>Аэропорт пересадки</span></th>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Воронеж - Нарьян-Мар</a></span></td>
                      <td><span>Москва (Внуково)</span></td>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Воронеж - Тюмень</a></span></td>
                      <td><span>Москва (Внуково)</span></td>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Воронеж - Мурманск</a></span></td>
                      <td><span>Москва (Внуково)</span></td>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Воронеж - Берлин</a></span></td>
                      <td><span>Москва (Внуково)</span></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Горно-Алтайск</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="wrapper9">
                  <table>
                    <tr>
                      <th><span>Направление</span></th>
                      <th><span>Аэропорт пересадки</span></th>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Горно-Алтайск - Томск</a></span></td>
                      <td><span>Екатеринбург (Кольцово)</span></td>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Горно-Алтайск - Ноябрьск</a></span></td>
                      <td><span>Екатеринбург (Кольцово)</span></td>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Горно-Алтайск - Липецк</a></span></td>
                      <td><span>Екатеринбург (Кольцово)</span></td>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Горно-Алтайск - Красноярск</a></span></td>
                      <td><span>Екатеринбург (Кольцово)</span></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Иваново</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="wrapper9">
                  <table>
                    <tr>
                      <th><span>Направление</span></th>
                      <th><span>Аэропорт пересадки</span></th>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Иваново - Курск</a></span></td>
                      <td><span>Санкт-Петербург (Пулково)</span></td>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Иваново - Воронеж</a></span></td>
                      <td><span>Санкт-Петербург (Пулково)</span></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Казань</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="wrapper9">
                  <table>
                    <tr>
                      <th><span>Направление</span></th>
                      <th><span>Аэропорт пересадки</span></th>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Казань - Томск</a></span></td>
                      <td><span>Екатеринбург (Кольцово)</span></td>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Казань - Ноябрьск</a></span></td>
                      <td><span>Екатеринбург (Кольцово)</span></td>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Казань - Новый Уренгой</a></span></td>
                      <td><span>Екатеринбург (Кольцово)</span></td>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Казань - Надым</a></span></td>
                      <td><span>Екатеринбург (Кольцово)</span></td>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Казань - Белоярский</a></span></td>
                      <td><span>Екатеринбург (Кольцово)</span></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Калининград</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="wrapper9">
                  <table>
                    <tr>
                      <th><span>Направление</span></th>
                      <th><span>Аэропорт пересадки</span></th>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Калининград (Храброво) - Пенза</a></span></td>
                      <td><span>Москва (Внуково)</span></td>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Калининград (Храброво) - Ульяновск</a></span></td>
                      <td><span>Москва (Внуково)</span></td>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Калининград (Храброво) - Киров</a></span></td>
                      <td><span>Москва (Внуково)</span></td>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Калининград (Храброво) - Воронеж</a></span></td>
                      <td><span>Москва (Внуково)</span></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>Калуга</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <div class="wrapper9">
                  <table>
                    <tr>
                      <th><span>Направление</span></th>
                      <th><span>Аэропорт пересадки</span></th>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Калуга - Нарьян-Мар</a></span></td>
                      <td><span>Екатеринбург (Кольцово)</span></td>
                    </tr>
                    <tr>
                      <td><span><a href="#" class="text-link">Калуга - Красноярск</a></span></td>
                      <td><span>Екатеринбург (Кольцово)</span></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>
