<% var data = { title: "Второй заголовок" }; %> 

<%= _.template(require('./../includes/header_2.html').default)(data) %>
<%= _.template(require('./../includes/top_menu.html').default)() %> 
<%= _.template(require('./../includes/add_menu.html').default)() %> 
<!-- _.template(require('./../includes/add_menu_services.html').default)() %> -->

<section class="page-content">
<div class="banner_top">
  <img src="./img/web-registration.jpg" alt="Web registration" />
</div>
<div class="container">
  <div class="row page_top">
    <div class="headline col-lg-9">
      <h1 class="title">Выбор места в салоне при web-регистрации</h1>
    </div>
    <section class="bread-crumbs col-lg-3">
      <span><a href="./index.html">Главная</a></span>
      <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
        <path
          d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
        />
      </svg>
      <span><a href="#">...</a></span>
      <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
        <path
          d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
        />
      </svg>
      <span><a href="./additional_services.html">Допол...</a></span>
      <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
        <path
          d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
        />
      </svg>
      <span><a href="#">Выбор места ...</a></span>
    </section>
    <div class="col-lg-9">
      <h2 class="subtitle mb0">
        Услуги "Выбор места" и "Выбор комфортного места" платные и предоставляются только на регулярных рейсах.
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9">
      <section>
        <!-- tabs ---------------------------------->
        <div class="tabs-list">
          <div class="tab active">
            <span
              >Услуга «Выбор места»:</span
            >
          </div>
          <div class="tab">
            <span>Услуга «Выбор комфортного места»:</span>
          </div>
        </div>
        <!-- Content in tabs -------- -->
        <div class="tabs-content-list">
          <div class="content-item active">
            <p class="p1 mb30">
              3abcd-7abcd стоимость 450 руб.,<br>9abcd-13abcd - 350 руб.<b>*</b>
            </p>
            <span class="note"
            ><b>*</b> За одно место на одном участке полета.</span >
            <div class="important gray">
              <h3>Обратите внимание - <b>услуга НЕДОСТУПНА</b> для следующих категорий пассажиров:</h3>
              <ul class="text-list">
                <li>пассажиры с животными;</li>
                <li>пассажиры с ограниченными возможностями, нуждающиеся в сопровождении.</li>
              </ul>
            </div>
            <div class="alert-text mb30">
              <div class="alert-icon">
                <img src="./img/alert_icon.svg" alt="alert-text">
              </div>
              <p class="p2 text-red">Пассажиры с детьми младше 2-х лет могут регистрироваться только на места 6С и 9С.</p>
            </div>
            <p class="p1 mb30">
              Регистрация на другие места в ряду «С» осуществляется по предварительному звонку в колл-центр по телефону: 8-809-505-46-69 (стоимость звонка от 64 до 68 руб./мин. с учетом НДС, в зависимости от оператора связи, включая время ожидания и разговора с менеджером). Данные ограничения связаны с безопасностью полета.
            </p>
            <div class="important gray">
              <h3>При выборе 8 ряда места abcd просим учесть правила покупки. </h3>
              <p class="p2 gray2">В случае их нарушения Перевозчик оставляет за собой право самостоятельно изменить место посадки непосредственно на борту ВС перед вылетом, денежные средства, оплаченные ранее, возврату не подлежат.</p>
            </div>
            
            <ul class="text-list mb0">
              <p class="p1 mb8">Плата за услуги "Выбор места" и "Выбор комфортного места" не подлежит возврату, за исключением случаев вынужденного изменения условий договора воздушной перевозки:
              </p>
              <li>при оперативной замене типа ВС, когда авиакомпания не может предоставить место в выбранном ряду;</li>
              <li>при вынужденном обмене или возврате авиабилета;</li>
              <li>при изменении выбранного пассажиром места в полете в целях обеспечения безопасности полетов.</li>
            </ul>

          </div>
          <div class="content-item">
            <p class="p2 mb15">
              8abcd (ряд с увеличенным расстоянием между креслами), стоимость 800 руб. Для рейсов с компоновкой Y50: места 1abcd-2abcd стоимость 1000 руб. <b>*</b>
            </p>
            <span class="note">
              <b>*</b> За одно место на одном участке полета.
            </span>
            <div class="important gray">
              <h3>Обратите внимание – услуга <b>НЕДОСТУПНА</b> для следующих категорий пассажиров:</h3>
              <ul class="text-list">
                <li>тяжелобольные люди;</li>
                <li>пассажиры на носилках;</li>
                <li>пассажиры с ограничением слуха или зрения;</li>
                <li>с ограниченными возможностями или нуждающиеся в кислородном оборудовании;</li>
                <li>пассажиры в возрасте младше 18 лет, включая детей и несопровождаемых детей;</li>
                <li>пассажиры с животными;</li>
                <li>беременные женщины;</li>
                <li>пассажиры, не говорящие на языке экипажа.</li>
              </ul>
            </div>
            <div class="alert-text mb30">
              <div class="alert-icon">
                <img src="./img/alert_icon.svg" alt="alert-text">
              </div>
              <p class="p2 text-red">При выборе 8 ряда места abcd просим учесть правила покупки. В случае их нарушения Перевозчик оставляет за собой право самостоятельно изменить место посадки непосредственно на борту ВС перед вылетом, денежные средства, оплаченные ранее, возврату не подлежат.
              </p>
            </div>
            <ul class="text-list">
              <div class="p1 mb8">Плата за услуги "Выбор места" и "Выбор комфортного места" не подлежит возврату, за исключением случаев вынужденного изменения условий договора воздушной перевозки:
              </div>
              <li>при оперативной замене типа ВС, когда авиакомпания не может предоставить место в выбранном ряду;</li>
              <li>при вынужденном обмене или возврате авиабилета;</li>
              <li>при изменении выбранного пассажиром места в полете в целях обеспечения безопасности полетов.</li>
            </ul>
          </div>
        </div>

        <!-- back -->
        <div class="back">
          <a href="./additional_services.html">
            <div class="back_arrow"></div>
            <span class="span_14">Возврат к списку услуг</span></a>
        </div>
      </section>
    </div>
  </div>
</div>
<picture class="back-img">
  <img src="./img/airplane.svg" alt="airplane-background">
</picture>
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>
