<% var data = { title: "Классы обслуживания" }; %> 

<%= _.template(require('./../includes/header_2.html').default)(data) %>
<%= _.template(require('./../includes/top_menu.html').default)() %> 
<%= _.template(require('./../includes/add_menu.html').default)() %> 
<!-- _.template(require('./../includes/add_menu_services.html').default)() %> -->


<section class="page-content">
  <div class="container">
    <div class="row page_top">
      <div class="headline col-lg-9 mb50">
        <h1>Авиабилеты по ВПД МВД РФ</h1>
      </div>
      <section class="bread-crumbs col-lg-3">
        <span><a href="./index.html">Главная</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
          />
        </svg>
        <span><a href="#">Сервисы</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
          />
        </svg>
        <span
          ><a href="./services_service classes.html"
            >ВПД МВД РФ</a
          ></span
        >
      </section>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="dropdown-list">
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>1. ОБЩИЕ ПОЛОЖЕНИЯ</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <ul class="number-list">
                  <li>Оформление билетов на перевозку воинских пассажиров, а также сверхнормативного багажа производится на основании воинских перевозочных документов (ВПД).</li>
                  <li>Каждый ВПД МВД РФ выписывается только на одно лицо (взрослого или ребенка, если ему предоставляется отдельное место); ВПД МВД, выписанные на более чем одного человека к оформлению перевозки не принимаются.</li>
                  <li>Оформление авиабилетов допускается только по ВПД МВД, выданным для следования воздушным транспортом по указанному в ВПД маршруту.</li>
                  <li>Все сборы, включенные в стоимость билета, в том числе топливный и аэропортовые сборы, оплачиваются в счет ВПД МВД.</li>
                  <li>Для расчета за пассажирские воздушные перевозки в кассу предъявляется ВПД МВД РФ формы № 1. Оформление сверхнормативного багажа производится по ВПД МВД РФ формы №2.</li>
                  <li>Возможна перевозка оружия, не более 5 единиц оружия на рейсе, патронов (боеприпасов) и специальных средств, в количестве не более 1000 штук, без взимания платы.</li>
                  <li>Оформление проездных документов (авиабилетов) на группу воинских пассажиров, кроме следующих в отпуск, в количестве трех и более человек независимо от количества выданных ВПД, осуществляется только на основании заявки на организацию перевозки, которая должна быть подтверждена авиакомпанией.</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- 2 -->
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>2. ТРЕБОВАНИЯ К ДОКУМЕНТАМ</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <ul class="number-list">
                  <li>ВПД форма №1 должен быть выдан органами внутренних дел, организациями, учреждениями, подразделениями и воинскими частями внутренних войск МВД России.</li>
                  <li>Срок действия ВПД МВД составляет 3 месяца со дня выписки ВПД (дата начала перевозки находится в пределах срока действия ВПД).</li>
                  <li>ВПД МВД должны иметь:</li>
                  <div class="text-list mb8 ml12">
                    <p class="">Проставленные от руки или штемпелем литеры «Ф» и 3-значный цифровой код;</p>
                    <p class="">Четкий (полностью читаемый) оттиск гербовой печати с наименованием подразделения системы МВД России или 4-значным номером воинской части.</p>
                  </div>
                  <li>ВПД МВД должен быть заполнен разборчиво, без помарок и подчисток.</li>
                  <li>В графе «Цель перевозки» должно быть указано «командировка» или «отпуск», «к месту захоронения», «перевод к новому месту службы», и иные цели в соответствии с действующим законодательством. Другие цели перевозки могут быть указаны в ВПД при условии, что конечным пунктом такой перевозки является населенный пункт Российской Федерации.</li>
                  <li>ВПД, заполненные с отступлениями от правил, могут быть приняты к оформлению, если при наличии исправлений отчетливо читается предыдущая запись и исправления заверены гербовой печатью ГЦСП МВД РФ или подразделения системы МВД России, выписавшего ВПД.</li>
                  <li>ВПД с нарушениями в заполнении к оформлению билета не принимаются.</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- 3 -->
          <div class="dropdown-list_item">
            <div class="item_title">
              <h4>3. ВОЗВРАТ / ИЗМЕНЕНИЕ УСЛОВИЙ ПЕРЕВОЗКИ.</h4>
            </div>
            <div class="item_content">
              <div class="content_shadow">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div class="content">
                <ul class="number-list">
                  <li>При добровольном и вынужденном отказе от перевозки, оформленной по ВПД МВД, пассажиру возврат наличными не производится.</li>
                  <li>Оформляется справка в 3-х экземплярах. Каждый экземпляр заверяется валидатором ТКП, подписью кассира. Подпись воинского пассажира за получение справки и ее копии обязательна.</li>
                  <li>В случае отмены рейса, изменения даты вылета по вине Перевозчика билеты, приобретенные по ВПД, подлежат замене на другой рейс без взимания с воинского пассажира дополнительных сборов и увеличения стоимости перевозки.</li>
                  <li>Разрешается добровольный обмен/возврат согласно УПТ. При добровольном изменении даты добор до тарифа, действующего на момент изменения, и штрафные санкции взимаются наличными.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 end">
        <h3 class="mb8">Контакты:</h3>
        <p class="p1 mb8">Проконсультироваться по правилам оформления авиабилетов по ВПД МО РФ можно, обратившись: </p>
        <p class="p1 phone-icon red mb8">8-800-5555-800</p>
        <p class="p1 mail-icon mb8"><a href="mailto:5555@rusline.aero" class="text-link">5555@rusline.aero</a></p>
        <p class="p1 file-icon"><a href="#" class="text-link">Список агентств на территории РФ, в которых осуществляется продажа авиабилетов, багажа и грузов по ВПД МВД РФ на рейсы авиакомпании РусЛайн.</a></p>
      </div>
    </div>
  </div>
  
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>
