<% var data = { title: "Классы обслуживания" }; %> <%=
_.template(require('./../includes/header_2.html').default)(data) %> <%=
_.template(require('./../includes/top_menu.html').default)() %> <%=
_.template(require('./../includes/add_menu.html').default)() %> <%=
_.template(require('./../includes/add_menu_services.html').default)() %>

<section>
  <div class="container">
    <div class="row page_top">
      <div class="headline col-lg-9 mb50">
        <h1>Бортовой журнал</h1>
      </div>
      <section class="bread-crumbs col-lg-3">
        <span><a href="./index.html">Главная</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
          />
        </svg>
        <span><a href="#">Сервисы</a></span>
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path
            d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
          />
        </svg>
        <span
          ><a href="./services_service classes.html"
            >Бортовой журнал</a
          ></span
        >
      </section>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <p class="p1 mb30">Встречайте журнал «РусЛайн» на всех наших бортах и в аэропортах вылета! Путешествовать становится еще приятней с самыми свежими авиановостями, историями о захватывающих путешествиях и удивительными фактами обо всем на свете. На страницах бортового журнала вас ждут практические советы по стилю, обзоры самых ярких культурных событий крупнейших городов России, полезные материалы о технических трендах и захватывающие материалы о спортивных мирах и их закулисье.</p>
        <div class="important">
          <h3 class="black">Для просмотра журнала нажмите на соответствующий выпуск.</h3>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div class="col-lg-12">
            <div class="year-nav">
              <span>2015-2017</span>
              <span>2018</span>
              <span>2019</span>
              <span>2020</span>
            </div>
          </div>
        </div>
        <div class="magazine-list row">
          <div class="col-lg-4 col-md-6">
            <div class="magazine-item">
              <a href="#">
                <div class="magazine-item_preview">
                  <img src="./img/magazine+preview4.jpg" alt="preview">
                </div>
                <h4>Январь 2017</h4>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="magazine-item">
              <a href="#">
                <div class="magazine-item_preview">
                  <img src="./img/magazine+preview4.jpg" alt="preview">
                </div>
                <h4>Февраль 2017</h4>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="magazine-item">
              <a href="#">
                <div class="magazine-item_preview">
                  <img src="./img/magazine+preview4.jpg" alt="preview">
                </div>
                <h4>Март 2017</h4>
              </a>
            </div>
          </div>
        </div>
        <div class="magazine-list row">
          <div class="col-lg-4 col-md-6">
            <div class="magazine-item">
              <a href="#">
                <div class="magazine-item_preview">
                  <img src="./img/magazine+preview2.jpg" alt="preview">
                </div>
                <h4>Январь 2018</h4>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="magazine-item">
              <a href="#">
                <div class="magazine-item_preview">
                  <img src="./img/magazine+preview2.jpg" alt="preview">
                </div>
                <h4>Февраль 2018</h4>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="magazine-item">
              <a href="#">
                <div class="magazine-item_preview">
                  <img src="./img/magazine+preview2.jpg" alt="preview">
                </div>
                <h4>Март 2018</h4>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="magazine-item">
              <a href="#">
                <div class="magazine-item_preview">
                  <img src="./img/magazine+preview2.jpg" alt="preview">
                </div>
                <h4>Апрель 2018</h4>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="magazine-item">
              <a href="#">
                <div class="magazine-item_preview">
                  <img src="./img/magazine+preview2.jpg" alt="preview">
                </div>
                <h4>Май 2018</h4>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="magazine-item">
              <a href="#">
                <div class="magazine-item_preview">
                  <img src="./img/magazine+preview2.jpg" alt="preview">
                </div>
                <h4>Июнь 2018</h4>
              </a>
            </div>
          </div>
        </div>
        <div class="magazine-list row">
          <div class="col-lg-4 col-md-6">
            <div class="magazine-item">
              <a href="#">
                <div class="magazine-item_preview">
                  <img src="./img/magazine+preview.jpg" alt="preview">
                </div>
                <h4>Январь 2019</h4>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="magazine-item">
              <a href="#">
                <div class="magazine-item_preview">
                  <img src="./img/magazine+preview.jpg" alt="preview">
                </div>
                <h4>Февраль 2019</h4>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="magazine-item">
              <a href="#">
                <div class="magazine-item_preview">
                  <img src="./img/magazine+preview.jpg" alt="preview">
                </div>
                <h4>Март 2019</h4>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="magazine-item">
              <a href="#">
                <div class="magazine-item_preview">
                  <img src="./img/magazine+preview.jpg" alt="preview">
                </div>
                <h4>Апрель 2019</h4>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="magazine-item">
              <a href="#">
                <div class="magazine-item_preview">
                  <img src="./img/magazine+preview.jpg" alt="preview">
                </div>
                <h4>Май 2019</h4>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="magazine-item">
              <a href="#">
                <div class="magazine-item_preview">
                  <img src="./img/magazine+preview.jpg" alt="preview">
                </div>
                <h4>Июнь 2019</h4>
              </a>
            </div>
          </div>
        </div>
        <div class="magazine-list row">
          <div class="col-lg-4 col-md-6">
            <div class="magazine-item">
              <a href="#">
                <div class="magazine-item_preview">
                  <img src="./img/magazine+preview3.jpg" alt="preview">
                </div>
                <h4>Январь 2020</h4>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="magazine-item">
              <a href="#">
                <div class="magazine-item_preview">
                  <img src="./img/magazine+preview3.jpg" alt="preview">
                </div>
                <h4>Февраль 2020</h4>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="magazine-item">
              <a href="#">
                <div class="magazine-item_preview new">
                  <img src="./img/magazine+preview3.jpg" alt="preview">
                </div>
                <h4>Март 2020</h4>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>
