<% var data = { title: "Второй заголовок" }; %> 

<%= _.template(require('./../includes/header_2.html').default)(data) %>
<%= _.template(require('./../includes/top_menu.html').default)() %> 
<%= _.template(require('./../includes/add_menu.html').default)() %> 
<!-- _.template(require('./../includes/add_menu_services.html').default)() %> -->

<section class="page-content">
<div class="banner_top">
  <img src="./img/insurance_banner.jpg" alt="insurance_banner" />
</div>
<div class="container">
  <div class="row page_top">
    <div class="headline col-lg-9">
      <h1 class="title">Страхование</h1>
    </div>
    <section class="bread-crumbs col-lg-3">
      <span><a href="./index.html">Главная</a></span>
      <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
        <path
          d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
        />
      </svg>
      <span><a href="#">...</a></span>
      <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
        <path
          d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
        />
      </svg>
      <span><a href="./additional_services.html">Допол...</a></span>
      <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
        <path
          d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
        />
      </svg>
      <span><a href="#">Страхование</a></span>
    </section>
    <div class="col-lg-9">
      <h2 class="subtitle">
        При оформлении авиабилета на сайте авиакомпания предлагает приобрести
        дополнительные услуги, чтобы сделать ваше путешествие более комфортным.
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9">
      <div class="important">
        <h3>ВАЖНО!</h3>
        <p class="p1">
          Выбирая программу страхования, просим обратить внимание, что при
          выборе двух программ с одинаковыми рисками, выплата будет
          производиться по одной из программ.
        </p>
      </div>
      <p class="p1">
        Вы можете выбрать программу страхования из следующих вариантов:
      </p>
      <section>
        <!-- tabs ---------------------------------->
        <div class="tabs-list">
          <div class="tab active">
            <span
              >Страхование на случай невозможности совершить поездку
              <b>*</b></span
            >
          </div>
          <div class="tab">
            <span>Программа страхования «Базовая» <b>**</b></span>
          </div>
          <div class="tab">
            <span>Программа страхования «Оптимальная» <b>***</b></span>
          </div>
        </div>
        <!-- Content in tabs -------- -->
        <div class="tabs-content-list">
          <div class="content-item active">
            <p class="p1">
              Возмещаются расходы, связанные с аннулированием (возвратом)
              билетов, или обменом билетов (по тому же маршруту (или его
              участку). Выплата в пределах страховой суммы в размере доплат при
              разнице в тарифах и иных сборах, осуществленных в пользу
              перевозчика.
            </p>
            <h4 class="h4_light">
              Событие, ставшее причиной отмены поездки (страховой риск):
            </h4>
            <ul class="text-list">
              <li>Госпитализация</li>
              <li>Инфекционные заболевания</li>
              <li>Травма</li>
              <li>Уход из жизни</li>
              <li>Вакцинация</li>
              <li>
                Для зарубежных поездок граждан РФ: Отказ в визе, задержка выдачи
                визы
              </li>
              <li>Ущерб имуществу</li>
              <li>Сокращение</li>
              <li>Хищение документов</li>
              <li>Авария общественного транспорта</li>
              <li>ДТП</li>
              <li>Стихийные бедствия</li>
              <li>Чрезвычайное положение</li>
              <li>Судебное разбирательство</li>
              <li>Содействие представителям органов власти</li>
              <li>Следственные действия</li>
              <li>Призыв</li>
            </ul>

            <span class="note"
              ><b>*</b> с подробной информацией о страховом продукте Вы можете
              ознакомиться в <a class="span-link" href="#">оферте</a>.</span
            >
          </div>
          <!-- 2 content -->
          <div class="content-item">
            <h4 class="h4_light">
              1. Страхование от несчастного случая:
            </h4>
            <ul class="text-list">
              <li>травма;<lip>
              <li>инвалидность;</li>
              <li>смерть.</li>
            </ul>
            <h4 class="h4_light">
              2. Страхование Вашего багажа:
            </h4>
            <ul class="text-list">
              <li>повреждение;</li>
              <li>пропажа;</li>
              <li>гибель багажа.</li>
            </ul>
            <h4 class="h4_light">
              Стоимость услуги:
            </h4>
            <ul class="text-list">
              <li>200 рублей (для полетов «туда» без промежуточных посадок)</li>
              <li>305 рублей (для полетов «туда» с промежуточными посадками, полетов «туда-обратно» и сложных маршрутов)</li>
            </ul>
            <span class="note"><b>**</b> с подробной информацией о страховом продукте Вы можете ознакомиться в 
              <a class="span-link" href="#">оферте</a>.</span>
          </div>
          <!--  -->
          <div class="content-item">
            <h4 class="h4_light">
              1. Страхование от несчастного случая:
            </h4>
            <ul class="text-list">
              <li>травма;</li>
              <li>инвалидность;</li>
              <li>смерть.</li>
            </ul>
            <h4 class="h4_light">
              2. Страхование от задержки вылета по причине:
            </h4>
            <ul class="text-list">
              <li>задержки начала перевозки более чем на 4 часа</li>
              <li>отмены рейса</li>
            </ul>
            <h4 class="h4_light">
              3. Страхование Вашего багажа:
            </h4>
            <ul class="text-list">
              <li>повреждения</li>
              <li>пропажи</li>
              <li>гибели</li>
            </ul>
            <h4 class="h4_light">
              4. Страхование от задержки выдачи багажа
            </h4>
            <ul class="text-list">
              <li>Задержка выдачи багажа более чем на 12 часов </li>
            </ul>
            <h4 class="h4_light">
              Стоимость услуги:
            </h4>
            <ul class="text-list">
              <li>300 рублей (для полетов «туда» без промежуточных посадок)</li>
              <li>440 рублей (для полетов «туда» с промежуточными посадками, полетов «туда-обратно», и сложных маршрутов</li>
            </ul>
            <span class="note"><b>***</b> с подробной информацией о страховом продукте Вы можете ознакомиться в 
              <a class="span-link" href="#">оферте</a>.</span>
              <p class="p1">Выбирая программу страхования, просим обратить внимание, что при выборе двух программ с одинаковыми рисками, выплата будет производиться по одной из программ.</p>
          </div>
        </div>

        <!-- back -->
        <div class="back">
          <a href="./additional_services.html">
            <div class="back_arrow"></div>
            <span class="span_14">Возврат к списку услуг</span></a>
        </div>
      </section>
    </div>
  </div>
</div>
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>
