<% var data = { title: "Второй заголовок" }; %> 

<%= _.template(require('./../includes/header_2.html').default)(data) %>
<%= _.template(require('./../includes/top_menu.html').default)() %> 
<%= _.template(require('./../includes/add_menu.html').default)() %> 
<!-- _.template(require('./../includes/add_menu_services.html').default)() %> -->

<section class="page-content">
<div class="banner_top">
  <img src="./img/business-lounge__big.jpg" alt="business-lounge.jpg" />
</div>
<div class="container">
  <div class="row page_top">
    <div class="headline col-lg-9">
      <h1 class="title">Бизнес-зал</h1>
    </div>
    <section class="bread-crumbs col-lg-3">
      <span><a href="./index.html">Главная</a></span>
      <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
        <path
          d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
        />
      </svg>
      <span><a href="#">...</a></span>
      <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
        <path
          d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
        />
      </svg>
      <span><a href="./additional_services.html">Допол...</a></span>
      <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
        <path
          d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
        />
      </svg>
      <span><a href="#">Бизнес-зал</a></span>
    </section>
    <div class="col-lg-9">
      <p class="p1 mb15">
        Оформление осуществляется на
        <a href="#" class="text-link">сайте авиакомпании</a> при бронировании
        билета или при онлайн-регистрации на рейс. Стоимость составляет 1700
        рублей.
      </p>
      <p class="p1 mb30">
        Дополнительная услуга «Бизнес-зал» предоставляется только после
        самостоятельной регистрации пассажиров на рейс на сайте авиакомпании, не
        ранее чем за 3 часа до вылета рейса, или во Внуково на стойках в зале
        регистрации (2-й этаж терминала А), в Бегишево на общих стойках,
        расположенных на 1-м этаже аэровокзала. Бизнес залы необходимо покинуть
        не позднее чем за 30 минут до вылета рейса для прохода паспортного
        контроля и прохода на посадку.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9">
      <div class="important red">
        <h3>Внимание!</h3>
        <p class="p2 gray2">
          Услуга является невозвратной и обмену не подлежит
        </p>
      </div>
      <ul class="text-ul mp0">
        <p class="p1 mb8">
          Более подробная информация на сайтах аэропортов
          <a href="#" class="text-link">Внуково</a> и
          <a href="#" class="text-link">Бегишево</a>.
        </p>
        <p class="p2 gray2 phone-icon">
          <b>8-809-505-46-69</b><br />(стоимость звонка от 64 до 68 руб./мин. с
          учетом НДС, в зависимости от оператора связи, включая время ожидания и
          разговора с менеджером)
        </p>
      </ul>
    </div>
  </div>
  <section>
    <div class="tabs-list">
      <div class="tab active">
        <span>Бизнес-зал аэропорта Внуково</span>
      </div>
      <div class="tab">
        <span>Бизнес-зал в аэропорту Бегишево</span>
      </div>
    </div>
    <!-- content -->
    <div class="tabs-content-list">
      <div class="content-item active">
        <div class="row">
          <div class="col-lg-6">
            <ul class="text-list">
              <li>
                Комфортабельный и просторный зал (на 3-м этаже терминала А).
              </li>
              <li>Свежую прессу (в том числе на иностранных языках).</li>
              <li>Прохладительные напитки.</li>
              <li>Шведский стол.</li>
              <li>Массажные кресла.</li>
              <li>Детский уголок.</li>
              <li>
                Прохождение всех аэропортовых формальностей в VIP Lounge
                <b>*</b>.
              </li>
              <li>Телефонную и факсимильную связь</li>
              <li>Бесплатный беспроводной интернет (Wi-Fi)</li>
              <li>Копировальную технику</li>
            </ul>
            <ul class="number-list">
              <li>Дополнительная услуга «Бизнес-зал» не может быть приобретена отдельно от перелета.</li>
              <li>Бронирование услуги производится на сайте авиакомпании не менее чем за 12 часов до планируемого вылета.</li>
              <li><b>*</b> Пассажирам внутренних рейсов не нужно покидать зал для прохождения паспортного контроля, так как процедуры досмотра проходят на территории зала перед выходом на посадку. </li>
              <p>Пассажирам международных рейсов для прохождения паспортного контроля и досмотровых процедур необходимо покинуть бизнес-зал не позднее, чем за 1 час до вылета рейса и спуститься для этого на 2 этаж аэровокзала.</p>
              <p><b>Просим самостоятельно рассчитывать время, необходимое для прохождения аэропортовых формальностей для своевременного прибытия к выходу на посадку. Время окончания посадки указано в посадочном талоне!</b></p>
              <li>Услугой могут воспользоваться все пассажиры, независимо от класса обслуживания.</li>
              <li>Дополнительная услуга является невозвратной и обмену не подлежит.</li>
            </ul>
          </div>
          <div class="col-lg-6">
            <img class="img-fluid"
              src="./img/vnukovo_bissines.jpg"
              alt="Vnukovo VIP"
            />
          </div>
        </div>
      </div>

      <div class="content-item">
        <div class="row">
          <div class="col-lg-6">
              <ul class="text-list">
                <li>Расположение пассажиров в комфортабельном зале оснащенном мебелью повышенной комфортности</li>
                <li>Питание по принципу «шведского стола»</li>
                <li>Бесплатный беспроводной интернет (Wi-Fi)</li>
                <li>Просмотр TV программ</li>
                <li>Пользование зарядными устройствами для мобильных телефонов и факсимильной связью</li>
                <li>Возможность ксерокопирования документов</li>
                <li>Получение необходимой информации по вылету рейсов</li>
              </ul>
              <ul class="number-list">
                <li>Дополнительная услуга «Бизнес-зал» не может быть приобретена отдельно от перелета.</li>
                <li>Бронирование услуги производится на сайте авиакомпании не менее чем за 12 часов до планируемого вылета.</li>
                <li>Пассажирам необходимо самостоятельно пройти все досмотровые процедуры перед вылетом.</li>
                <p><b>Просим самостоятельно рассчитывать время, необходимое для прохождения аэропортовых формальностей для своевременного прибытия к выходу на посадку. Время окончания посадки указано в посадочном талоне!</b></p>
                <li>Услугой могут воспользоваться все пассажиры, независимо от класса обслуживания.</li>
                <li>Дополнительная услуга является невозвратной и обмену не подлежит.</li>
              </ul>
          </div>
          <div class="col-lg-6">
            <img class="img-fluid" src="./img/bigesh_vip.jpg" alt="Begishevo VIP">
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="row">
    <div class="col">
      <div class="back mt40">
        <a href="./additional_services.html">
          <div class="back_arrow"></div>
          <span class="span_14">Возврат к списку услуг</span></a
        >
      </div>
    </div>
  </div>
</div>
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>
