<% var data = { title: "Дополнительные услуги" }; %> 
<%= _.template(require('./../includes/header_2.html').default)(data) %>
<%= _.template(require('./../includes/top_menu.html').default)() %> 
<%= _.template(require('./../includes/add_menu.html').default)() %>

<section class="page-content">
    <div class="container">
        <div class="row page_top">
            <div class="headline col-lg-9">
            <h1>Группа тарифов «Лайт»</h1>
            </div>
            <section class="bread-crumbs col-lg-3">
                <span><a href="./index.html">Главная</a></span>
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
                <path
                    d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
                />
                </svg>
                <span><a href="#">Пассажирам</a></span>
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
                <path
                    d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
                />
                </svg>
                <span><a href="for-passengers_transportation-rules">Правила перевозки</a></span>
            </section>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <table class="tarifs mt40 mb15">
                    <tr>
                        <th class="red" colspan="2"><h3>Группа тарифов «ЛАЙТ»</h3></th>
                    </tr>
                    <tr>
                        <td>Коды тарифа:</td>
                        <td>YLT, SLT, BLT, HLT, KLT, MLT, NLT, QLT, ELT, ULT, OLT, LLT, VLT, ALT</td>
                    </tr>
                    <tr>
                        <td>Скидки для детей до 2 лет (без предоставления места) <b>*</b>:</td>
                        <td>100% на внутренних рейсах, 90% на международных рейсах.</td>
                    </tr>
                    <tr>
                        <td>Скидки для детей от 2 до 12 лет;
                            для детей до 2 лет (с предоставлением места) <b>*</b>:</td>
                        <td>0%</td>
                    </tr>
                    <tr>
                        <td>Норма провоза ручной клади:</td>
                        <td>1 место не более 5 кг. с габаритами не превышающими размеры 40*30*20 см.</td>
                    </tr>
                    <tr>
                        <td>Дополнительное место ручной клади:</td>
                        <td>1 место ручной клади до 10 кг. габаритами 55*40*25 см.<b>**</b></td>
                    </tr>
                    <tr>
                        <td>Норма бесплатного провоза багажа:</td>
                        <td>нет <b>***</b></td>
                    </tr>
                    <tr>
                        <td>Норма бесплатного провоза багажа для детей до двух лет без места:</td>
                        <td>нет</td>
                    </tr>
                    <tr>
                        <td>Обмен билета за сутки и более до вылета:</td>
                        <td>Изменения запрещены.</td>
                    </tr>
                    <tr>
                        <td>Обмен билета менее, чем за сутки до вылета:</td>
                        <td>Изменения запрещены.</td>
                    </tr>
                    <tr>
                        <td>Обмен билета после вылета:</td>
                        <td>Изменения запрещены.</td>
                    </tr>
                    <tr>
                        <td>Возврат билета за сутки и более до вылета:</td>
                        <td>Тариф невозвратный</td>
                    </tr>
                    <tr>
                        <td>Возврат билета за сутки и менее до вылета:</td>
                        <td>Тариф невозвратный</td>
                    </tr>
                    <tr>
                        <td>Возврат билета после вылета:</td>
                        <td>Тариф невозвратный</td>
                    </tr>
                </table>
                <span class="note mb8"><b>*</b> Скидка применяется от тарифа. Для детей от 0 до 12 лет в составе группы скидка 5%.</span>
                <span class="note mb8"><b>**</b> Стоимость услуги - 1500 руб. при оформлении дополнительного места на сайте или в контакт-центре авиакомпании, при оформлении в аэропорту - 2500 руб.</span>
                <span class="note"><b>***</b> Багаж можно оформить согласно <a href="#" class="text-link">Правилам провоза платного (сверхнормативного) и негабаритного багажа.</a></span>
                <div class="back mt40">
                    <a href="for-passengers_brand_tariffes.html" class="back_arrow">
                      <span class="span_14">Вернуться назад</span>
                    </a>
                  </div> 
            </div>
        </div>
    </div>
</section>


<%= _.template(require('./../includes/footer_2.html').default)(data) %>