<% var data = { title: "Дополнительные услуги" }; %> 
<%= _.template(require('./../includes/header_2.html').default)(data) %>
<%= _.template(require('./../includes/top_menu.html').default)() %> 
<%= _.template(require('./../includes/add_menu.html').default)() %> 
<!-- _.template(require('./../includes/add_menu_services.html').default)() %> -->

<section class="page-content">
<div class="container">
  <div class="row page_top">
    <div class="headline col-lg-9">
      <h1>Инженерно-техническая служба</h1>
    </div>
    <section class="bread-crumbs col-lg-3">
      <span><a href="./index.html">Главная</a></span>
      <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
        <path
          d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
        />
      </svg>
      <span><a href="#">О нас</a></span>
      <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
        <path
          d="M3.84 7.168L3.528 6.844L6.288 4.204H0.456V3.748H6.288L3.528 1.108L3.84 0.784L7.068 3.952V4L3.84 7.168Z"
        />
      </svg>
      <span><a href="about_rusline.html">Авиакомпания Руслайн</a></span>
    </section>
  </div>
<!--  -->
  <div class="row">
    <div class="col-lg-9">
      <div class="dropdown-list">
        <div class="dropdown-list_item">
          <div class="item_title">
            <h4>Инженер по учету расходов на поддержание летной годности</h4> 
          </div>
          <div class="item_content">
            <div class="content_shadow">
              <div class="left"></div>
              <div class="center"></div>
              <div class="right"></div>
            </div>
            <div class="row">
              <div class="col">
                <h3 class="mb15">Опубликовано:</h3>
                <p class="p1 mb30">23.12.2018</p>
                <h3 class="mb15">Прямой работодатель:</h3>
                <p class="p1 mb30">ООО "РусЛайнТехник", г. Москва, ул. Дорогобужская 14\1</p>
                <ul class="text-list">
                  <h3>Обязанности:</h3>
                  <li>Сбор и обработка счетов ИАС, ведение их архива и учета оплат.</li>
                  <li>Работа с первичной документацией.</li>
                  <li>Составление ежемесячного отчета по затратам ИАС на ПЛГ.</li>
                  <li>Составление ежемесячного отчета по затратам на выполнение периодического технического облуживания по всему парку ВС АК.</li>
                  <li>Ведение перечня заказываемых запчастей и их стоимости.</li>
                  <li>Отслеживание перемещений запчастей</li>
                  <li>Взаиморасчеты с контрагентами ИАС.</li>
                </ul>
                <ul class="text-list">
                  <h3>Требования:</h3>
                  <li>Гражданство РФ.</li>
                  <li>Образование: Среднее – специальное или высшее профессиональное образование.</li>
                  <li>Опыт работы: на производстве в аналогичной должности не менее 2 лет желателен.</li>
                  <li>Знание базового английского языка.</li>
                  <li>Знание основ экономики и бухгалтерии.</li>
                  <li>Уверенный пользователь ПК (владение программами Microsoft Office, электронной почтой и Internet).</li>
                  <li>Системность мышления, самостоятельность, ответственность, обучаемость, внимательность, стрессоустойчивость, результативность, коммуникабельность и исполнительность.</li>
                  <li>Опыт работы в авиакомпаниях приветствуется.</li>
                </ul>
                <ul class="text-list mb0">
                  <h3>Условия:</h3>
                  <li>Оформление по ТК РФ.</li>
                  <li>График работы: Полный рабочий день с 9.30 до 18.30.</li>
                  <li>Нормированный рабочий день.</li>
                  <li>Заработная плата: по договоренности.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="dropdown-list_item">
          <div class="item_title">
            <h4>Ведущий инженер ПиД (АиРЭО)</h4> 
          </div>
          <div class="item_content">
            <div class="content_shadow">
              <div class="left"></div>
              <div class="center"></div>
              <div class="right"></div>
            </div>
            <div class="row">
              <div class="col">
                <h3 class="mb15">Опубликовано:</h3>
                <p class="p1 mb30">23.12.2018</p>
                <h3 class="mb15">Прямой работодатель:</h3>
                <p class="p1 mb30">ООО "РусЛайнТехник", г. Москва, ул. Дорогобужская 14\1</p>
                <ul class="text-list">
                  <h3>Обязанности:</h3>
                  <li>Руководство работами по ТО ВС, в целях выполнения производственного плана.</li>
                  <li>Участие в составлении плана-графика выполнения плановых и дополнительных работ на АТ.</li>
                  <li>Оценка трудоемкости и условий проведения работ на АТ.</li>
                  <li>Оперативное планирование заданий на проведение работ на ВС.</li>
                  <li>Взаимодействие с контрактными организациями при выполнении работ по ТО, поиску и устранению неисправностей АТ, согласно действующим договорам.</li>
                  <li>Разработка программ по устранению неисправностей и отказов авиационной техники в соответствии с рекомендациями, полученными от производителя ВС.</li>
                  <li>Мониторинг текущих неисправностей ВС, в том числе накладывающих эксплуатационные ограничения на ВС.</li>
                  <li>Принятие мер и координация деятельности персонала, направленных на своевременное проведение работ по поиску и устранению неисправностей, согласно действующей нормативной и эксплуатационно-технической документации.</li>
                  <li>Координация и контроль выполнения работ по ТО и устранению сложных дефектов, влияющих на безопасность и регулярность полётов.</li>
                  <li>Организация, контроль и непосредственное участие в проведении сложных работ на ВС.</li>
                  <li>Информирование контрактных организаций обо всех случаях изменения технического состояния ВС данных организаций.</li>
                  <li>Содействие ИТП в вопросах получения недостающей информации в имеющейся технической документации.</li>
                  <li>Формирование отчетов, в случае необходимости, о проведении работ по поиску и устранению неисправностей на ВС.</li>
                </ul>
                <ul class="text-list">
                  <h3>Требования:</h3>
                  <li>Гражданство РФ.</li>
                  <li>Образование: Среднее, высшее.</li>
                  <li>Опыт работы: от 5 лет.</li>
                  <li>Уверенный пользователь компьютером.</li>
                  <li>Знание английского языка: не ниже pre-intermediate.</li>
                  <li>Личные качества: Работоспособность, чувство ответственности за результат, командность.</li>
                </ul>
                <ul class="text-list mb0">
                  <h3>Условия:</h3>
                  <li>Оформление по ТК РФ.</li>
                  <li>График работы: сменный</li>
                  <li>Заработная плата: заработная плата по результатам собеседования.</li>
                  <li>Место работы: Аэропорт Внуково.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="dropdown-list_item">
          <div class="item_title">
            <h4>Инженер по АиРЭО и ПиД цеха ТО ВС</h4> 
          </div>
          <div class="item_content">
            <div class="content_shadow">
              <div class="left"></div>
              <div class="center"></div>
              <div class="right"></div>
            </div>
            <div class="row">
              <div class="col">
                <h3 class="mb15">Опубликовано:</h3>
                <p class="p1 mb30">11.12.2018</p>
                <h3 class="mb15">Прямой работодатель:</h3>
                <p class="p1 mb30">ООО "РусЛайнТехник", г. Москва, ул. Дорогобужская 14\1</p>
                <ul class="text-list">
                  <h3>Обязанности:</h3>
                  <li>Организация, контроль и выполнение ТО ВС,</li>
                  <li>Устранение дефектов и неисправностей ВС,</li>
                  <li>Оформление заказов.</li>
                </ul>
                <ul class="text-list">
                  <h3>Требования:</h3>
                  <li>Гражданство РФ.</li>
                  <li>Образование: Высшее профессиональное авиационно-техническое образование.</li>
                  <li>Знание английского языка (не ниже Intermediate).</li>
                  <li>Наличие действующего допуска на самостоятельное ТО ВС категории А/В2, В2.</li>
                  <li>Знание назначения, структуры и содержания документации, регламентирующей правила ТО, ремонта ВС и ПЛГ ВС иностранного производства.</li>
                  <li>Знание конструкции, правил эксплуатации, конструктивные особенности самолетов и двигателей ВС иностранного производства.  </li>
                </ul>
                <ul class="text-list mb0">
                  <h3>Условия:</h3>
                  <li>Оформление по ТК РФ.</li>
                  <li>График работы: Сменная работа 1/3.</li>
                  <li>Заработная плата: по договоренности.</li>
                  <li>Место работы: Аэропорт Внуково.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="dropdown-list_item">
          <div class="item_title">
            <h4>Техник\механик по АиРЭО и ПиД цеха ТО ВС</h4> 
          </div>
          <div class="item_content">
            <div class="content_shadow">
              <div class="left"></div>
              <div class="center"></div>
              <div class="right"></div>
            </div>
            <div class="row">
              <div class="col">
                <h3 class="mb15">Опубликовано:</h3>
                <p class="p1 mb30">11.12.2018</p>
                <h3 class="mb15">Прямой работодатель:</h3>
                <p class="p1 mb30">ООО "РусЛайнТехник", г. Москва, ул. Дорогобужская 14\1</p>
                <ul class="text-list">
                  <h3>Обязанности:</h3>
                  <li>Организация, контроль и выполнение ТО ВС,</li>
                  <li>Устранение дефектов и неисправностей ВС,</li>
                  <li>Оформление заказов.</li>
                </ul>
                <ul class="text-list">
                  <h3>Требования:</h3>
                  <li>Гражданство РФ.</li>
                  <li>Образование: Среднее специальное авиационно-техническое образование, незаконченное высшее (студенты 5-6 курсов).</li>
                  <li>Знание английского языка (не ниже Intermediate).</li>
                  <li>Знание назначения, структуры и содержания документации, регламентирующей правила ТО, ремонта ВС и ПЛГ ВС.</li>
                  <li>Знание конструкции, правил эксплуатации, конструктивные особенности самолетов и двигателей ВС.</li>

                </ul>
                <ul class="text-list mb0">
                  <h3>Условия:</h3>
                  <li>Оформление по ТК РФ.</li>
                  <li>График работы: Сменная работа 1/3.</li>
                  <li>Заработная плата: по договоренности</li>
                  <li>Место работы: Аэропорт Внуково.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="dropdown-list_item">
          <div class="item_title">
            <h4>Ведущий инженер по АиРЭО цеха ТО ВС</h4> 
          </div>
          <div class="item_content">
            <div class="content_shadow">
              <div class="left"></div>
              <div class="center"></div>
              <div class="right"></div>
            </div>
            <div class="row">
              <div class="col">
                <h3 class="mb15">Опубликовано:</h3>
                <p class="p1 mb30">05.12.2018</p>
                <ul class="text-list">
                  <h3>Обязанности:</h3>
                  <li>Организация, контроль и выполнение ТО ВС.</li>
                  <li>Мониторинг текущих неисправностей по парку ВС.</li>
                  <li>Устранение дефектов и неисправностей ВС. Разработка детальных программ поиска неисправности в соответствии с технической документацией и рекомендациями производителя.</li>
                  <li>Разработка рекомендаций и мероприятий по предотвращению инцидентов, задержек рейсов по техническим причинам на основании анализа причин устраненных отказов и неисправностей.</li>
                </ul>
                <ul class="text-list">
                  <h3>Требования:</h3>
                  <li>Гражданство РФ.</li>
                  <li>Образование: Высшее профессиональное авиационно-техническое образование.</li>
                  <li>Опыт работы: Не менее 5-х лет на ВС иностранного производства.</li>
                  <li>Наличие действующего допуска на самостоятельное ТО ВС категории А/В2 или В2.</li>
                  <li>Знание английского языка: Intermediate.</li>
                  <li>Личные и деловые качества: профессионализм, коммуникабельность, ответственность, исполнительность, ориентация на результат, целеустремленность, честность и порядочность.</li>
                  <li>Знание назначения, структуры и содержания документации, регламентирующей правила ТО, ремонта ВС и ПЛГ ВС иностранного производства.</li>
                  <li>Знание конструкции, правил эксплуатации, конструктивные особенности самолетов и двигателей ВС иностранного производства.</li>
                </ul>
                <ul class="text-list mb0">
                  <h3>Условия:</h3>
                  <li>Оформление по ТК РФ.</li>
                  <li>График работы: сменная работа 2/2.</li>
                  <li>Заработная плата: по договоренности.</li>
                  <li>Место работы: Азропорт Внуково.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="dropdown-list_item">
          <div class="item_title">
            <h4>Инженер группы надежности отдела инжиниринга</h4> 
          </div>
          <div class="item_content">
            <div class="content_shadow">
              <div class="left"></div>
              <div class="center"></div>
              <div class="right"></div>
            </div>
            <div class="row">
              <div class="col">
                <h3 class="mb15">Опубликовано:</h3>
                <p class="p1 mb30">05.12.2018</p>
                <ul class="text-list">
                  <h3>Обязанности:</h3>
                  <li>Ведение программы надежности на все типы ВС эксплуатируемые в АК,</li>
                  <li>подготовка предложений по совершенствованию существующих регламентов, методов и средств ТО ВС, на базе результатов программы надежности,</li>
                  <li>оформление заявок на необходимое оборудование, комплектующие, инструмент, расходные материалы, требующиеся для выполнения доработок и модификаций АТ,</li>
                  <li>участие в процессах планирования выполнения доработок на AT,</li>
                  <li>подготовка предложений по содержанию руководств и процедур, обеспечивать выполнение их требований,</li>
                  <li>участие в работе комиссий по осмотрам AT,</li>
                  <li>решение инженерных вопросов с производителями АТ, с компаниями технической поддержки, а также с полномочными авиационными властями РФ и стран, определённых в действующих контрактах и соглашениях,</li>
                  <li>сбор данных от всех задействованных служб для формирования ежемесячных, ежеквартальных, полугодовых и годовых отчетов по надежности АТ,</li>
                  <li>организация и проведения совещаний по результатам применения программы надежности АТ.</li>
                </ul>
                <ul class="text-list">
                  <h3>Требования:</h3>
                  <li>Гражданство РФ.</li>
                  <li>Образование: Высшее профессиональное авиационно-техническое образование.</li>
                  <li>Опыт работы: Не менее 3-х лет в сфере гражданской авиации, опыт работы от одного года на аналогичной должности.</li>
                  <li>Знание английского языка (разговорный/письменный).</li>
                  <li>Знания основ Воздушного законодательства РФ, международную нормативную базу (Бермудских Авиационных Властей), регламентирующую ПЛГ ВС российского и иностранного производства;</li>
                  <li>Знания нормативно – правовой документации МТ РФ и Федеральных агентств РФ.</li>
                  <li>Личные и деловые качества: высокий профессионализм, коммуникабельность, ответственность, исполнительность, высокая корпоративная культура общения, ориентация на результат, стрессоустойчивость, честность, порядочность, целеустремленность, положительный настрой и умение работать в команде.</li>
                </ul>
                <ul class="text-list">
                  <h3>Кроме того, инженер по надежности группы инжиниринга должен обладать знаниями:</h3>
                  <li>основ технологии обслуживания ВС;</li>
                  <li>английского языка, соответствующее уровню, необходимому для решения технических вопросов, чтения и перевода ЭТД; проведения переговоров, встреч, конференций и переписки;</li>
                  <li>назначения, структуры и содержания документации, регламентирующей правила технического обслуживания и ремонта ВС иностранного производства;</li>
                  <li>конструкции, правил эксплуатации самолетов и двигателей ВС, эксплуатируемых в АК;</li>
                  <li>основ планирования процессов эксплуатации ВС.</li>
                </ul>

                <ul class="text-list mb0">
                  <h3>Условия:</h3>
                  <li>Оформление по ТК РФ.</li>
                  <li>График работы: Полный рабочий день с 9.30 до 18.30.</li>
                  <li>Занятость: Нормированный рабочий день.</li>
                  <li>Заработная плата: по договоренности</li>
                  <li>Место работы: г. Москва, м. Кунцевская, ул. Дорогобужская 14/1, БЦ «Партнер».</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="dropdown-list_item">
          <div class="item_title">
            <h4>Инженер отдела инжиниринга</h4> 
          </div>
          <div class="item_content">
            <div class="content_shadow">
              <div class="left"></div>
              <div class="center"></div>
              <div class="right"></div>
            </div>
            <div class="row">
              <div class="col">
                <h3 class="mb15">Опубликовано:</h3>
                <p class="p1 mb30">05.12.2018</p>
                <ul class="text-list">
                  <h3>Обязанности:</h3>
                  <li>подготовка предложений по совершенствованию существующих регламентов, методов и средств ТО ВС.</li>
                  <li>оформление заявок на необходимое оборудование, комплектующие, инструмент, расходные материалы, требующиеся для выполнения доработок и модификаций АТ.</li>
                  <li>участие в процессах планирования выполнения доработок на AT.</li>
                  <li>подготовка предложений по содержанию важных руководств и процедур, обеспечивать выполнение их требований.</li>
                  <li>участие в работе комиссий по осмотрам AT.</li>
                  <li>решение инженерных вопросов с производителями АТ, с компаниями технической поддержки, а также с полномочными авиационными властями РФ и стран, определённых в действующих контрактах и соглашениях.</li>
                </ul>
                <ul class="text-list">
                  <h3>Требования:</h3>
                  <li>Гражданство РФ.</li>
                  <li>Образование: Высшее профессиональное авиационно-техническое образование.</li>
                  <li>Опыт работы: Не менее 3-х лет в сфере гражданской авиации, опыт работы от одного года на аналогичной должности.</li>
                  <li>Знание английского языка (письменный и желательно разговорный).</li>
                  <li>Наличие сертификата уполномоченного государственного органа России на право занимать должность, связанную с обеспечением безопасности полётов в ГА.</li>
                  <li>Знания основ Гражданского Кодекса РФ, Воздушного законодательства РФ, международную нормативную базу, регламентирующую ПЛГ ВС российского и иностранного производства.</li>
                  <li>Знания нормативно – правовой документации МТ РФ и Федеральных агентств РФ, в т.ч. РОТО.</li>
                  <li>Личные и деловые качества: высокий профессионализм, коммуникабельность, ответственность, исполнительность, высокая корпоративная культура общения, ориентация на результат, стрессоустойчивость, честность, порядочность, целеустремленность, положительный настрой и умение работать в команде.</li>
                </ul>
                <ul class="text-list mb0">
                  <h3>Кроме того инженер отдела инжиниринга должен обладать знаниями:</h3>
                  <li>основ технологии обслуживания;</li>
                  <li>АТ;</li>
                  <li>английского языка соответствующее уровню необходимому для решения технических вопросов, чтения и перевода ЭТД; проведения переговоров, встреч, конференций и переписки;</li>
                  <li>назначения, структуры и содержания документации, регламентирующей правила технического обслуживания и ремонта ВС иностранного производства;</li>
                  <li>конструкции, правил эксплуатации, конструктивные особенности самолетов и двигателей ВС иностранного производства;</li>
                  <li>основ планирования процессов эксплуатации ВС.</li>
                </ul>
                <ul class="text-list mb0">
                  <h3>Условия:</h3>
                  <li>Оформление по ТК РФ.</li>
                  <li>График работы: Полный рабочий день с 9.30 до 18.30.</li>
                  <li>Занятость: Нормированный рабочий день.</li>
                  <li>Заработная плата: по договоренности</li>
                  <li>Место работы: г. Москва, м. Кунцевская, ул. Дорогобужская 14/1, БЦ «Партнер».</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="dropdown-list_item">
          <div class="item_title">
            <h4>Ведущий Инженер по АиРЭО</h4> 
          </div>
          <div class="item_content">
            <div class="content_shadow">
              <div class="left"></div>
              <div class="center"></div>
              <div class="right"></div>
            </div>
            <div class="row">
              <div class="col">
                <h3 class="mb15">Опубликовано:</h3>
                <p class="p1 mb30">05.12.2018</p>
                <ul class="text-list">
                  <h3>Обязанности:</h3>
                  <li>ПЛГ парка ВС в части АиРЭО</li>
                  <li>Контроль за устранением дефектов и неисправностей ВС в части АиРЭО,</li>
                  <li>Оформление заказов</li>
                  <li>Анализ AD и SB и разработка технологических карт по их имплементации.</li>
                </ul>
                <ul class="text-list">
                  <h3>Требования:</h3>
                  <li>Гражданство РФ.</li>
                  <li>Образование: Высшее профессиональное авиационно-техническое образование.</li>
                  <li>Опыт работы: Не менее 3-х лет на ВС иностранного производства.</li>
                  <li>Знание английского языка (не ниже Intermediate).</li>
                  <li>Знание назначения, структуры и содержания документации, регламентирующей правила ТО, ремонта ВС и ПЛГ ВС иностранного производства</li>
                  <li>Знание конструкции, правил эксплуатации, конструктивные особенности самолетов и двигателей ВС иностранного производства.</li>

                </ul>
                <ul class="text-list mb0">
                  <h3>Условия:</h3>
                  <li>Оформление по ТК РФ.</li>
                  <li>Занятость: Полная занятость 5/2.</li>
                  <li>Заработная плата: по договоренности.</li>
                  <li>Место работы: : г. Москва, м. Кунцевская, ул. Дорогобужская 14/1, БЦ «Партнер».</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="dropdown-list_item">
          <div class="item_title">
            <h4>Инженер по АиРЭО цеха ТО ВС</h4> 
          </div>
          <div class="item_content">
            <div class="content_shadow">
              <div class="left"></div>
              <div class="center"></div>
              <div class="right"></div>
            </div>
            <div class="row">
              <div class="col">
                <h3 class="mb15">Опубликовано:</h3>
                <p class="p1 mb30">05.12.2018</p>
                <ul class="text-list">
                  <h3>Обязанности:</h3>
                  <li>Организация, контроль и выполнение ТО ВС.</li>
                  <li>Устранение дефектов и неисправностей ВС.</li>
                  <li>Оформление заказов.</li>
                </ul>
                <ul class="text-list">
                  <h3>Требования:</h3>
                  <li>Гражданство РФ.</li>
                  <li>Образование: Высшее профессиональное авиационно-техническое образование.</li>
                  <li>Опыт работы: Не менее 5-х лет на ВС иностранного производства.</li>
                  <li>Знание английского языка (не ниже Intermediate).</li>
                  <li>Наличие действующего допуска на самостоятельное ТО ВС категории А/В2, В2.</li>
                  <li>Знание назначения, структуры и содержания документации, регламентирующей правила ТО, ремонта ВС и ПЛГ ВС иностранного производства.</li>
                  <li>Знание конструкции, правил эксплуатации, конструктивные особенности самолетов и двигателей ВС иностранного производства.</li>
                </ul>
                <ul class="text-list mb0">
                  <h3>Условия:</h3>
                  <li>Оформление по ТК РФ.</li>
                  <li>График работы: Сменная работа 1/3.</li>
                  <li>Место работы: Аэропорт Внуково.</li>
                  <li>Заработная плата: по договоренности.</li>
                  <li>Офис: г. Москва, м. Кунцевская, ул. Дорогобужская 14/1, БЦ «Партнер».</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <h3 class="mb15">По вопросам трудоустройства обращаться:</h3>
      <p class="p2 mb8">Суринова Вера Васильевна <br> заместитель генерального директора по персоналу</p>
      <p class="p2 mail-icon mb30">
        <a class="text-link" href="mailto:v.surinova@rusline.aero">v.surinova@rusline.aero</a>
      </p>
      <h3 class="mb15">Загрузить:</h3>
      <p class="p2 file-icon mb8">
        <a class="text-link" href="">Специальная оценка условий труда</a>
      </p>
      <p class="p2 file-icon mb30">
        <a class="text-link" href="">Сводная ведомость результатов проведения специальной оценки условий труда</a>
      </p>
      <h3 class="mb15">Как доехать на общественном транспорте до офиса авиакомпании:</h3>
      <p class="p2 mb15"><b>от метро «Кунцевская»</b><br>на автобусах № 610, № 612 или на маршрутке № 575 до остановки "Спасская церковь" (ориентировочно 15 мин.).</p>
      <p class="p2 mb15"><b>от метро «Славянский бульвар»</b><br>на автобусе № 103 или на маршрутках № 523М, № 753М до остановки "Завод Ким" (ориентировочно 10 мин).</p>
      <p class="p2 mb15"><b>корпоративный транспорт до места работы</b> от м. Молодежная, обратно до м. Славянский бульвар.</p>
    </div>
  </div>
  <div class="back mt40">
    <a href="about_work.html" class="back_arrow">
      <span class="span_14">Вернуться назад</span>
    </a>
  </div> 
</div>
</section>

<%= _.template(require('./../includes/footer_2.html').default)(data) %>
