.mobil{
  display: none;
}

.add-menu__drop_menu {
  position: absolute;
  width: 100%;
  padding-bottom: 15px;
  padding-top: 15px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: ease-out .3s;
  background: $white;
  z-index: 9999;
  display: flex;
  @media screen and (max-width: $m) {
    position: static;

  }


  $sizeTitle:298px;

    .drop_menu__title{
      width: $sizeTitle;
      padding-right: 30px;
      border-right: dashed 1px $gray5;
      p{
        font-size: 14px !important;
        color: $gray2;
        font-weight: 300;
        line-height: 120%;
        margin-top: 15px;
      }
    }
    .drop_menu__submenu-list{
      width: calc(100% - 298px);
      margin-right: 30px;
      padding-right: 30px;
      display: flex;
      flex-wrap: wrap;
      .submenu__item{
        width: 25%;
        min-height: 40px;
        display: flex;
        align-items: center;
        a{
          
          color: $gray2;
          flex-grow:1;
          border-right: dashed 1px $gray5;
          padding-left: 25px;
          span{
            font-size: 14px;
            font-weight: 300;
            line-height: 100%;
          }
        }
      }
      a:hover{
        color: $rusline_red;
        span{
          border-bottom: 1px solid $rusline_red;
        }
      }
      .submenu__item:nth-child(4n){
        a{
          border-right: none;
        }

      }
    }
    .hamburger-close{
      position: absolute;
      right: 0;
      transform: translateX(-50%);
      top: 0;
    }
}
.add-menu__drop_menu.hidden{
  height: 0;
  padding: 0;
}




@media screen and (max-width: $m) {
  .mobil{
    display: block;
  }
  .add-menu__drop_menu{
    padding: 0;
    // position: absolute;
    .container{
      z-index: 11;
      background: $white;
      // border-bottom: solid 1px $rusline_red;
    }
    .hamburger-close{
      display: none;
    }
  }
  .section-menu{
    flex-direction: column;
    z-index: 10;
    .drop_menu__title{
      width: 100%;
      border-right: none;
      display: none;
    }
    .drop_menu__submenu-list{
      width: 100%;
      padding-right: 0;
      .submenu__item{
        width: 100%;
        border-bottom: 1px dashed $gray5;
        a{
          border-right: none;
          padding-left: 0;
          span{
            font-size: 16px;
          }
        }
      }
      .submenu__item:last-child{
        border-bottom: none;
      }
    }
  }
  .menu_back{
    min-width: 100vw;
    height: 100vh;
    position: fixed;
    // position: absolute;
    background: $gray2;
    bottom: 0;
    // top: 0;
    opacity: .8;
    z-index: 2;
  }
}