@import "color.scss";

// online-booking
.partition {
  padding-bottom: 15px;
  border-bottom: solid 1px $gray6;
  padding-top: 30px;

  .wrapper-row {
    display: flex;
  }

  .wrapper-row.center {
    align-items: center;
  }

  .mr15 {
    margin-right: 15px;
  }

  .wrapper-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

.partition:last-child {
  border-bottom: none;
}

.partition:first-child {
  padding-top: 0;
}

.roulette {
  h3 {
    margin-bottom: 8px;
  }

  .top {
    height: 10px;
    border-right: solid 1px $rusline_red;
    border-bottom: solid 2px $rusline_red;
    margin-bottom: 15px;
  }

  .one {
    flex: 551px;

    .top {
      border-left: solid 1px $rusline_red;
    }
  }

  .two {
    flex: 364px;
  }

  .three {
    flex: 282px;
  }
}

.benefits-list {
  display: flex;
  justify-content: space-between;
  padding-right: 72px;
  margin-bottom: 30px;

  .benefit-item {
    flex: 20%;
    padding: 0 33px;
    text-align: center;

    .benefit-item_img {
      height: 75px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

hr {
  background: $gray6;
  margin-bottom: 30px;
  height: 1px;
  border: none;
}

// payment-by-credit-card

.cards-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -3px;
  margin-right: -3px;
  margin-top: 15px;


  .card-col {
    width: 50%;
    padding: 0 3px;

    .card-item {
      border: solid 1px $gray6;
      height: 101px;
      width: 100%;
      margin-bottom: 6px;

      .card-item_icons {
        height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

      span {
        font-size: 14px;
        font-weight: 300;
        line-height: 16px;
        color: $gray2;
        text-align: center;
        display: block;
      }

      .card-item_wrapper {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

  }
}


// Paylate

.bagage-item {
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;

  img {
    margin-bottom: 15px;
  }

  span {
    font-size: 14px;
    line-height: 100%;
    font-weight: 300;
  }
}

// timeline ------------------------------
.timeline {
  $buttonNav:72px;
  .timeline-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: $buttonNav;
    padding-right: $buttonNav;

    .owl-dots {
      display: none;
    }
    .timeline-list{
      background: url('../img/line.png') 0 22px repeat-x;
      position: relative;
      .timeline-year{
        position: relative;
        text-align: center;
        height: 44px;
        cursor: pointer;
   
        span{
          position: absolute;
          top: 27px;
          font-weight: 300;
          font-size: 16px;
          line-height: 20px;
          color: $gray2;
        }

        span:before{
          content: '';
          position: absolute;
          width: 11px;
          height: 11px;
          background: $white;
          border: solid 1px $gray4;
          border-radius: 50%;
          top: -50%;
          left: 50%;
          transform: translateX(-50%);

        }
      }
      .timeline-year.red{
        span{
          color: $rusline_red;
        }
        
      } 
    }  
    .timeline_nav {
      position: absolute;
      z-index: -1;
      top: 50%;
      transform: translateY(-50%);
      width: calc(100% + 144px);
      display: flex;
      justify-content: space-between;
      left: -$buttonNav;
      .nav_prev,.nav_next{
        position: relative;
        background: none;
        border: none;
        width: $buttonNav;
        font-size: 22px;
        font-weight: 300;
        color: $rusline_red;
        
      }
      .nav_prev::before, .nav_next::before{
        content: '';
        position: absolute;
        width: 6px;
        height: 11px;
        top: 50%;
        transform: translateY(-50%);
      }
      .nav_prev::before{
        background: url('../img/array_left_red.svg');
        left: 0;

      }
      .nav_next::before{
        background: url('../img/array_right_red.svg');
        right: 0;
      }
    }
  }
}
.timeline_description{
    h3{
      color: $rusline_red;
      text-align: end;
      margin-right: 30px;
    }
  .description-list{
    margin-left: -32px;
    padding-left: 32px;
    border-left: solid 1px $rusline_red;
    .description-item{
      li{
        position: relative;
        padding: 15px 0;
        font-weight: 300;
        font-size: 14px;
        line-height: 120%;
        color: $gray1;
        border-top: 1px dashed $gray5;
      }
      li:last-child{
        border-bottom: 1px dashed $gray5;
      }
      li:before{
        position: absolute;
        content: '';
        width: 11px;
        height: 11px;
        border: 1px solid $rusline_red;
        border-radius: 50%;
        left: -32px;
        top: 50%;
        background: $white;
        transform: translate(-50%, -50%);
      }
    }
  }
}

// about_fleet

.feet-slide-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .btn_prev, .btn_next{
    border: none;
    outline-style: none;
    width: 50px;
    height: 10px;
  }
  .btn_prev{
    background: url('../img/nav_arr_left.svg') center no-repeat;
  }
  .btn_next{
    background: url('../img/nav_arr_right.svg') center no-repeat;
  }
}
.feet-slide_nav-wrapper{
  padding-right: 104px;
  text-align: center;
  .feet-slide-nav{
    margin-bottom: 30px;
    margin-top: 90px;
  }
}
.feet-slide_image{
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.feet-tabs{
  .tabs-list{
    justify-content: center;
  }
  table{
    th{
    font-weight: 400 !important;
  }
  td{
    color: $gray2;
    font-weight: 300;
  }
  }


}
