@import "./color.scss";

.flight-board {
  @media screen and (max-width: $m){
    background: $gray6;
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
    padding-bottom: 15px;
    margin-bottom: -30px;
  }
  .flight-board-filters-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 50px;
    @media screen and (max-width: $m){
      border-radius: 2px;
      overflow: hidden;
      background: $white;
      height: auto;
    }

    .filter-item {
      flex: calc(100% / 3);
      // flex-grow:1;
      border: solid 1px $gray5;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 30px;
      @media screen and (max-width: $m){
        padding: 0;
        border-color: $white;
        border-radius: 2px;
        .date{
          display: none;
        }
      }
      cursor: pointer;
      span {
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        color: $black;
        @media screen and (max-width: $m){
          padding: 15px 0;
          margin: 0 auto;
        }
      }
    }
    .active {
      border-color: $rusline-red;
      @media screen and (max-width: $m){
        border: solid 1px $rusline-red;
        span{
          color: $rusline-red;
        }
      }
    }
  }

  .flight-board_forms-list {
    .form-item_tabs-list {
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: $m){
        overflow-x: auto;
        margin-bottom: 15px;
      }
      .form-item_tab {
        flex: calc(100% / 3);
        border: solid 1px $gray5;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        padding: 12px 0;
        color: $black;
        cursor: pointer;
        border-bottom: none;
        @media screen and (max-width: $m){
          padding: 15px 20px;
          white-space: nowrap;
          margin-right: 15px;
          background: $white;
          border: none;
          border-radius: 5px;
        }
      }
      .form-item_tab.active {
        background: $rusline-red;
        border-color: $rusline-red;
        color: $white;
      }
    }
    .form-item_input{
        width: 100%;
        height: 80px;
        justify-content: space-between;
        border: solid 1px $rusline-red;
        display: flex;
        @media screen and (max-width: $m){
          display: block;
          border: none;
          position: relative;
          height: auto;
        }
        input{
          @media screen and (max-width: $m){
            width: 100%;
            height: 58px;
            border-radius: 2px;
            border: solid 1px $gray4 !important;
            padding-left: 15px;
            margin-bottom: 15px;
          }
        }
        .input-big{
            flex: 2;
            border: none;
            font-size: 16px;
            color: $black;
            font-size: 16px;
            font-weight: 400;
            padding: 0 30px;
            display: none;
            @media screen and (max-width: $m){
              height: 58px;
              padding: 0 15px;
            }
            
        }
        .input-big::placeholder{
            color: $gray3;
        }
        .input-big.active{
            display: block;
        }
        .reset {
            border: none;
            background: url('./../img/reset_icon.svg') no-repeat center;
            @media screen and (max-width: $m){
              height: 58px;
              width: 40px;
              position: absolute;
              right: 0;
              top: 0;
            }
        }
        button:not(.reset ){
          width: 100%;
          border-radius: 2px !important;
        }
        button{
            width: 80px;
            border-radius: 0 !important;
        }

    }
  }
}
