@import "./color.scss";

header {
  padding: 24px 0;
  position: relative;
  z-index: 100;
  @media screen and (max-width: $m) {
    padding: 17px 0;
  }

  .header_wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .brandname {
      display: block;
      width: 224px;
      height: 78px;
      @media screen and (max-width: $m) {
        width: 114px;
        height: 40px;
        background: url("../img/RusLine-logo.svg") no-repeat center;
        background-size: cover;
      }
    }


    nav {
      display: flex;
      align-items: center;
      .button{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .desktop{
          display: block;
        }
        .mobile{
          display: none;
        }
        @media screen and (max-width: $m) {
          padding: 0;
          width: 40px;
          height: 40px;
          border: none;
          span{
            display: none;
          }
          .desktop{
            display: none;
          }
          .mobile{
            display: block;
            margin-right: 0;
          }
        }
    }

      *div {
        width: 30px;
        height: 30px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        margin-left: 15px;
        @media screen and (max-width: $m) {
          margin-left: 0;
          width: 40px;
          height: 40px;
        }
      }

      .account {
        margin-left: 30px;
        @media screen and (max-width: $m) {
          margin-left: 0;
        }
      }
      
      *div:hover {
        transition: ease-out 0.2s;
      }

      .hamburger {
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 4px 0;
        @media screen and (max-width: $m) {
          margin-left: 0;
          width: 40px !important;
          height: 40px !important;
          padding: 12px 10px;
          justify-content: space-between;
        }

        span {
          display: block;
          height: 2px;
          width: 30px;
          border-radius: 2px;
          @media screen and (max-width: $m) {
            width: 20px;
            height: 1px;
          }
        }

      }
      .hamburger:hover {
        span {
          width: 25px;
          transition: ease-out 0.2s;
        }
      }
    }
  }
}

.header__index {
  .brandname {
    background: url("../img/RusLine-logo__white.svg") no-repeat center;
    background-size: cover;
  }

  nav {
    .account{
      .desktop{
        fill: $white;
        display: block;
      }
      .mobile{
        display: none;
      }
      @media screen and (max-width: $m) {
        .desktop{
          display: none;
        }
        .mobile{
          fill: $rusline_red;
          display: block;
        }
    }
  }

    .language-selection svg {
      fill: $white;
      @media screen and (max-width: $m) {
        fill: $rusline_red;
        height: 16px;
        width: 21px !important;
      }
    }

    .sand-blind{
      svg{
        fill: $white;
      }
      @media screen and (max-width: $m) {
        display: none;
      }
    }

    *div:hover {
      background: rgba(51, 51, 51, 0.2);
      background-blend-mode: multiply;
    }
    .hamburger{
      .hamburger_white{
        background: $white;
        @media screen and (max-width: $m) {
          background: $rusline_red;
        }
      }
    }
  }
}
.header_second {
  background: $white;
  .brandname {
    background: url("../img/RusLine-logo.svg") no-repeat center;
  }
  form {
    display: flex;
    margin-right: 30px;
    @media screen and (max-width: $m) {
      display: none;
    }
    .false-input{
        border: 1px solid $gray5;
        border-right: solid 1px $white;
        margin-left: 0;
        border-radius: 0 !important;
        span {
            font-weight: 300;
            font-size: 14px;
            color: $gray3;
          }
    }
    .false-input:hover{
        border: 1px solid $rusline_red;
    }
    
    .departure-city, .arrival-city {
      width: 195px;
    }
    .departure-city{
        border-radius: 2px 0 0 2px !important;
    }
    .exchange{
        svg{
           fill: $rusline_red; 
        }
    }
    .data{
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        svg{
            fill: $gray4;
        }
    }
    .data, .passengers{
        width: 103px;
    }
    .button {
        width: 30px;
        border-radius: 0px 2px 2px 0px;
        svg{
            margin-left: 1px;
            fill: $white;
        }
    }
  }


  .button{
      width: 30px;
      border-color: $rusline_red;
      background: $white;
      svg{
          fill: $rusline_red;
          @media screen and (max-width: $m) {
            fill: none;
          }

      }
  }
  nav {
    .hamburger {
      .hamburger_red {
        background: $rusline_red;
      }
    }
  }

  .language-selection svg {
    fill: $white;
    @media screen and (max-width: $m) {
      fill: $rusline_red;
      height: 16px;
      width: 21px !important;
    }
  }
  .account{
    @media screen and (max-width: $m) {
      svg{
        fill: $rusline_red;
      }
    }
  }
}
