.page_top {
    align-items: center;
  .headline {
    display: flex;
    align-items: center;
    height: 50px;
    color: $black;
    margin-top: 30px;
    h2{
        margin-bottom: 20px;
    }
  }
  .bread-crumbs{
      span {
        a{
            font-weight: 300;
            font-size: 12px;
            line-height: 100%;
            color: $black;
            position: relative;
          }
          a:hover{
              color: $red;
          }
          a:hover:before{
              content: '';
              position: absolute;
              bottom: -2px;
              left: 0;
              width: 100%;
              height: 1px;
              background: $red;
          }
      }
      svg{
          fill:$red;
          margin: 0 5px;
      }
  }
}
.list-of-squares{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    .square-item{
        width: 301px;
        height: 301px;
        margin-bottom: 3px;
        margin-right: 3px;
        border-radius: 2px;
        overflow: hidden;
        border: 1px solid $white;
        position: relative;
        a{  
            color: $white;
            height: 100%;
            width: 100%;
            display: block;
            padding: 30px;
            position: relative;
        }
        a::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: linear-gradient(360deg, rgba(0,0,0,.6), rgba(255,255,255,0) 50%);
            
        }
        img{
           position: absolute;
           top: 0;
           left: 0;
           z-index: -1;
        }
 
        h4{
            padding-top: 180px;
            position: relative;
            z-index: 2;
        }
        p{
            position: relative;
            z-index: -2;
            color: $gray2;
            font-size: 16px;
            line-height: 120%;
        }
    }
    .square-item:hover{
        a::before{
            background: linear-gradient(360deg, rgba(0,0,0,.5), rgba(0,0,0,.5) 100%);
            
        }
        a::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 101px;
            top: 201px;
            left: 0;
            background: url('../img/quard_hover.jpg') no-repeat center;
        }
        h4{
            z-index: -2;
        }
        p{  
            position: absolute;
            z-index: 2;
            top: 215px;
        }
    }
}

