@import "~bootstrap/scss/bootstrap";
@import "../scss/owl.carousel.css";
@import "../scss/reset.css";
@import "./color.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./top_menu.scss";
@import "./index.scss";
@import "./additional_menu.scss";
@import "./add-menu__drop_menu.scss";
@import "./pages_style.scss";
@import "./add_margin.scss";
@import "./map-flight.scss";

//
@import "./tabs-class.scss"; // Сервисы / Классы обслуживания

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap");

// @font-face{
//   font-family: 'Source Sans Pro', sans-serif;
//   src: url('../fonts/SourceSansPro-Light.ttf');
//   font-weight: 300;
// }
// @font-face{
//   font-family: 'Source Sans Pro', sans-serif;
//   src: url('../fonts/SourceSansPro-Regular.ttf');
//   font-weight: 400;
// }
// @font-face{
//   font-family: 'Source Sans Pro', sans-serif;
//   src: url('../fonts/SourceSansPro-SemiBold.ttf');
//   font-weight: 600;
// }

body {
  font-family: "Source Sans Pro", sans-serif;
  position: relative;

  .page-content {
    min-height: calc(100vh - 254px);
    padding-bottom: 60px;
  }

  p {
    margin-bottom: 0;
  }
  :hover {
    transition: ease-out 0.2s !important;
  }

  .container {
    max-width: 1246px;
  }
  a:hover {
    text-decoration: none;
  }
  .button {
    font-size: 14px;
    padding: 0 15px;
    border-radius: 2px;
    line-height: 100%;
    border: 1px solid;
    outline: none;
  }
  .button.bright {
    border-color: $rusline_red;
    color: $rusline_red;
    background: $white;
  }
  .button.bright:hover {
    color: $rusline_red__hover;
    border-color: $rusline_red__hover;
  }
  .button.bright:active {
    color: $rusline_red__active;
    border-color: $rusline_red__active;
  }

  .button.small {
    height: 30px;
  }

  .button.big {
    height: 44px;
    padding: 15px 30px;
  }

  .button.index.white:hover {
    background: rgba(51, 51, 51, 0.2);
    background-blend-mode: multiply;
    transition: ease-out 0.2s;
  }

  .button.index {
    color: $white;
    background: none;

    svg {
      margin-right: 8px;
    }
  }
  .button.txt_icon {
    svg {
      margin-right: 8px;
    }
  }

  .button.red {
    border-color: $rusline_red;
    background: $rusline_red;
    span {
      color: $white;
    }
  }

  .button.widget {
    padding: 6px 8px;
  }
  .button.icon {
    padding: 0;
  }

  .button.red svg {
    fill: $white;
  }

  .button.red:hover {
    background: $rusline_red__hover;
    border-color: $rusline_red__hover;
  }

  .middle-input {
    height: 44px;
    padding: 0 15px;
    border: 1px solid $white;
    flex: 2;
    color: $black !important;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    
  }
  .middle-input::placeholder{
    color: $black;
  }
  .middle-input:focus {
    border-color: $rusline_red;
  }

  // ------------ checkbox

  .checkbox {
    position: relative;
    cursor: pointer;
    input {
      display: none;
    }
    span {
      position: relative;
      left: 24px;
      user-select:none;
      display: block;
    }
    input:checked + span::before{
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      
      border-radius: 1px;
      left: -20px;
      top:3px
    }
  }
  .checkbox.red{
    input:checked + span::before{
      background: $rusline_red;
    }
  }
  .checkbox.red::before{
    border: 1px solid $rusline_red;
  }
  .checkbox::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 1px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
// ---------------- reset button

.reset-button {
  display: flex;
  cursor: pointer;
  user-select: none;
  span{
    display: block;
  }
  .reset-button-icon{
    width: 16px;
    height: 16px;
    border: solid 1px;
    overflow: hidden;
    position: relative;
    span{
      width: 150%;
      height: 1px;
      position: relative;
    }
    span:nth-child(1){
      transform: rotateZ(45deg);
      top: 7px;
      left: -3px; 
    }
    span:nth-child(2){
      transform: rotateZ(-45deg);
      top: 40%;
      left: -25%;
    }
  }
  .reset-button_label{
    margin-left: 8px;
    border-bottom: 1px solid;
  }
}
.reset-button:hover{
  .reset-button_label{
    border: none;
  }
}
.reset-button.red{
  .reset-button-icon{
    border-color: $rusline_red;
    span{
      background: $rusline_red;
    }
  }
}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul {
    margin-bottom: 0;
  }

  h1 {
    font-weight: 300;
    font-size: 50px;
    line-height: 100%;
    color: $black;
  }
  h2 {
    font-weight: 300;
    font-size: 30px;
    line-height: 100%;
    a {
      color: $rusline_red;
      border-bottom: 1px solid $rusline_red;
    }
    :hover {
      color: $rusline_red;
      border-bottom: none;
    }
  }
  h3 {
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
  }

  h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
  }
  .h4_light {
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 15px;
    color: $black;
  }

  .p2 {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
  }
  .p1 {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: $gray2;
  }

  .p3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
  }
  .gray2 {
    color: $gray2;
  }
  .red {
    color: $rusline_red;
  }
  .black {
    color: $black;
  }

  .hamburger-close {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    background: $white;
    border: 1px solid $gray5;
    position: relative;
    span {
      position: absolute;
      display: block;
      width: 20px;
      height: 2px;
      border-radius: 2px;
      background: $gray5;
      top: 0;
      left: 0;
      margin-top: 13px;
      margin-left: 4px;
    }
    .span_14 {
      font-weight: 300;
      font-size: 14px;
      line-height: 100%;
    }
    span:nth-child(1) {
      transform: rotate(45deg);
    }
    span:nth-child(2) {
      transform: rotate(-45deg);
    }
  }
  .hamburger-close:hover {
    span {
      background: $rusline_red;
    }
  }
}
